@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header-index {
  margin: 20px 20px 0px 20px;
}

.c-header-index .c-header-logo {
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 1000px;
}

.c-header-index .c-header-logo .c-logo img {
  width: 150px;
  margin-top: 25vh;
}

.c-header-index .c-header-logo img.keycatch {
  margin: 6vh auto;
}

@media only screen and (max-width: 767px) {
  .c-header-index {
    margin: 10px 10px -10px 10px;
  }
  .c-header-index .c-header-logo {
    width: 100%;
  }
  .c-header-index .c-header-logo .c-logo img {
    height: 130px;
    width: 112px;
  }
  .c-header-index .c-header-logo img.keycatch {
    width: 300px;
    margin: 5vh auto;
  }
}

/* Main menu
------------------------------------------------------------*/
.c-gnav .side-menu-wrapper {
  position: absolute;
  width: 1000px;
  text-align: center;
  margin: 75vh auto 0 auto;
  z-index: 99;
}

.c-gnav .side-menu-wrapper ul {
  padding: 0;
  margin-left: 10vw;
}

.c-gnav .side-menu-wrapper ul li {
  float: left;
}

.c-gnav .side-menu-wrapper ul li a {
  display: inline-block;
  padding-right: 50px;
}

.c-gnav .side-menu-wrapper ul li.socials a {
  color: #fff;
  display: inline-block;
  padding-right: 15px;
  margin-top: -10px;
}

.c-gnav .side-menu-wrapper ul li.socials a img {
  height: 35px;
  width: 35px;
  float: right;
}

@media only screen and (max-width: 767px) {
  .c-gnav .side-menu-wrapper {
    width: 100%;
    margin: 0vh auto;
  }
  .c-gnav .side-menu-wrapper ul {
    margin-left: 0;
  }
  .c-gnav .side-menu-wrapper ul li {
    float: none;
  }
  .c-gnav .side-menu-wrapper ul li a {
    padding-right: 0;
  }
  .c-gnav .side-menu-wrapper ul li.socials a {
    color: #fff;
    display: inline-block;
    padding-right: 15px;
    margin-top: -10px;
  }
  .c-gnav .side-menu-wrapper ul li.socials a img {
    height: 35px;
    width: 35px;
    float: right;
  }
  .c-gnav .button_container {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 23px;
    width: 30px;
    cursor: pointer;
    z-index: 999;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  .c-gnav .button_container.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #642200;
  }
  .c-gnav .button_container.active .middle {
    opacity: 0;
    background: #642200;
  }
  .c-gnav .button_container.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #642200;
  }
  .c-gnav .button_container span {
    background: #642200;
    border: none;
    height: 2px;
    width: 30px;
    position: fixed;
    top: 0;
    right: 30px;
    margin-top: 30px;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  .c-gnav .button_container span:nth-of-type(2) {
    top: 11px;
  }
  .c-gnav .button_container span:nth-of-type(3) {
    top: 22px;
  }
  .c-gnav .overlay {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    visibility: hidden;
    -webkit-transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    transition: opacity 0.35s, visibility 0.35s, height 0.35s;
    overflow: hidden;
  }
  .c-gnav .overlay.open {
    position: fixed;
    visibility: visible;
    height: 100%;
  }
  .c-gnav .overlay.open li {
    -webkit-animation: fadeInRight 0.5s ease forwards;
    animation: fadeInRight 0.5s ease forwards;
    -webkit-animation-delay: 0.35s;
    animation-delay: 0.35s;
  }
  .c-gnav .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }
  .c-gnav .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: 0.45s;
    animation-delay: 0.45s;
  }
  .c-gnav .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
  }
  .c-gnav .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
    margin-top: 40px;
  }
  .c-gnav .overlay ul li {
    display: block;
    position: relative;
    opacity: 0;
    margin-top: 40px;
  }
  .c-gnav .overlay ul li a {
    display: block;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
  }
  .c-gnav .overlay ul li a:hover:after, .c-gnav .overlay ul li a:focus:after, .c-gnav .overlay ul li a:active:after {
    width: 100%;
  }
  .c-gnav .overlay ul li a:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #642200;
    -webkit-transition: 0.35s;
    transition: 0.35s;
    text-align: center;
  }
  .c-gnav .overlay ul li a img {
    margin: 0 auto;
  }
  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}

.c-header-sweets {
  background-image: url(../images/header_sweets.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.c-header-sweets .l-container {
  height: 50%;
  margin: auto;
  width: 1000px;
}

.c-header-sweets .l-container .c-logo {
  text-align: center;
}

.c-header-sweets .l-container .c-logo img {
  width: 140px;
  margin: auto;
}

.c-header-sweets .c-gnav .side-menu-wrapper {
  margin: 90px auto;
}

@media only screen and (max-width: 767px) {
  .c-header-sweets .l-container {
    height: auto;
    width: 100%;
    margin: 30px auto;
  }
  .c-header-sweets .l-container .c-logo img {
    height: 130px;
    width: 112px;
    margin: 150px auto;
  }
  .c-header-sweets .c-gnav .side-menu-wrapper {
    margin: 0px auto;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  background-image: url(../images/footer_about.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.c-footer .c-logo {
  text-align: center;
}

.c-footer .c-logo img {
  margin-top: 70px;
  height: 80px;
  margin-bottom: 30px;
}

.c-footer hr {
  color: #fff;
  width: 230px;
  margin: auto;
}

.c-footer p.text1 {
  font-size: 1.3rem;
  margin: 40px auto;
  line-height: 2;
}

.c-footer .socials {
  margin: 40px auto;
}

.c-footer .socials a img {
  width: 40px;
  margin-left: 15px;
}

.c-footer p.text2 {
  padding-bottom: 90px;
  font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-logo img {
    width: 67px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
  .c-footer hr {
    width: 115px;
    text-align: center;
  }
  .c-footer p.text1 {
    font-size: 1rem;
    margin: 25px auto;
  }
  .c-footer .socials {
    margin: 35px auto;
  }
  .c-footer .socials a img {
    width: 35px;
  }
  .c-footer p.text2 {
    padding-bottom: 60px;
    font-size: 1rem;
  }
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  min-width: 1000px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    margin: 0 auto;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn, .c-btn1, .c-btn2, .c-btn3 {
  display: inline-block;
  text-align: center;
  border: #642200 solid 2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.c-btn1 {
  width: 220px;
  color: #642200;
  font-size: 1.6rem;
}

.c-btn1:hover {
  background-color: #642200;
  color: #fff;
}

.c-btn2 {
  background-color: #642200;
  width: 220px;
  color: #fff;
  font-size: 1.6rem;
}

.c-btn2:hover {
  background-color: #fff;
  color: #642200;
}

.c-btn3 {
  background-color: #642200;
  width: 300px;
  color: #fff;
  font-size: 1.6rem;
}

.c-btn3:hover {
  background-color: #fff;
  color: #642200;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
.text-h3, .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 h3, .p-sweets2 .sweets2-content .item-sweets2-2 h3, .p-sweets3 .sweets3-content h3, .p-sweets4 .sweets4-content .item-sweets4 h3 {
  font-weight: 600;
  color: #642200;
  line-height: 2;
}

.text-p, .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 p, .p-sweets2 .sweets2-content .item-sweets2-2 p, .p-sweets3 .sweets3-content p {
  line-height: 2;
  margin-bottom: 40px;
}

.text-title, .p-sweets1 .l-container h2, .p-sweets3 .l-container h2, .p-sweets4 .l-container h2 {
  text-align: center;
  margin-bottom: 50px;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
Slides
------------------------------------------------------------*/
.c-slides {
  margin: auto;
}

.c-slides .mySlides {
  display: none;
}

.c-slides .mySlides img {
  width: 100%;
  height: 100vh !important;
}

.c-slides .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of sweets
------------------------------------------------------------*/
.p-sweets1 {
  margin: 90px 0 70px;
}

.p-sweets1 .l-container {
  padding-bottom: 70px;
  border-bottom: #cccccc solid 1px;
}

.p-sweets1 .l-container h2 img {
  margin: auto;
}

.p-sweets1 .l-container .sweets-content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-sweets1 .l-container .sweets-content1 .item-sweets1-1 {
  width: 650px;
}

.p-sweets1 .l-container .sweets-content1 .item-sweets1-1 h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.p-sweets1 .l-container .sweets-content1 .item-sweets1-1 p {
  font-size: 1.4rem;
}

.p-sweets1 .l-container .sweets-content1 .item-sweets1-2 img {
  width: 300px;
  margin-left: 50px;
}

.p-sweets2 .sweets2-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-sweets2 .sweets2-content .item-sweets2-1 {
  width: 300px;
}

.p-sweets2 .sweets2-content .item-sweets2-2 {
  width: 700px;
  margin-left: 50px;
}

.p-sweets2 .sweets2-content .item-sweets2-2 h3 {
  font-size: 1.6rem;
  margin-bottom: 30px;
}

.p-sweets2 .sweets2-content .item-sweets2-2 p {
  font-size: 1.4rem;
}

.p-sweets3 {
  margin: 180px 0;
}

.p-sweets3 .l-container h2 img {
  margin: auto;
}

.p-sweets3 .img-content3 img {
  width: 1000px;
}

.p-sweets3 .sweets3-content {
  margin: 50px 80px 0 80px;
}

.p-sweets3 .sweets3-content p {
  font-size: 1.4rem;
}

.p-sweets3 .sweets3-content h3 {
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: #642200 dotted 1px;
}

.p-sweets4 .l-container h2 img {
  margin: auto;
}

.p-sweets4 .sweets4-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-sweets4 .sweets4-content .item-sweets4 {
  width: 320px;
  margin-right: 20px;
  border: #cccccc 1px solid;
  padding: 40px 20px;
}

.p-sweets4 .sweets4-content .item-sweets4:last-child {
  margin-right: 0;
}

.p-sweets4 .sweets4-content .item-sweets4 .voice {
  text-align: center;
}

.p-sweets4 .sweets4-content .item-sweets4 .voice img {
  width: 60px;
  margin-bottom: 35px;
}

.p-sweets4 .sweets4-content .item-sweets4 h3 {
  padding-bottom: 10px;
  border-bottom: #642200 dotted 1px;
  margin-bottom: 10px;
}

.p-sweets4 .c-btn2 {
  margin: 50px auto 90px 390px;
}

@media only screen and (max-width: 767px) {
  .p-sweets1 {
    margin: 60px 15px 30px 15px;
  }
  .p-sweets1 .l-container {
    padding-bottom: 30px;
  }
  .p-sweets1 .l-container .sweets-content1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 {
    width: 100%;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 p {
    font-size: 1.2rem;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-1 .c-btn2 {
    width: 100%;
    font-size: 1.5rem;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-2 {
    text-align: center;
  }
  .p-sweets1 .l-container .sweets-content1 .item-sweets1-2 img {
    width: 150px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .p-sweets2 {
    margin: 0 15px 60px 15px;
  }
  .p-sweets2 .sweets2-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-sweets2 .sweets2-content .item-sweets2-1 {
    width: 100%;
    text-align: center;
  }
  .p-sweets2 .sweets2-content .item-sweets2-1 img {
    width: 150px;
    margin-left: auto;
    margin-bottom: 30px;
  }
  .p-sweets2 .sweets2-content .item-sweets2-2 {
    width: 100%;
    margin-left: 0px;
  }
  .p-sweets2 .sweets2-content .item-sweets2-2 h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  .p-sweets2 .sweets2-content .item-sweets2-2 p {
    font-size: 1.2rem;
  }
  .p-sweets2 .sweets2-content .item-sweets2-2 .c-btn2 {
    width: 100%;
    font-size: 1.5rem;
  }
  .p-sweets3 {
    margin: 120px 15px;
  }
  .p-sweets3 .l-container h2 img {
    margin: auto;
  }
  .p-sweets3 .img-content3 img {
    width: 100%;
  }
  .p-sweets3 .sweets3-content {
    margin: 30px 0px 0px 0px;
  }
  .p-sweets3 .sweets3-content p {
    font-size: 1.2rem;
  }
  .p-sweets3 .sweets3-content h3 {
    font-size: 1.5rem;
  }
  .p-sweets4 .l-container {
    width: 95%;
  }
  .p-sweets4 .sweets4-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .p-sweets4 .sweets4-content .item-sweets4 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 0;
    padding: 35px 15px;
    margin-bottom: 25px;
  }
  .p-sweets4 .sweets4-content .item-sweets4 .voice img {
    width: 55px;
  }
  .p-sweets4 .c-btn2 {
    width: 100%;
    margin: 5px auto 60px 0;
  }
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-index1 {
  height: auto;
  width: 100%;
  background-color: #f7941d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.p-index1 .item-index1 {
  width: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.p-index1 .item-index1 .bg-index1 {
  width: 60%;
  background-color: rgba(255, 255, 255, 0.84);
  margin: 50px auto;
  padding-left: 70px;
  padding-bottom: 45px;
}

.p-index1 .item-index1 .bg-index1 img.img-float {
  float: right;
  margin-top: -20px;
  padding-right: 30px;
}

.p-index1 .item-index1 .bg-index1 h2 img {
  margin-top: 30px;
}

.p-index1 .item-index1 .bg-index1 p {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
  font-size: 3.6rem;
  color: #642200;
  margin: 20px auto 25px auto;
  font-weight: 600;
}

.p-index1 .item-index1-1 {
  background-image: url(../images/bg_bake.jpg);
}

.p-index1 .item-index1-2 {
  background-image: url(../images/bg_cake.jpg);
}

.p-index2 {
  background: #fff3e1;
}

.p-index2 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
}

.p-index2 .l-container .item-index2-1 {
  width: 100px;
}

.p-index2 .l-container .item-index2-2 {
  padding-left: 20px;
}

.p-index2 .l-container .item-index2-2 p {
  font-size: 1.4rem;
  line-height: 2;
  margin-bottom: 40px;
}

.p-index3 {
  background-color: #ff9c46;
}

.p-index3 h2 {
  text-align: center;
}

.p-index3 h2 img {
  padding-top: 90px;
  padding-bottom: 40px;
  margin: auto;
}

.p-index3 .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index3 .item-box {
  width: 300px;
  margin-right: 50px;
}

.p-index3 .item-box h3 {
  color: #642200;
  border-bottom: 1px solid #642200;
  text-align: center;
  font-size: 1.4rem;
  width: 62px;
  padding-bottom: 5px;
  margin: 20px auto;
}

.p-index3 .item-box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  margin-bottom: 15px;
}

.p-index3 .item-box ul li img {
  width: 80px;
}

.p-index3 .item-box ul li .text-box {
  font-size: 1.3rem;
  line-height: 1.5;
  padding-top: 15px;
  padding-left: 15px;
}

.p-index3 .item-box ul li .text-box h4 {
  color: #642200;
  margin-bottom: 5px;
}

.p-index3 .item-box3 {
  margin-right: 0px;
}

.p-index3 .btn-box {
  width: 100%;
  margin: 0 auto;
}

.p-index3 .btn-box a {
  margin: 50px auto 90px 350px;
}

@media only screen and (max-width: 767px) {
  .p-index1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-index1 .item-index1 {
    width: 100%;
    margin: 0 auto;
  }
  .p-index1 .item-index1 .bg-index1 {
    width: 80%;
    margin: 30px auto;
    padding-left: 0px;
    text-align: center;
    padding-bottom: 40px;
  }
  .p-index1 .item-index1 .bg-index1 h2 img {
    margin: 25px auto 0 auto;
  }
  .p-index1 .item-index1 .bg-index1 p {
    font-size: 2rem;
    margin: 25px auto 25px auto;
    line-height: 2;
  }
  .p-index1 .item-index1 .bg-index1 .c-btn1,
  .p-index1 .item-index1 .bg-index1 .c-btn1:hover {
    font-size: 1.5rem;
    background-color: #642200;
    border: #642200 solid 2px;
    color: #fff;
    width: 90%;
  }
  .p-index2 .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 60px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-index2 .l-container .item-index2-1 {
    width: 100%;
    text-align: center;
  }
  .p-index2 .l-container .item-index2-1 img {
    height: 50px;
    margin: 0 auto 45px auto;
  }
  .p-index2 .l-container .item-index2-2 {
    padding: 20px;
  }
  .p-index2 .l-container .item-index2-2 p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  .p-index2 .l-container .item-index2-2 .c-btn2 {
    width: 100%;
    font-size: 1.5rem;
  }
  .p-index3 h2 img {
    padding-top: 60px;
    padding-bottom: 25px;
  }
  .p-index3 .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 20px;
  }
  .p-index3 .item-box {
    width: 100%;
    margin-right: 0px;
  }
  .p-index3 .item-box ul li:last-child {
    margin-bottom: 0px;
  }
  .p-index .btn-box {
    width: 94%;
  }
  .p-index .btn-box a.c-btn3 {
    width: 100%;
    margin: 40px 0px 60px 0px;
    font-size: 1.5rem;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}
/*# sourceMappingURL=style.css.map */