/*
Theme Name: Hakkayu wordpress
Theme URI: http://wordpress.org/themes/twentythirteen
Author: CamTu
Author URI: camtu.com
Description: Đây là một theme đơn giản để thực hành Lập trình theme WordPress
Version: 1.0
License: GNU General Public License v2 or later
License URI: 
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: camtu
*/


/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
    font-size: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

table,
input,
textarea,
select,
option {
    line-height: 1.1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

:focus {
    outline: 0;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

img {
    vertical-align: top;
}

a,
a img {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.sp-only {
    display: none;
}

@media only screen and (max-width: 767px) {
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
}


/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/


/* Header
------------------------------------------------------------*/

.l-main {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 100px 0 40px 0;
}

@media only screen and (max-width: 767px) {
    .l-main {
        padding: 0px 15px 40px 15px;
    }
}

@media only screen and (max-width: 767px) {
    .l-main__main {
        top: 25px;
        position: relative;
    }
}

.l-main__main__bg {
    position: relative;
}

@media only screen and (max-width: 767px) {
    .l-main__main__bg {
        margin-top: -45px;
    }
}

@media only screen and (max-width: 767px) {
    .l-main__main__bg img {
        margin: auto;
    }
}

.l-main__main .l-container {
    width: 1030px;
    position: absolute;
    vertical-align: middle;
    z-index: 7;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .l-main__main .l-container {
        width: 100%;
    }
}

.l-main__text {
    width: 50%;
    padding: 100px 0 60px 0;
    position: absolute;
    z-index: 7;
}

@media only screen and (max-width: 767px) {
    .l-main__text {
        width: 100%;
        padding: 120px 0 190px 0;
    }
}

.l-main__text h2 img {
    margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
    .l-main__text h2 img {
        margin: auto;
        margin-bottom: 20px;
    }
}

.l-main__text hr {
    border-color: #000;
    width: 60px;
    border-width: 1px;
}

@media only screen and (max-width: 767px) {
    .l-main__text hr {
        width: 42px;
    }
}

.l-main__text h3 {
    font-size: 1.6rem;
    margin: 15px auto 35px auto;
}

@media only screen and (max-width: 767px) {
    .l-main__text h3 {
        font-size: 1.5rem;
        margin: 15px auto 20px auto;
    }
}

.l-main__text p {
    font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
    .l-main__text p {
        font-size: 1.5rem;
    }
}

.l-main__text h4 {
    font-size: 3rem;
}

@media only screen and (max-width: 767px) {
    .l-main__text h4 {
        font-size: 2rem;
    }
}

.l-main__bubble {
    position: absolute;
    z-index: 9;
    top: 25%;
    left: 50%;
    margin-left: 20px;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .l-main__bubble {
        display: none;
    }
}

.l-main__bubble img {
    -webkit-animation: float 3s ease-out infinite;
    animation: float 3s ease-out infinite;
}

@-webkit-keyframes float {
    50% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
}

@keyframes float {
    50% {
        -webkit-transform: translate(0, 20px);
        transform: translate(0, 20px);
    }
}

@-webkit-keyframes bubble_float {
    from {
        top: 25%;
    }
    to {
        top: -5%;
    }
}

@keyframes bubble_float {
    from {
        top: 25%;
    }
    to {
        top: -5%;
    }
}

@-webkit-keyframes bubble {
    from {
        top: 0%;
    }
    to {
        top: 25%;
    }
}

@keyframes bubble {
    from {
        top: 0%;
    }
    to {
        top: 25%;
    }
}

.c-header .fix-leaf {
    text-align: center;
}

.c-header .fix-leaf #fixed-leaf-top {
    top: 0;
    right: 45%;
    position: fixed;
    z-index: 98;
}

@media only screen and (max-width: 767px) {
    .c-header .fix-leaf #fixed-leaf-top {
        width: 151px;
    }
}

.c-header .fix-leaf #fixed-leaf-right {
    right: 0;
    top: 30vh;
    position: fixed;
    z-index: 98;
}

@media only screen and (max-width: 767px) {
    .c-header .fix-leaf #fixed-leaf-right {
        width: 118px;
        top: auto;
        bottom: 0;
    }
}

.l-main__case {
    max-width: 1100px;
    margin: auto;
    padding-top: 80px;
}

@media only screen and (max-width: 767px) {
    .l-main__case {
        width: 100%;
        padding-top: 65px;
    }
}

.l-main__case p {
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {
    .l-main__case p {
        font-size: 1.2rem;
    }
}

.l-main__case h2 {
    font-size: 4.6rem;
}

@media only screen and (max-width: 767px) {
    .l-main__case h2 {
        font-size: 2rem;
    }
}

.l-main__case__img {
    margin-top: -50px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img {
        margin-top: 45px;
    }
}

.l-main__case__img__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 80px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item1,
    .l-main__case__img__item4 {
        margin: 0 0 15px;
    }
}

.l-main__case__img__item2,
.l-main__case__img__item3 {
    margin-top: 100px;
    margin-left: 40px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item2,
    .l-main__case__img__item3 {
        margin: 0 0 15px;
    }
}

.l-main__case__img__item5 {
    margin-left: 60px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item5 {
        margin: 0 0 15px;
    }
}

.l-main__case__img__item6 {
    margin-top: 20px;
    margin-left: 20px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item6 {
        margin: 0 0 15px;
    }
}

.l-main__case__img__item7 {
    margin-top: 60px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item7 {
        margin: 0 0 15px;
    }
}

.l-main__case__img__item8 {
    margin-top: -30px;
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item8 {
        margin: 0 0 25px;
    }
}

@media only screen and (max-width: 767px) {
    .l-main__case__img__item2 img,
    .l-main__case__img__item4 img,
    .l-main__case__img__item8 img,
    .l-main__case__img__item6 img {
        float: right;
        margin-right: 25px;
    }
    .l-main__case__img__item1 img,
    .l-main__case__img__item3 img,
    .l-main__case__img__item5 img,
    .l-main__case__img__item7 img {
        margin-left: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .c-header__nav {
        position: fixed;
        background: #1f4242;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity .35s, visibility .35s, height .35s;
        transition: opacity .35s, visibility .35s, height .35s;
        overflow: hidden;
        z-index: 99;
    }
    .c-header__nav.open {
        opacity: 1;
        visibility: visible;
        height: 100%;
    }
    .c-header__nav.close {
        opacity: 0;
        visibility: hidden;
        height: 100%;
    }
}

.c-header__nav__leaf {
    z-index: 101;
}

.c-header__nav__leaf1 {
    position: absolute;
    top: 0;
    left: 0;
}

.c-header__nav__leaf2 {
    position: absolute;
    bottom: 0;
    right: 0;
}


/* Main menu
------------------------------------------------------------*/

.primary-menu {
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 99;
}

@media only screen and (max-width: 767px) {
    .primary-menu {
        position: relative;
        padding: 15px;
        top: 20vh;
        height: 5%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    .primary-menu ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        display: inline-block;
        position: relative;
        width: 100%;
    }
}

.primary-menu ul li {
    text-align: left;
    width: 200px;
    margin-bottom: 15px;
    background-image: url(images/bg_nav.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 9px 0 9px 20px;
}

@media only screen and (max-width: 767px) {
    .primary-menu ul li {
        padding: 25px 0;
        width: 100%;
        margin-bottom: 0;
        display: block;
        height: 100%;
        position: relative;
        opacity: 0;
        border-bottom: solid 1px rgba(255, 255, 255, 0.11);
        background-image: none;
        -webkit-animation: fadeInRight .5s ease forwards;
        animation: fadeInRight .5s ease forwards;
        -webkit-animation-delay: .35s;
        animation-delay: .35s;
    }
    .primary-menu ul li:nth-of-type(2) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s;
    }
    .primary-menu ul li:nth-of-type(3) {
        -webkit-animation-delay: .45s;
        animation-delay: .45s;
    }
    .primary-menu ul li:nth-of-type(4) {
        -webkit-animation-delay: .50s;
        animation-delay: .50s;
    }
}

.primary-menu ul li a {
    color: #fff;
    font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
    .primary-menu ul li a {
        font-size: 2rem;
        display: block;
        position: relative;
        text-decoration: none;
        overflow: hidden;
        text-align: center;
    }
    .primary-menu ul li a::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 3px;
        background: #FFF;
        -webkit-transition: .35s;
        transition: .35s;
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        left: 20%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}


/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    background-color: #fff;
    padding: 65px 0;
}

@media only screen and (max-width: 767px) {
    .c-footer {
        padding: 50px 15px;
    }
}

.c-footer .l-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.c-footer .l-container .item {
    width: 50%;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item {
        width: 100%;
    }
}

.c-footer .l-container .item1 {
    font-size: 1.4rem;
    line-height: 1.8;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item1 {
        font-size: 1.3rem;
        line-height: 1.7;
    }
}

.c-footer .l-container .item2 {
    text-align: right;
    margin-top: 20px;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item2 {
        margin-top: 25px;
    }
}

.c-footer .l-container .item2 h1 img {
    width: 145px;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item2 h1 img {
        width: 100px;
    }
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item2 {
        text-align: center;
    }
}

.c-footer .l-container .item2 p {
    font-size: 1.2rem;
}

@media only screen and (max-width: 767px) {
    .c-footer .l-container .item2 p {
        font-size: 1.1rem;
    }
}


/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/


/* Breadcrumb
------------------------------------------------------------*/


/* layout
------------------------------------------------------------*/

body {
    font-family: "Sawarabi Mincho", sans-serif;
    font-size: 1.4rem;
    color: #000;
    min-width: 1030px;
    background-image: url(images/BG.jpg);
    padding: 30px;
    font-weight: 400;
}

@media only screen and (max-width: 767px) {
    body {
        min-width: 320px;
        padding: 15px;
    }
}

.l-container {
    max-width: 1030px;
    margin: 0 auto;
}

@media only screen and (max-width: 767px) {
    .l-container {
        width: 100%;
    }
}


/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/


/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-btn1 {
    color: #fff;
    display: inline-block;
    width: 310px;
    padding: 10px 0;
    background-color: #25a989;
    font-size: 2.4rem;
    margin-top: 20px;
    border-radius: 30px;
}

@media only screen and (max-width: 767px) {
    .c-btn1 {
        margin-top: 25px;
        width: 200px;
        font-size: 1.6rem;
        padding: 5px 0;
    }
}

.btn-nav {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 27px;
    width: 45px;
    height: 45px;
    background: #1f4242;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    padding: 15px;
    -webkit-transition: opacity .25s ease;
    transition: opacity .25s ease;
}

.btn-nav.active .top,
.btn-nav.active .middle,
.btn-nav.active .bottom {
    background: #1f4242;
}

.btn-nav.active {
    background: #fff;
}

.btn-nav span {
    background: #fff;
    opacity: 0.9;
    border: none;
    height: 3px;
    width: 50%;
    position: absolute;
    top: 0;
    border-radius: 4px;
    left: 11px;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
    cursor: pointer;
}

.btn-nav span:nth-of-type(1) {
    top: 14px;
}

.btn-nav span:nth-of-type(2) {
    top: 22px;
}

.btn-nav span:nth-of-type(3) {
    top: 30px;
}


/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
icon
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
form
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
text
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
navi
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
img
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
list
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
table
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
line
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
video
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
video
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
other
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/


/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-index {
    background-color: #fff;
}

.p-index__point {
    background-image: url(images/bg_content.png);
    background-size: cover;
    padding-top: 100px;
}

@media only screen and (max-width: 767px) {
    .p-index__point {
        padding: 40px 15px 0 15px;
    }
}

.p-index__point__item {
    padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item {
        padding-bottom: 40px;
    }
}

.p-index__point__item1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.p-index__point__item1 .item-point {
    width: 200px;
    text-align: right;
    margin-bottom: 60px;
}

.p-index__point__item1 .item-point img {
    width: 80px;
    height: 108px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item1 .item-point {
        width: 60px;
        margin-bottom: 0;
    }
    .p-index__point__item1 .item-point img {
        width: 57px;
        height: auto;
    }
}

.p-index__point__item1 .item-text {
    text-align: left;
    margin-left: 20px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item1 .item-text {
        margin-left: 15px;
        width: 100%;
    }
}

.p-index__point__item1 .item-text h2 {
    font-size: 3.6rem;
    color: #176b6a;
    margin-bottom: 12px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item1 .item-text h2 {
        font-size: 2rem;
        margin-top: 15px;
        margin-bottom: 0;
    }
}

.p-index__point__item1 .item-text p {
    font-size: 1.4rem;
    line-height: 1.8;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item1 .item-text p {
        font-size: 1.3rem;
        line-height: 1.7;
        margin: 25px 0 20px -65px;
    }
}

.p-index__point__item2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
}

.p-index__point__item2 .box-item {
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item {
        margin: 0 auto 20px auto;
    }
}

.p-index__point__item2 .box-item:last-child {
    margin-right: 0;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item:last-child {
        margin-bottom: 0;
        margin-right: auto;
    }
}

.p-index__point__item2 .box-item .box {
    top: 50%;
    padding: 45px;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 30;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item .box {
        padding: 20px;
        left: 15px;
        right: 15px;
    }
}

.p-index__point__item2 .box-item .box h3 {
    font-size: 2.4rem;
    color: #176b6a;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item .box h3 {
        font-size: 1.6rem;
        margin-bottom: 20px;
    }
}

.p-index__point__item2 .box-item .box hr {
    border-top: 1px solid #176b6a;
    width: 50px;
}

.p-index__point__item2 .box-item .box p {
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item .box p {
        font-size: 1.3rem;
        line-height: 1.7;
        margin: 20px 0;
    }
}

.p-index__point__item2 .box-item .box .c-btn-case {
    width: 200px;
    display: inline-block;
    background-image: url(images/bg_nav.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item .box .c-btn-case {
        width: 132px;
        font-size: 1.3rem;
    }
}

.p-index__point__item2 .box-item:after {
    background-color: #ffffff;
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: 30px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
    z-index: 20;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item:after {
        top: 15px;
        bottom: 15px;
        left: 15px;
        right: 15px;
        border-radius: 20px;
    }
}

.p-index__point__item2 .box-item .btn_more {
    right: 0;
    margin-right: 20px;
    bottom: 0;
    margin-bottom: 20px;
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 767px) {
    .p-index__point__item2 .box-item .btn_more {
        width: 62px;
        margin-right: 15px;
        margin-bottom: 15px;
    }
}

.p-index__point__item2 .box-item:hover .box,
.p-index__point__item2 .box-item.hover .box {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.p-index__point__item2 .box-item:hover:after,
.p-index__point__item2 .box-item.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: 0.85;
}

.p-index__contact {
    text-align: center;
    background-image: url(images/bg_content.png);
    background-size: cover;
}

.p-index__contact h2 {
    font-size: 3rem;
    color: #176b6a;
    margin-bottom: 40px;
}

@media only screen and (max-width: 767px) {
    .p-index__contact h2 {
        font-size: 1.8rem;
        margin-bottom: 30px;
    }
}

.p-index__contact__box {
    max-width: 1100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.p-index__contact__box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box1 {
        margin-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box {
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.p-index__contact__box .no-margin {
    margin-right: 0;
}

.p-index__contact__box__item {
    margin-right: 20px;
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box__item {
        width: 50%;
        margin-right: 0px;
    }
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box__item:first-child {
        text-align: right;
        margin-right: 12.5px;
    }
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box__item:last-child {
        text-align: left;
        margin-left: 12.5px;
    }
}

@media only screen and (max-width: 767px) {
    .p-index__contact__box__item img {
        width: 130px;
        margin: 0;
    }
}

.p-index__contact h4 {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 50px;
    padding-bottom: 100px;
}

@media only screen and (max-width: 767px) {
    .p-index__contact h4 {
        font-size: 1.3rem;
        margin: 0 15px;
        padding-bottom: 55px;
    }
}

.p-index__QA {
    padding: 90px 0 60px 0;
}

@media only screen and (max-width: 767px) {
    .p-index__QA {
        padding: 40px 15px;
    }
}

.p-index__QA h2 {
    color: #176b6a;
    font-size: 3.6rem;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .p-index__QA h2 {
        font-size: 2rem;
    }
}

.p-index__QA ul {
    margin: 50px 85px 0 85px;
}

@media only screen and (max-width: 767px) {
    .p-index__QA ul {
        margin: 25px 0 0;
    }
}

.p-index__QA ul li {
    font-size: 1.4rem;
    margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
    .p-index__QA ul li {
        font-size: 1.3rem;
        margin-bottom: 25px;
        line-height: 1.7;
    }
}

.p-index__QA ul li:last-child {
    margin-bottom: 0;
}

.p-index__QA ul li .title-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
    .p-index__QA ul li .title-icon {
        margin-bottom: 8px;
    }
}

.p-index__QA ul li .title-icon h3 {
    margin-left: 15px;
    color: #176b6a;
    margin-top: 20px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media only screen and (max-width: 767px) {
    .p-index__QA ul li .title-icon h3 {
        margin-top: 5px;
        margin-left: 10px;
    }
}

.p-index__QA ul li .title-icon .icon-Q {
    width: 59px;
}

@media only screen and (max-width: 767px) {
    .p-index__QA ul li .title-icon .icon-Q {
        width: 40px;
    }
}

.p-index__column {
    padding: 50px 0;
}

@media only screen and (max-width: 767px) {
    .p-index__column {
        padding: 0;
    }
}

.p-index__column__banner {
    position: relative;
}

@media only screen and (max-width: 767px) {
    .p-index__column__banner {
        padding: 0 47.5px;
    }
}

.p-index__column__banner__bg img {
    margin: auto;
}

.p-index__column__banner .text-center {
    top: 50%;
}

.p-index__column__banner__text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
    .p-index__column__banner__text {
        top: 30%;
    }
}

.p-index__column__banner__text p {
    font-size: 2rem;
}

@media only screen and (max-width: 767px) {
    .p-index__column__banner__text p {
        font-size: 1.4rem;
    }
}

.p-index__column__banner__text h3 {
    font-size: 4.5rem;
}

@media only screen and (max-width: 767px) {
    .p-index__column__banner__text h3 {
        font-size: 2rem;
    }
}

.p-index__column ul {
    margin: 50px 85px 100px 85px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul {
        margin: 75px 15px 60px 15px;
    }
}

.p-index__column ul li {
    margin-top: 35px;
    border-bottom: #176b6a 1px solid;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li {
        margin-top: 40px;
        border-bottom: none;
    }
}

.p-index__column ul li:first-child {
    margin-top: 0;
}

.p-index__column ul li .column-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img {
        margin-bottom: 10px;
    }
}

.p-index__column ul li .column-img .title_col {
    padding-left: 15px;
    margin-top: 30px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .title_col {
        padding-left: 10px;
        margin-top: 0px;
    }
}

.p-index__column ul li .column-img .title_col h4 {
    font-size: 1.4rem;
    font-weight: 500;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .title_col h4 {
        font-size: 1.1rem;
    }
}

.p-index__column ul li .column-img .title_col h3 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .title_col h3 {
        font-size: 1.5rem;
        line-height: 1.7;
    }
}

.p-index__column ul li .column-img .icon-column {
    width: 275px;
    position: relative;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .icon-column {
        width: 79px;
    }
}

.p-index__column ul li .column-img .icon-column__texthk {
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 15px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .icon-column__texthk {
        top: 0;
        width: 79px;
        left: 0;
    }
}

.p-index__column ul li .column-img .icon-column p {
    position: absolute;
    color: #176b6a;
    font-size: 4.6rem;
    top: 30%;
    left: 68px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-img .icon-column p {
        font-size: 2.3rem;
        left: 25px;
        top: 15%;
    }
}

.p-index__column ul li a {
    background: #176b6a;
    text-align: center;
    border-radius: 7px;
}

.p-index__column ul li a img {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: rotate(180deg);
    -ms-transform: rotate(180deg);
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li a {
        padding-top: 5px;
        margin: auto;
    }
}

.p-index__column ul li .column-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-text {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: none;
    }
}

.p-index__column ul li .column-text p {
    width: 815px;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-text p {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.7;
        margin-bottom: 0px;
    }
}

.p-index__column ul li .column-text .icon-right {
    text-align: right;
}

.p-index__column ul li .column-text .icon-right img {
    width: 15px;
    height: 35px;
    margin-left: 20px;
    margin-top: -30px;
}

@media only screen and (max-width: 767px) {
    .p-index__column ul li .column-text .icon-right img {
        width: 66px;
        height: auto;
        margin: 20px 0 20px auto;
    }
}


/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/