/*------------------------------------------------------------
btn
------------------------------------------------------------*/

.l-btn {
    //-------------------------------------------------------
    &--center {
        text-align: center;
    }
    //-------------------------------------------------------
    &--right {
        text-align: right;
    }
}

.c-btn {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    color: $col_white;
    font-weight: bold;
    &--grey {
        font-size: 1.5rem;
        width: 150px;
        padding: 15px 0;
        background-color: $col_grey;
    }
}

.c-btn1 {
    @extend .c-btn;
    font-size: 1.8rem;
    padding: 17px 0;
    border: 2px solid #000;
    text-transform: uppercase;
    &--yellow {
        width: 300px;
        background-color: $col_yellow_bold;
    }
    &--orange {
        width: 300px;
        background-color: $col_orange;
    }
    &--blue {
        width: $baseWidth;
        background-color: $col_blue;
    }
}

.c-btn2 {
    @extend .c-btn;
    &:before {
        font-family: 'FontAwesome';
        content: "\f107";
        font-weight: 900;
    }
}


/*
------------------------------------------------------------*/