/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-title1 {
    border-width: 1px;
    border-left-width: 7px;
    border-style: solid;
    font-size: 2.4rem;
    padding: 10px 0 10px 20px;
    &--yellow {
        background-color: $col_yellow_light;
        border-color: $col_yellow_bold;
    }
    &--orange {
        background-color: #fff2f2;
        border-color: $col_orange;
    }
    &--blue {
        background-color: #ebebeb;
        border-color: $col_blue;
    }
}

.c-title2 {
    border-bottom: $bor_grey2;
    font-size: 1.8rem;
    font-weight: 500;
    padding-bottom: 7px;
}

.c-title-page {
    border: 2px solid #000;
    font-size: 3.2rem;
    text-align: center;
    padding: 20px 0;
    &--blue {
        background: $col_blue;
    }
}

.c-title3 {
    border-left: 7px solid;
    padding: 7px 20px;
    font-size: 2.4rem;
    &--blue {
        color: $col_blue_bold2;
        border-left-color: $col_blue_bold2;
        background: #bcd5e1;
    }
    &--pink {
        color: $col_pink_bold;
        border-left-color: $col_pink_bold;
        background: #ffe8e9;
    }
}