/*------------------------------------------------------------
text
------------------------------------------------------------*/

.c-text {
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
    &--pink {
        background-color: $col_pink;
    }
    &--green {
        background-color: $col_green;
    }
    &--yellow {
        background-color: $col_yellow;
    }
}


/*------------------------------------------------------------
Caption
------------------------------------------------------------*/

.c-caption {
    font-size: 1.6rem;
    background-color: #ece6e6;
    padding: 7px 15px;
}


/*------------------------------------------------------------
Quote
------------------------------------------------------------*/

.c-quote {
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    padding: 20px 30px;
    &--blue {
        border-color: $col_blue_bold2;
        color: $col_blue_bold2;
    }
    &--pink {
        border-color: $col_pink_bold;
        color: $col_pink_bold;
    }
}


/*
------------------------------------------------------------*/