/*------------------------------------------------------------
img + text
------------------------------------------------------------*/

.c-mainpost {
    position: relative;
    &__img {
        width: 100%;
    }
    &__txt {
        position: absolute;
        z-index: 1;
    }
}


/*
------------------------------------------------------------*/