/*------------------------------------------------------------
list
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-listpost {
    margin: 0;
    &__item {
        display: flex;
    }
}

.c-list1 {
    counter-reset: my-awesome-counter;
    li {
        counter-increment: my-awesome-counter;
    }
    &--bold {
        li:before {
            content: counter(my-awesome-counter) ". ";
            color: $col_pink_bold;
            font-weight: bold;
        }
    }
    &--thin {
        @extend .c-list1;
        li:before {
            content: "3." counter(my-awesome-counter) " ";
            color: $col_pink_bold;
            font-weight: 500;
        }
    }
}

.c-gridpost {
    $root: &;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &--3cols {
        #{$root}__item {
            width: 300px;
        }
    }
    &--2cols {
        #{$root}__item {
            width: 475px;
        }
    }
    &--4cols {
        #{$root}__item {
            width: 235px;
        }
    }
}

.c-boxlink {
    h3 {
        border-bottom: $bor_grey;
    }
    ul {
        li:before {
            font-family: 'FontAwesome';
            font-weight: 900;
        }
    }
    &--circle {
        ul {
            li:before {
                content: "\f111";
                font-size: 0.5rem;
            }
        }
    }
    &--angel-right {
        ul {
            li:before {
                content: "\f105";
                font-size: 1rem;
            }
        }
    }
    &--link {
        ul {
            li:before {
                content: "\f0c1";
                font-size: 1rem;
            }
        }
    }
}