/*------------------------------------------------------------
table
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-table1 {
    border-collapse: collapse;
    tr {
        td,
        th {
            border: $bor_grey;
            padding: 10px
        }
        th {
            background-color: #acd373;
            color: $col_white;
        }
    }
    &--greyred {
        td:nth-child(1) {
            background-color: #ece6e6;
        }
    }
    &--grey {
        td:nth-child(1) {
            background-color: #d3d7d9;
        }
    }
    &--grey-e {
        td:nth-child(1) {
            background-color: #ebebeb;
        }
    }
}