/* Breadcrumb
------------------------------------------------------------*/

.c-breadcrumb {
    li {
        display: inline;
        text-decoration: underline;
        &+:before {
            font-family: 'FontAwesome';
            content: "\f105 ";
            font-weight: 900;
            padding: 0 5px;
            display: inline-block;
        }
        &:last-child {
            text-decoration: none;
        }
        .fa {
            padding: 0 4px;
        }
    }
}