/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    padding-top: 60px;
    &__top {
        padding: 8px 0;
        border-top: $bor_grey;
    }
    &__middle {
        background-color: #fafafa;
        padding: 40px 0;
        border-top: $bor_grey;
        .l-container {
            display: flex;
            justify-content: space-between;
            .c-boxlink {
                width: 300px;
                h3 {
                    padding-bottom: 5px;
                }
                ul {
                    padding-top: 5px;
                }
            }
        }
    }
    &__bottom {
        text-align: center;
        font-size: 1.2rem;
        padding: 20px 0;
        border-top: $bor_grey;
    }
}