/* Header
------------------------------------------------------------*/

.c-header {
    padding: 20px 0;
    &__logo {
        float: left;
    }
    .c-breadcrumb {
        clear: both;
        padding: 50px 0 15px 0;
    }
}


/* Main menu
------------------------------------------------------------*/

.c-gnavi {
    float: right;
    line-height: 50px;
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 30px;
            &:last-child {
                margin-right: 0;
            }
            a {
                font-size: 1.4rem;
                &.is-active,
                &:hover,
                &:active {
                    font-weight: bold;
                }
            }
        }
    }
}