/* layout
------------------------------------------------------------*/

body {
    font-family: $mainFonts;
    font-size: 1.4rem;
    min-width: $baseWidth;
    line-height: 1.4;
    @include breakpoint(sp) {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    width: $baseWidth;
    margin: 0 auto;
}

//-------------------------------------------------------