/*------------------------------------------------------------
btn
------------------------------------------------------------*/

.l-btn {
    &--center {
        text-align: center;
    }
}


/*
------------------------------------------------------------*/

.c-btn1 {
    display: inline-block;
    padding: 2px 18px;
    border-radius: 20px;
    &--gradien {
        color: $col_white;
        background-image: $col_gradien;
    }
    &--img {
        font-size: 1.5rem;
        padding: 12px 25px;
        border-radius: 25px;
        @include breakpoint(sp) {
            font-size: 1.3rem;
            padding: 5px 15px;
            border-radius: 20px;
        }
    }
}

.c-step {
    display: inline-block;
    color: $col_white;
    text-transform: uppercase;
    padding: 3px 30px;
    border: 5px solid rgb(204, 204, 204);
    border-radius: 36px;
    background-color: rgb(33, 42, 55);
}