/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-title_main {
    margin: -110px 0px 50px 80px;
    @include breakpoint(sp) {
        position: absolute;
        top: -90px;
        margin: 0 -50% 0 0;
        left: 50%;
        transform: translate(-50%, -50%);
        img {
            width: 230px;
        }
    }
}

.c-title1 {
    text-align: center;
    font-weight: bold;
    padding: 35px 0 40px 0;
    @include breakpoint(sp) {
        padding: 15px 0 20px 0;
    }
    span {
        display: block;
        &:first-child {
            font-size: 5rem;
            margin-bottom: 10px;
            @include breakpoint(sp) {
                margin-bottom: 0;
                font-size: 2.5rem;
            }
        }
        &:last-child {
            font-size: 2.6rem;
            color: $col_orange;
            text-transform: uppercase;
            @include breakpoint(sp) {
                font-size: 1.3rem;
            }
        }
    }
    &--orange {
        background: $col_orange_bg;
    }
}