    /*------------------------------------------------------------
Posts
------------------------------------------------------------*/
    /* c-posts
---------------------------------------------------------*/
    
    .c-posts {
        //-------------------------------------------------------
        &1 {
            background-image: $col_gradien;
            position: relative;
            color: $col_white;
            max-width: 500px;
            height: 480px;
            @include breakpoint(sp) {
                height: auto;
                margin: 0 auto;
            }
            &__summary {
                position: absolute;
                left: 50px;
                bottom: 55px;
                @include breakpoint(sp) {
                    left: 20px;
                    bottom: 20px;
                }
                p {
                    width: 400px;
                    font-size: 1.8rem;
                    margin-top: 12px;
                    font-weight: bold;
                    line-height: 1.67;
                    @include breakpoint(sp) {
                        width: fit-content;
                        margin-right: 20px;
                        font-size: 1.4rem;
                        line-height: 1.3;
                    }
                }
            }
            .c-btn1 {
                font-size: 1.6rem;
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                }
            }
            &:hover {
                margin-right: -20px;
                margin-top: 20px;
                @include breakpoint(sp) {
                    margin: 10px auto;
                }
                img {
                    margin-left: -20px;
                    margin-top: -20px;
                    @include breakpoint(sp) {
                        margin: -10px 0 10px -10px;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &2 {
            margin-top: 90px;
            position: relative;
            @include breakpoint(sp) {
                text-align: center;
                padding: 20px;
                border-bottom: 2px solid;
                border-image: $col_gradien;
                border-image-slice: 1;
                margin: 0;
                counter-increment: section; //numbers
                &:before {
                    content: 'STEP 'counter(section);
                    position: absolute;
                    border: 3px solid rgb(204, 204, 204);
                    border-radius: 20px;
                    background-color: rgb(33, 42, 55);
                    text-align: center;
                    line-height: 20px;
                    color: $col_white;
                    font-size: 1rem;
                    width: 50px;
                    height: 20px;
                }
                &:nth-child(odd) {
                    border-right: 2px solid;
                    padding-left: 0;
                    &:before {
                        left: 100%;
                        margin-left: -20px;
                    }
                }
                &:nth-child(even) {
                    border-left: 2px solid;
                    padding-right: 0;
                    &:before {
                        right: 100%;
                        margin-right: -20px;
                    }
                }
                &:last-child {
                    border-bottom: 0;
                }
            }
            &__summary {
                text-align: left;
                background: $col_white;
                width: 570px;
                height: 300px;
                position: absolute;
                right: 0;
                top: 80px;
                padding-left: 50px;
                @include breakpoint(sp) {
                    text-align: left;
                    width: 100%;
                    height: auto;
                    position: relative;
                    top: 10px;
                    padding-left: 0;
                }
                h3 {
                    padding-top: 20px;
                    clear: both;
                    font-size: 2.6rem;
                    @include breakpoint(sp) {
                        padding-top: 0;
                        font-size: 2rem;
                        line-height: 1.3;
                    }
                }
                p {
                    font-size: 1.5rem;
                    margin-top: 5px;
                    line-height: 1.73;
                    @include breakpoint(sp) {
                        font-size: 1.3rem;
                        margin-top: 5px;
                        line-height: 1.5;
                    }
                }
            }
            .c-step {
                font-size: 1.8rem;
                float: left;
                margin-top: -23px;
                margin-left: -25px;
                @include breakpoint(sp) {
                    display: none;
                }
            }
        }
    }