/*------------------------------------------------------------
line
------------------------------------------------------------*/

.c-line {
    background-color: #cccccc;
    position: absolute;
    width: 2px;
    top: -171px;
    left: 80px;
    height: 150px;
    z-index: 56;
}