    /*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
    
    .p-index {
        font-weight: 500;
        &__mainpost {
            padding-bottom: 20px;
            .c-mainpost {
                &__txt {
                    width: 460px;
                    left: 40px;
                    bottom: 40px;
                    a {
                        font-weight: bold;
                        font-size: 1.6rem;
                        margin-bottom: 10px;
                    }
                    h2 {
                        font-size: 2rem;
                        line-height: 1.5;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &__news {
            padding: 20px 0 60px 0;
            .c-listpost {
                padding: 30px 0;
                &__item {
                    margin-bottom: 30px;
                }
                &__img {
                    position: relative;
                    a {
                        position: absolute;
                        z-index: 1;
                        top: 0;
                    }
                }
                &__txt {
                    width: 650px;
                    padding-left: 40px;
                    position: relative;
                    h3 {
                        font-size: 1.6rem;
                        margin-bottom: 10px;
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.4;
                    }
                    a {
                        position: absolute;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &__feature {
            padding: 60px 0;
            background-color: #fafafa;
            .c-gridpost {
                padding: 30px 0 10px 0;
                &__item {
                    margin-bottom: 45px;
                    .c-text {
                        margin: 15px 0;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &__blog {
            padding: 60px 0;
            .c-gridpost {
                padding: 30px 0 0;
                &__item {
                    margin-bottom: 45px;
                    .c-text {
                        margin: 15px 0;
                    }
                }
            }
        }
    }