/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-link2 {
    font-size: 1.5rem;
    line-height: 1.33;
    font-weight: 500;
    //-------------------------------------------------------
    &__content1 {
        padding: 50px 0 20px 0;
        .c-title3 {
            margin-bottom: 25px;
        }
        h4 {
            font-size: 1.6rem;
            color: $col_blue_bold2;
            margin-top: 30px;
        }
        .c-quote {
            margin-top: 15px;
        }
    }
    //-------------------------------------------------------
    &__content2 {
        padding: 50px 0 65px 0;
        .c-title3 {
            margin-bottom: 20px;
        }
        h4 {
            margin: 35px 0 8px 0;
            font-size: 1.6rem;
            color: $col_pink_bold;
        }
        .c-list1 {
            &--bold {
                margin-top: 30px;
            }
            li {
                margin-bottom: 6px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
            &--thin {
                margin-top: 6px;
                margin-left: 35px;
            }
        }
        .c-quote {
            margin: 20px 0 35px 0;
        }
        .c-table1 {
            margin-top: 12px;
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            td {
                &:nth-child(1) {
                    width: 175px;
                }
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    width: 275px;
                }
            }
        }
    }
}