/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-link1 {
    font-weight: 500;
    &__nav {
        width: $baseWidth;
        margin: 0 auto;
        padding-bottom: 35px;
        display: flex;
        justify-content: space-between;
        .c-btn2 {
            width: 300px;
            background-color: $col_blue_bold;
            color: $col_white;
            padding: 10px 0;
            font-size: 1.6rem;
            font-weight: 500
        }
    }
    //-------------------------------------------------------
    &__anchor1 {
        padding: 30px 0 5px 0;
        .c-title2 {
            margin-bottom: 25px;
        }
        .c-gridpost {
            margin-top: 18px;
            &__item {
                margin-bottom: 45px;
                .c-text {
                    margin: 15px 0;
                }
            }
        }
    }
    //-------------------------------------------------------
    &__anchor2 {
        .c-gridpost {
            padding: 30px 0 35px 0;
            &__item {
                margin-bottom: 15px;
                .c-text {
                    margin: 15px 0;
                }
            }
        }
    }
    &__anchor3 {
        padding-bottom: 30px;
        &__table {
            padding: 30px 0 20px 0;
            p {
                padding: 20px 0 15px 0;
            }
            .c-table1 {
                text-align: center;
                td {
                    &:nth-child(1) {
                        width: 66px;
                    }
                    &:nth-child(2),
                    &:nth-child(3),
                    &:nth-child(4) {
                        width: 141px;
                    }
                    &.is-current {
                        background: $col_blue;
                    }
                }
            }
        }
    }
}