@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

.pc-only {
  display: block;
}

.tabl-only {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .pc-only {
    display: none !important;
  }
  .tabl-only {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .none-only {
    display: none;
  }
  .pc-only {
    display: none;
  }
  .tabl-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  position: relative;
  clear: both;
}

.c-header__fixed {
  top: 0;
}

.c-header__fixed1 {
  position: fixed;
  left: 0;
  z-index: 2;
}

.c-header__fixed2 {
  position: fixed;
  right: 0;
  z-index: 3;
}

.c-header__fixed2 img:nth-child(1) {
  float: right;
}

.c-header__fixed2 img:nth-child(2) {
  margin-top: 70px;
  margin-right: -80px;
}

.c-header__fixed2 img:nth-child(3) {
  position: absolute;
  margin-top: 135px;
  right: 20px;
}

.c-header__fixed2 img:nth-child(2):hover, .c-header__fixed2 img:nth-child(3):hover {
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
  animation: swinging 3.5s ease-in-out forwards infinite;
}

@-webkit-keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
  }
}

@keyframes swinging {
  0% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.c-header__logo {
  position: relative;
  text-align: center;
  margin-top: -10px;
  z-index: 2;
}

@media only screen and (max-width: 767px) {
  .c-header__logo {
    margin-top: -20px;
  }
}

.c-header__logo img {
  width: 146px;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .c-header__logo img {
    width: 125px;
  }
}

.c-header__nav {
  position: relative;
  z-index: 2;
}

.c-header__nav__top {
  margin-top: 25px;
  float: right;
}

.c-header__nav__top li {
  display: inline;
  margin-right: 10px;
}

.c-header__nav__top li a {
  font-weight: 500;
}

.c-header__nav__top li a .fa-phone {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.c-header__nav__top li:first-child a {
  font-size: 1.6rem;
}

.c-header__nav__top li:last-child {
  margin-right: 0;
}

.c-header__nav__top li:last-child a {
  font-size: 1.3rem;
}

.c-main {
  position: relative;
}

.c-main__slide {
  min-height: 500px;
  position: relative;
  background-image: url("../img/main_img01.jpg");
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 767px) {
  .c-main__slide {
    min-height: 300px;
    background-position: center right;
  }
}

.c-main__slide img {
  display: none;
}

.c-main__txt {
  position: absolute;
  bottom: 30px;
  width: 490px;
  z-index: 2;
}

@media only screen and (max-width: 1024px) {
  .c-main__txt {
    width: auto;
    left: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .c-main__txt {
    bottom: 35px;
    left: 10px;
  }
}

.c-main__txt p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: #fff;
  font-size: 2.4rem;
  padding-left: 10px;
  margin-top: 5px;
  font-weight: 500;
  letter-spacing: -2px;
}

@media only screen and (max-width: 767px) {
  .c-main__txt p {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 10px;
  }
}

/* Main menu
------------------------------------------------------------*/
.c-gnavi {
  clear: both;
  padding-top: 20px;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi {
    padding-top: 0;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.55);
    overflow: auto;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

@media only screen and (max-width: 1024px) {
  .c-gnavi .overlay-content {
    position: absolute;
    width: 450px;
    right: 0;
    height: 100%;
    background-color: #41c9e3;
    text-align: center;
    padding-top: 80px;
    z-index: 3;
    overflow: auto;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnavi .overlay-content {
    width: 225px;
    padding-top: 60px;
  }
}

.c-gnavi li {
  top: 0;
  position: relative;
  display: inline-block;
  text-align: center;
  height: 50px;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li {
    background-image: none !important;
    width: 100% !important;
    margin: 0 !important;
    height: 55px;
    padding: 0 40px !important;
    text-align: left;
    border-bottom: 1px solid #185963;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnavi li {
    height: 40px;
    border-bottom: 0;
    padding: 0 20px !important;
  }
}

.c-gnavi li img {
  top: -20px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li img {
    display: none;
  }
}

.c-gnavi li div {
  position: absolute;
  top: 0;
  left: 50%;
  right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li div {
    position: relative;
    left: 0;
    right: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.c-gnavi li .is-hover {
  display: none;
}

.c-gnavi li:hover .is-nothover {
  display: none;
}

.c-gnavi li:hover .is-hover {
  display: inline-block;
  -webkit-animation: rotation 4s infinite linear;
  animation: rotation 4s infinite linear;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li:hover .is-hover {
    display: none;
  }
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.c-gnavi li ul {
  display: none;
}

.c-gnavi li:hover, .c-gnavi li:focus {
  cursor: pointer;
}

.c-gnavi li:hover ul, .c-gnavi li:focus ul {
  display: block;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li:hover ul, .c-gnavi li:focus ul {
    display: none;
  }
}

.c-gnavi li a span {
  display: block;
}

.c-gnavi li a span:nth-child(1) {
  font-size: 1.6rem;
  font-weight: bold;
}

.c-gnavi li a span:last-child {
  font-size: 1.2rem;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li a span {
    line-height: 55px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnavi li a span {
    font-size: 1.4rem;
    line-height: 40px;
  }
}

.c-gnavi li a i {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li a i {
    display: block;
    float: right;
    line-height: 55px;
    font-size: 1.6rem;
    color: #185963;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnavi li a i {
    font-size: 1.4rem;
    line-height: 40px;
  }
}

.c-gnavi li:nth-child(2) {
  position: relative;
  width: 130px;
  padding-bottom: 100px;
}

.c-gnavi li:nth-child(2) .c-subnav {
  background: #fff6f4;
  left: -20px;
}

.c-gnavi li:nth-child(3) {
  width: 120px;
}

.c-gnavi li:nth-child(4) {
  width: 120px;
}

.c-gnavi li:nth-child(5) {
  margin-top: 12px;
  position: absolute;
  margin-left: 10px;
  width: 200px;
}

.c-gnavi li:nth-child(5) img {
  width: 146px;
  height: auto;
}

.c-gnavi li:nth-child(6) {
  width: 120px;
  margin-left: 233px;
  padding-bottom: 100px;
}

.c-gnavi li:nth-child(6) .c-subnav {
  background: #f2fff2;
  left: -35px;
}

.c-gnavi li:nth-child(7) {
  width: 130px;
}

.c-gnavi li:nth-child(8) {
  width: 103px;
  margin-right: 0;
}

@media only screen and (max-width: 1024px) {
  .c-gnavi li:nth-child(8) {
    border-bottom: 0;
  }
}

.c-subnav {
  position: absolute;
  margin-top: -5px;
  padding-top: 10px;
}

.c-subnav li {
  text-align: left;
  width: 160px !important;
  position: relative;
  margin-left: 10px;
}

.c-subnav li:nth-child(2) {
  padding-bottom: 0;
}

.c-subnav li:nth-child(5) {
  position: relative;
  margin-top: 0;
}

.c-subnav li:nth-child(5) img {
  width: auto;
}

.c-subnav li a {
  line-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-subnav li a img {
  top: 0;
}

.c-subnav li a span {
  margin-left: 12px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.3rem;
}

.c-closeNav {
  position: absolute;
  width: 410px;
  top: 0;
  right: 0;
  font-size: 1.8rem;
  font-weight: bold;
  z-index: 99;
  background: #185963;
  padding: 25px 0 25px 40px;
}

@media only screen and (max-width: 767px) {
  .c-closeNav {
    padding: 15px 20px;
    width: 185px;
    font-size: 1.5rem;
  }
  .c-closeNav i {
    font-size: 1.8rem;
  }
}

.c-openNav {
  position: fixed;
  top: 9px;
  font-size: 35px;
  cursor: pointer;
  background: #41c9e3;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  z-index: 2;
  right: 10px;
  color: #fff;
}

.c-openNav i {
  margin-left: 12px;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer .l-container {
  max-width: 980px;
}

@media only screen and (max-width: 767px) {
  .c-footer .l-container {
    max-width: 100%;
  }
}

.c-footer__navLink {
  background: #ebf3f6;
  padding: 17px 0;
}

@media only screen and (max-width: 1024px) {
  .c-footer__navLink .l-container {
    padding: 0 12px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__navLink {
    display: none;
  }
}

.c-footer__content {
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-footer__content {
    display: block;
    text-align: center;
    padding: 20px 0;
  }
}

.c-footer__content h1 {
  width: 240px;
}

@media only screen and (max-width: 767px) {
  .c-footer__content h1 {
    width: 100%;
    margin: auto;
    margin-bottom: 20px;
  }
}

.c-footer__content h1 img {
  width: 200px;
}

@media only screen and (max-width: 767px) {
  .c-footer__content h1 img {
    width: 181px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__content p {
    display: none;
  }
}

.c-footer__bottom {
  padding: 25px 0 105px 0;
  border-top: 1px solid #ccc;
  color: #a0a0a0;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .c-footer__bottom {
    padding: 25px 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__bottom {
    padding: 18px 0 40px 0;
  }
}

.c-footer__bottom ul {
  width: 50%;
}

.c-footer__bottom .c-copyright {
  width: 50%;
  text-align: right;
}

@media only screen and (max-width: 767px) {
  .c-footer__bottom .c-copyright {
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }
}

.c-icon a {
  margin-right: 8px;
  display: inline-block;
}

.c-icon a:last-child {
  margin-right: 0;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  min-width: 1300px;
}

@media only screen and (max-width: 1024px) {
  body {
    min-width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  max-width: 980px;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .l-container {
    max-width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .l-container {
    max-width: 100%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid;
  padding: 10px 0;
  width: 273px;
}

@media only screen and (max-width: 1024px) {
  .c-btn1 {
    border-radius: 2.5px;
    width: 224px;
    font-size: 1.5rem;
  }
}

.c-btn1--pink {
  color: #e74857;
  border-color: #e74857;
}

.c-btn1--pink:hover {
  color: #fff;
  background: #e74857;
}

.c-btnImg {
  position: absolute;
  right: 64px;
  bottom: 20px;
}

.c-btnImg span {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-btnImg span {
    font-size: 1.4rem;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1024px) {
  .c-btnImg {
    top: 55px;
    bottom: 35px;
  }
}

@media only screen and (max-width: 767px) {
  .c-btnImg {
    top: 12px;
    bottom: 5px;
    right: 20px;
  }
}

.c-btn2 {
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0;
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 1024px) {
  .c-btn2 {
    border-right: 0;
  }
}

.c-btn2 p {
  font-size: 1.4rem;
  margin-right: auto;
}

.c-btn2 img {
  width: 37px;
  margin-left: auto;
  margin-right: 10px;
}

@media only screen and (max-width: 767px) {
  .c-btn2 img {
    width: 28px;
  }
}

.c-btn2--green {
  background: #98d1b8;
}

.c-btn2--purple {
  background: #9da9cb;
}

.c-btn2--pink {
  background: #e0aab7;
}

.c-btn2--orange {
  background: #e7cc6d;
}

.c-btn3 {
  padding: 11px 0;
  display: inline-block;
  border: 1px solid;
  border-radius: 3px;
  width: 216px;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-btn3 {
    padding: 10px 0;
    font-size: 1.5rem;
    width: 224;
    border-radius: 2px;
  }
}

.c-btn3--grey {
  margin-top: 25px;
  color: #50717a;
  border-color: #50717a;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .c-btn3--grey {
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-btn3--grey {
    margin-top: -5px;
  }
}

.c-btn3--grey:hover {
  color: #fff;
  background: #50717a;
}

.c-btn3--red {
  border: 0;
  width: 220px;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #e74857;
}

.c-btn4 {
  font-size: 1.3rem;
  font-weight: bold;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 span {
  display: block;
}

.c-title1 span:nth-child(1) {
  font-size: 1.53rem;
}

.c-title1 span:nth-child(2) {
  font-size: 2.5rem;
}

.c-title1--vertical {
  height: 35%;
  margin-top: 100px;
}

@media only screen and (max-width: 1024px) {
  .c-title1--vertical {
    height: auto;
    margin-top: 0;
    -webkit-transform: none;
            transform: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.c-title1--vertical span:nth-child(1) {
  position: absolute;
  top: 63px;
  right: 32px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #a0e5f5;
  font-weight: 500;
}

@media only screen and (max-width: 1024px) {
  .c-title1--vertical span:nth-child(1) {
    position: relative;
    top: 0;
    right: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media only screen and (max-width: 767px) {
  .c-title1--vertical span:nth-child(1) {
    font-size: 1.2rem;
  }
}

.c-title1--vertical span:nth-child(2) {
  position: absolute;
  top: 50px;
  right: 85px;
  width: 20px;
  line-height: 1;
}

@media only screen and (max-width: 1024px) {
  .c-title1--vertical span:nth-child(2) {
    width: auto;
    position: relative;
    top: 0;
    right: 0;
    letter-spacing: -3px;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 767px) {
  .c-title1--vertical span:nth-child(2) {
    font-size: 1.5rem;
    letter-spacing: -2px;
  }
}

.c-title1--blue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
}

.c-title1--blue span:nth-child(1) {
  color: #64c7e1;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-title1--blue span:nth-child(1) {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .c-title1--blue span:nth-child(2) {
    font-size: 2rem;
  }
}

.c-title1--inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-title1--inline span:nth-child(1) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0 0 20px;
  color: #64c7e1;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-title1--inline span:nth-child(1) {
    font-size: 1.4rem;
    margin: 4px 0 0 15px;
  }
}

@media only screen and (max-width: 767px) {
  .c-title1--inline span:nth-child(2) {
    font-size: 1.6rem;
  }
}

.c-title2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
  padding-left: 15px;
  border-left: 5px solid #fff;
}

@media only screen and (max-width: 767px) {
  .c-title2 {
    padding-left: 10px;
  }
}

/*------------------------------------------------------------
Slide
------------------------------------------------------------*/
.c-slide1 {
  min-height: 500px;
  background-image: url(../img/main_img01.jpg);
  background-size: cover;
  text-align: center;
  background-position: center top;
}

@media only screen and (max-width: 767px) {
  .c-slide1 {
    min-height: 300px;
  }
}

/*
------------------------------------------------------------*/
@media only screen and (max-width: 767px) {
  .c-slide2 {
    display: none;
  }
}

.c-slide2__item {
  overflow: hidden;
  width: 100%;
  background: #fff;
}

.c-slide2__animation {
  width: auto;
  height: 200px;
  font-size: 0px;
}

.c-slide2__animation div {
  display: inline-block;
  width: auto;
  float: none;
}

/*------------------------------------------------------------
form
------------------------------------------------------------*/
.c-cat1 {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 2.5px 7.5px;
  border-radius: 3px;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .c-cat1 {
    font-size: 1.2rem;
  }
}

.c-cat1--green {
  background-color: #b6dc5c;
}

.c-cat1--purple {
  background-color: #9da9cb;
}

.c-cat1--blue {
  font-size: 1.2rem;
  background-color: #41c9e3;
  padding: 4.5px 8.5px;
}

@media only screen and (max-width: 767px) {
  .c-cat1--blue {
    padding: 1px 4px;
  }
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
posts
------------------------------------------------------------*/
.l-content--2cols {
  padding-top: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media only screen and (max-width: 1024px) {
  .l-content--2cols {
    padding: 45px 0 20px 0;
    display: block;
  }
}

.l-content--2cols .c-posts3 {
  width: 490px;
  margin-bottom: 60px;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .l-content--2cols .c-posts3 {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--2cols .c-posts3 {
    margin-bottom: 25px;
  }
}

.l-content--3cols {
  padding: 45px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .l-content--3cols {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--3cols {
    padding: 35px 0 60px 0;
  }
}

.l-content--3cols .c-posts2 {
  width: 324px;
  margin: 0;
  padding: 0 30px;
}

@media only screen and (max-width: 1024px) {
  .l-content--3cols .c-posts2 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 40px auto;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--3cols .c-posts2 {
    width: 100%;
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .l-content--3cols .c-posts2:last-child {
    margin-bottom: 0;
  }
}

.l-content--4cols {
  padding: 35px 0 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .l-content--4cols {
    padding: 40px 0 75px 0;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--4cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 20px 18px 30px 18px;
  }
}

.l-content--4cols .c-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .l-content--4cols .c-item {
    margin-right: 14px;
    margin-bottom: 15px;
  }
  .l-content--4cols .c-item div {
    margin-right: 14px;
  }
  .l-content--4cols .c-item div:nth-child(2n) {
    margin-right: 0;
  }
  .l-content--4cols .c-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--4cols .c-item {
    margin-right: 0;
  }
  .l-content--4cols .c-item div:nth-child(1n) {
    margin-left: auto;
  }
  .l-content--4cols .c-item div:nth-child(2n) {
    margin-right: auto;
  }
}

@media only screen and (max-width: 1024px) {
  .l-content--4cols .c-item:nth-child(4n) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--4cols .c-item:nth-child(2n) {
    margin-right: 0;
  }
}

.l-content--4cols .c-item img {
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .l-content--4cols .c-item img {
    width: 164px;
    margin: 0;
  }
}

@media only screen and (max-width: 767px) {
  .l-content--4cols .c-item img {
    width: 112px;
  }
}

/*
------------------------------------------------------------*/
.c-posts1 {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0;
  background: #fff;
  border-right: 1px solid #ccc;
}

@media only screen and (max-width: 1024px) {
  .c-posts1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts1 {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    border-bottom: 1px solid #ccc;
  }
}

.c-posts1__thumbnail {
  width: 100%;
  min-height: 210px;
  background-size: cover;
  background-position: center center;
}

.c-posts1__thumbnail img {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .c-posts1__thumbnail {
    width: 50%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts1__thumbnail {
    width: 33%;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    min-height: 150px;
  }
}

.c-posts1__summary {
  padding: 15px 20px 10px 20px;
  border-top: 3px solid;
}

@media only screen and (max-width: 1024px) {
  .c-posts1__summary {
    padding: 40px 10px 5px 15px;
    border-top: 0;
    border-left: 3px solid;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary {
    padding: 15px 20px 15px 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-left: 2px solid;
  }
}

.c-posts1__summary h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary h3 {
    font-size: 1.4rem;
    line-height: 1.42;
  }
}

.c-posts1__summary p {
  font-size: 1.5rem;
  line-height: 1.3;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary p {
    font-size: 1.4rem;
    line-height: 1.42;
  }
}

.c-posts2 {
  position: relative;
}

.c-posts2__thumbnail {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-posts2__thumbnail {
    width: 33%;
  }
}

.c-posts2__thumbnail h3 {
  position: absolute;
  bottom: 8px;
  left: 25px;
}

@media only screen and (max-width: 767px) {
  .c-posts2__thumbnail h3 {
    position: relative;
    left: 0;
    top: 7px;
  }
}

.c-posts2__thumbnail h3 span {
  display: block;
  background: #fff;
  padding: 2px 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
  border-radius: 3px;
  font-size: 1.3rem;
}

@media only screen and (max-width: 767px) {
  .c-posts2__thumbnail h3 span:first-child {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .c-posts2__thumbnail h3 span:last-child {
    margin-top: -10px;
    font-size: 1.2rem;
  }
}

.c-posts2__summary {
  padding: 15px 0px 72px 0px;
  font-weight: 400;
}

@media only screen and (max-width: 1024px) {
  .c-posts2__summary {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 0px 0px 0px 10px;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary {
    padding-left: 15px;
    margin-bottom: -5px;
  }
}

.c-posts2__summary p {
  font-size: 1.5rem;
  line-height: 1.66;
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary p {
    font-size: 1.2rem;
  }
}

.c-posts2__summary ul {
  margin-top: 20px;
  position: absolute;
  bottom: 0;
}

@media only screen and (max-width: 1024px) {
  .c-posts2__summary ul {
    bottom: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary ul {
    position: relative;
    bottom: 0;
  }
}

.c-posts2__summary ul li {
  margin-bottom: 4px;
}

.c-posts2__summary ul li span {
  line-height: 1.785;
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary ul li span {
    font-size: 1.2rem;
    margin-left: 5px;
    line-height: 1.66;
  }
}

.c-posts3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.c-posts3__thumbnail {
  width: 200px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.c-posts3__thumbnail .is-zoom {
  margin-top: 2px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

@media only screen and (max-width: 767px) {
  .c-posts3__thumbnail .is-zoom {
    margin-top: 1px;
    width: 70%;
  }
}

.c-posts3__thumbnail .is-hover {
  position: absolute;
  top: 50%;
  left: 50%;
  right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  .c-posts3__thumbnail .is-hover {
    width: 77%;
  }
}

@media only screen and (max-width: 767px) {
  .c-posts3__thumbnail {
    width: 40%;
  }
}

.c-posts3__summary {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-posts3__summary span {
  font-size: 1.3rem;
  color: #ccc;
  font-weight: bold;
  margin-left: 10px;
  letter-spacing: 0.15rem;
}

@media only screen and (max-width: 767px) {
  .c-posts3__summary span {
    font-size: 1.2rem;
    margin-left: 8px;
  }
}

.c-posts3__summary h3 {
  font-size: 1.6rem;
  line-height: 1.56;
  margin: 20px 0 12px 0;
}

@media only screen and (max-width: 767px) {
  .c-posts3__summary h3 {
    font-size: 1.2rem;
    line-height: 1.67;
    margin-top: 15px;
  }
}

.c-posts3__summary p {
  font-size: 1.5rem;
  line-height: 1.67;
}

@media only screen and (max-width: 767px) {
  .c-posts3__summary p {
    display: none;
  }
}

/*------------------------------------------------------------
lists
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1 {
  clear: both;
  margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
  .c-list1 {
    margin-top: 20px;
  }
}

.c-list1 li {
  margin-bottom: 10px;
  margin-right: 30px;
}

@media only screen and (max-width: 767px) {
  .c-list1 li {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

.c-list1 li a {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-list1 li a {
    font-size: 1.2rem;
  }
}

.c-list1 li:last-child {
  margin-bottom: 0;
}

.c-list1__txt1 {
  width: 115px;
}

@media only screen and (max-width: 767px) {
  .c-list1__txt1 {
    width: 100px;
  }
}

/*------------------------------------------------
Navi
-------------------------------------------------*/
.c-nav1 li {
  width: 160px;
  text-align: center;
  display: inline-block;
  border-left: 2px solid #fff;
  margin-right: -5px;
}

.c-nav1 li:last-child {
  border-right: 2px solid #fff;
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .c-nav2 {
    display: none;
  }
}

.c-nav2 li {
  margin-right: 25px;
  display: inline-block;
}

.c-nav2 li:last-child {
  margin-right: 0;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-top1 {
  position: relative;
  padding: 25px 0 100px 0;
}

@media only screen and (max-width: 1024px) {
  .p-top1 {
    padding: 45px 0 70px 0;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1 {
    padding: 40px 0 40px 0;
  }
}

.p-top1__content {
  padding-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .p-top1__content {
    padding: 0 20px;
  }
}

.p-top1__content h2 {
  font-size: 3.2rem;
  line-height: 1.75;
  margin-bottom: 22px;
}

@media only screen and (max-width: 1024px) {
  .p-top1__content h2 {
    font-size: 2rem;
    line-height: 1.75;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1__content h2 {
    font-size: 1.6rem;
    line-height: 1.68;
  }
}

.p-top1__content p {
  font-size: 1.6rem;
  line-height: 1.875;
  margin-bottom: 30px;
}

@media only screen and (max-width: 1024px) {
  .p-top1__content p {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1__content p {
    font-size: 1.2rem;
    line-height: 1.7;
    margin-bottom: 20px;
  }
}

.p-top1__content .c-btn1 {
  margin-top: -2px;
}

@media only screen and (max-width: 1024px) {
  .p-top1__content .c-btn1 {
    margin-top: 27px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top1__content .c-btn1 {
    margin-top: 15px;
    margin-bottom: 25px;
  }
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.p-top1__animation1 {
  background-image: url(../img/content1_imgLeft_bg.png);
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  left: 10px;
}

.p-top1__animation1 img {
  float: left;
}

.p-top1__animation1 img:nth-child(1) {
  margin-left: 15px;
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.p-top1__animation1 img:nth-child(2) {
  margin-top: 265px;
  margin-left: -55px;
  -webkit-animation: mover 1.2s infinite alternate;
  animation: mover 1.2s infinite alternate;
}

.p-top1__animation1 img:nth-child(3) {
  position: absolute;
  bottom: -80px;
  left: 0;
  -webkit-animation: mover 1.5s infinite alternate;
  animation: mover 1.5s infinite alternate;
}

.p-top1__animation2 {
  background-image: url(../img/content1_imgRight_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  right: 0;
  z-index: 1;
}

@media only screen and (max-width: 1024px) {
  .p-top1__animation2 {
    background-image: none;
  }
}

.p-top1__animation2 img {
  float: right;
}

.p-top1__animation2 img:nth-child(1) {
  -webkit-animation: mover 1s infinite alternate;
  animation: mover 1s infinite alternate;
}

.p-top1__animation2 img:nth-child(2) {
  margin-top: 360px;
  margin-right: -34px;
  -webkit-animation: mover 1.2s infinite alternate;
  animation: mover 1.2s infinite alternate;
}

@media only screen and (max-width: 1024px) {
  .p-top1__animation2 img:last-child {
    margin-top: 200px;
    margin-right: -44px;
  }
}

.p-top2 {
  clear: both;
  background: #41c9e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .p-top2 {
    display: block;
  }
}

.p-top2__title {
  color: #fff;
  width: 240px;
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .p-top2__title {
    width: 100%;
    padding: 41px 45px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top2__title {
    padding: 13px 20px 10px 20px;
  }
}

.p-top2__posts {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 1024px) {
  .p-top2__posts {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}

.p-top2__posts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .p-top2__posts__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-top2__posts__item1, .p-top2__posts__item2 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .p-top2__posts__item1, .p-top2__posts__item2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1024px) {
  .p-top2__posts__item1 {
    border-bottom: 1px solid #ccc;
  }
}

@media only screen and (max-width: 767px) {
  .p-top2__posts__item1 {
    border-bottom: 0;
  }
}

.p-top2__posts__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .p-top2__posts__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-top2__posts__btn div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.p-top3 {
  padding: 65px 0 70px 0;
  background: #f8fff9;
}

@media only screen and (max-width: 1024px) {
  .p-top3 {
    padding: 65px 20px 70px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top3 {
    padding: 45px 20px 50px 20px;
  }
}

.p-top4 {
  padding: 65px 0 70px 0;
  border-bottom: solid 1px #ccc;
}

@media only screen and (max-width: 1024px) {
  .p-top4 {
    padding: 65px 20px 70px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top4 {
    padding: 40px 20px 50px 20px;
  }
}

.p-top4 h2 {
  font-size: 2.5rem;
  text-align: center;
}

.p-top5 {
  padding: 65px 0 70px 0;
}

@media only screen and (max-width: 1024px) {
  .p-top5 {
    padding: 65px 20px 70px 20px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top5 {
    padding: 45px 20px 50px 20px;
  }
}

.p-top6 {
  position: relative;
}

.p-top6 iframe {
  width: 100%;
  height: 400px;
}

@media only screen and (max-width: 767px) {
  .p-top6 iframe {
    height: 225px;
  }
}

.p-top6__img {
  position: absolute;
  top: -50px;
  left: 50px;
}

@media only screen and (max-width: 767px) {
  .p-top6__img {
    display: none;
  }
}

.p-top7 {
  margin-top: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .p-top7 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-top7 p {
  font-size: 1.4rem;
  line-height: 1.785;
}

@media only screen and (max-width: 767px) {
  .p-top7 p {
    font-size: 1.2rem;
    line-height: 1.66;
    font-weight: 500;
  }
}

.p-top7 .block {
  margin-bottom: 25px;
}

.p-top7 .block:last-child {
  margin-bottom: 0;
}

.p-top7__left {
  width: 50%;
  background: #68a3b3;
}

@media only screen and (max-width: 767px) {
  .p-top7__left {
    width: 100%;
    letter-spacing: 1px;
  }
}

.p-top7__leftTxt {
  width: 490px;
  float: right;
  padding-top: 25px;
}

@media only screen and (max-width: 1024px) {
  .p-top7__leftTxt {
    padding: 25px 0 0 20px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top7__leftTxt {
    width: 100%;
    padding: 35px 20px 45px 20px;
  }
}

.p-top7__leftTxt .tel {
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: -5px;
  font-size: 2.6rem !important;
  letter-spacing: 0.2rem;
}

@media only screen and (max-width: 767px) {
  .p-top7__leftTxt .tel {
    font-size: 2rem !important;
    margin-bottom: 0px;
  }
}

.p-top7__leftTxt .block:last-child p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .p-top7__leftTxt .block:last-child p {
    font-size: 1.2rem;
  }
}

.p-top7__right {
  width: 50%;
  background: #41c9e3;
}

@media only screen and (max-width: 767px) {
  .p-top7__right {
    width: 100%;
  }
}

.p-top7__rightTxt {
  width: 490px;
  float: left;
  padding: 30px 0 20px 45px;
}

@media only screen and (max-width: 1024px) {
  .p-top7__rightTxt {
    width: auto;
    padding-right: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top7__rightTxt {
    width: 100%;
    padding: 40px 20px 45px 20px;
  }
}

.p-top7__rightTxt h3 {
  font-size: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .p-top7__rightTxt h3 {
    font-size: 1.4rem;
    line-height: 1.7;
  }
}

.p-top8 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px 0;
}

@media only screen and (max-width: 1024px) {
  .p-top8 .l-container {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .p-top8 .l-container {
    padding: 35px 0;
  }
}

.p-top8 iframe {
  width: 490px;
}

@media only screen and (max-width: 767px) {
  .p-top8 iframe {
    width: 100%;
    text-align: center;
  }
  .p-top8 iframe body {
    margin: auto;
  }
}

.p-top8__content {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 1024px) {
  .p-top8__content {
    width: 100%;
    margin-bottom: 55px;
  }
}

@media only screen and (max-width: 767px) {
  .p-top8__content {
    padding: 0 20px;
    margin-bottom: 45px;
  }
}

.p-top8__content .c-btn4 {
  margin-top: -27px;
  margin-right: 70px;
  float: right;
}

@media only screen and (max-width: 1024px) {
  .p-top8__content .c-btn4 {
    margin-right: 0;
  }
}

@media only screen and (max-width: 767px) {
  .p-top8__content .c-btn4 {
    margin-top: -21px;
  }
}

.p-top10 {
  padding: 55px 0;
  background: #65bdcc;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .p-top10 {
    padding: 25px 0 30px 0;
  }
}

.p-top10 .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .p-top10 .l-container {
    display: block;
  }
}

.p-top10 p {
  font-size: 1.6rem;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .p-top10 p {
    font-size: 1.4rem;
    margin-bottom: 23px;
  }
}

.p-top10__item {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  .p-top10__item {
    width: 100%;
  }
}

.p-top10__item p {
  letter-spacing: 1px;
}

.p-top10__item p:nth-child(2) {
  font-weight: bold;
  font-size: 4.3rem;
  margin: -12px 0;
  letter-spacing: 3.5px;
}

@media only screen and (max-width: 767px) {
  .p-top10__item p:nth-child(2) {
    font-size: 2rem;
    margin-bottom: 8px;
  }
}

.p-top10__item p.txt_requi {
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px) {
  .p-top10__item p.txt_requi {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-borRed {
  border-color: #f15024;
}

.u-colRed {
  color: #f15024;
}

.u-borPurple {
  border-color: #3d61b2;
}

.u-colPurple {
  color: #3d61b2;
}

.u-borPink {
  border-color: #ef89a3;
}

.u-colPink {
  color: #ef89a3;
}

.u-borGreen {
  border-color: #62a836;
}

.u-colGreen {
  color: #62a836;
}

.u-blue {
  color: #41c9e3;
}
/*# sourceMappingURL=style.css.map */