@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  padding: 20px 0;
}

.c-header__logo {
  float: left;
}

.c-header .c-breadcrumb {
  clear: both;
  padding: 50px 0 15px 0;
}

/* Main menu
------------------------------------------------------------*/
.c-gnavi {
  float: right;
  line-height: 50px;
}

.c-gnavi ul {
  margin: 0;
  padding: 0;
}

.c-gnavi ul li {
  display: inline-block;
  margin-right: 30px;
}

.c-gnavi ul li:last-child {
  margin-right: 0;
}

.c-gnavi ul li a {
  font-size: 1.4rem;
}

.c-gnavi ul li a.is-active, .c-gnavi ul li a:hover, .c-gnavi ul li a:active {
  font-weight: bold;
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
  padding-top: 60px;
}

.c-footer__top {
  padding: 8px 0;
  border-top: 1px solid #cccccc;
}

.c-footer__middle {
  background-color: #fafafa;
  padding: 40px 0;
  border-top: 1px solid #cccccc;
}

.c-footer__middle .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-footer__middle .l-container .c-boxlink {
  width: 300px;
}

.c-footer__middle .l-container .c-boxlink h3 {
  padding-bottom: 5px;
}

.c-footer__middle .l-container .c-boxlink ul {
  padding-top: 5px;
}

.c-footer__bottom {
  text-align: center;
  font-size: 1.2rem;
  padding: 20px 0;
  border-top: 1px solid #cccccc;
}

/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb li {
  display: inline;
  text-decoration: underline;
}

.c-breadcrumb li + :before {
  font-family: 'FontAwesome';
  content: "\f105 ";
  font-weight: 900;
  padding: 0 5px;
  display: inline-block;
}

.c-breadcrumb li:last-child {
  text-decoration: none;
}

.c-breadcrumb li .fa {
  padding: 0 4px;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  min-width: 1000px;
  line-height: 1.4;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1000px;
  margin: 0 auto;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.c-btn, .c-btn1, .c-btn2 {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.c-btn--grey {
  font-size: 1.5rem;
  width: 150px;
  padding: 15px 0;
  background-color: #afafaf;
}

.c-btn1 {
  font-size: 1.8rem;
  padding: 17px 0;
  border: 2px solid #000;
  text-transform: uppercase;
}

.c-btn1--yellow {
  width: 300px;
  background-color: #ffd800;
}

.c-btn1--orange {
  width: 300px;
  background-color: #f68e56;
}

.c-btn1--blue {
  width: 1000px;
  background-color: #6dcff6;
}

.c-btn2:before {
  font-family: 'FontAwesome';
  content: "\f107";
  font-weight: 900;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title1 {
  border-width: 1px;
  border-left-width: 7px;
  border-style: solid;
  font-size: 2.4rem;
  padding: 10px 0 10px 20px;
}

.c-title1--yellow {
  background-color: #fff9da;
  border-color: #ffd800;
}

.c-title1--orange {
  background-color: #fff2f2;
  border-color: #f68e56;
}

.c-title1--blue {
  background-color: #ebebeb;
  border-color: #6dcff6;
}

.c-title2 {
  border-bottom: 2px solid #cccccc;
  font-size: 1.8rem;
  font-weight: 500;
  padding-bottom: 7px;
}

.c-title-page {
  border: 2px solid #000;
  font-size: 3.2rem;
  text-align: center;
  padding: 20px 0;
}

.c-title-page--blue {
  background: #6dcff6;
}

.c-title3 {
  border-left: 7px solid;
  padding: 7px 20px;
  font-size: 2.4rem;
}

.c-title3--blue {
  color: #11638a;
  border-left-color: #11638a;
  background: #bcd5e1;
}

.c-title3--pink {
  color: #f5989d;
  border-left-color: #f5989d;
  background: #ffe8e9;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
.c-text {
  padding: 5px 20px;
  display: inline-block;
  cursor: pointer;
}

.c-text--pink {
  background-color: #ffdfdf;
}

.c-text--green {
  background-color: #a3d39c;
}

.c-text--yellow {
  background-color: #fff799;
}

/*------------------------------------------------------------
Caption
------------------------------------------------------------*/
.c-caption {
  font-size: 1.6rem;
  background-color: #ece6e6;
  padding: 7px 15px;
}

/*------------------------------------------------------------
Quote
------------------------------------------------------------*/
.c-quote {
  border-width: 1px;
  border-radius: 5px;
  border-style: solid;
  padding: 20px 30px;
}

.c-quote--blue {
  border-color: #11638a;
  color: #11638a;
}

.c-quote--pink {
  border-color: #f5989d;
  color: #f5989d;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
img + text
------------------------------------------------------------*/
.c-mainpost {
  position: relative;
}

.c-mainpost__img {
  width: 100%;
}

.c-mainpost__txt {
  position: absolute;
  z-index: 1;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-listpost {
  margin: 0;
}

.c-listpost__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-list1, .c-list1--thin {
  counter-reset: my-awesome-counter;
}

.c-list1 li, .c-list1--thin li {
  counter-increment: my-awesome-counter;
}

.c-list1--bold li:before {
  content: counter(my-awesome-counter) ". ";
  color: #f5989d;
  font-weight: bold;
}

.c-list1--thin li:before {
  content: "3." counter(my-awesome-counter) " ";
  color: #f5989d;
  font-weight: 500;
}

.c-gridpost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.c-gridpost--3cols .c-gridpost__item {
  width: 300px;
}

.c-gridpost--2cols .c-gridpost__item {
  width: 475px;
}

.c-gridpost--4cols .c-gridpost__item {
  width: 235px;
}

.c-boxlink h3 {
  border-bottom: 1px solid #cccccc;
}

.c-boxlink ul li:before {
  font-family: 'FontAwesome';
  font-weight: 900;
}

.c-boxlink--circle ul li:before {
  content: "\f111";
  font-size: 0.5rem;
}

.c-boxlink--angel-right ul li:before {
  content: "\f105";
  font-size: 1rem;
}

.c-boxlink--link ul li:before {
  content: "\f0c1";
  font-size: 1rem;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 {
  border-collapse: collapse;
}

.c-table1 tr td,
.c-table1 tr th {
  border: 1px solid #cccccc;
  padding: 10px;
}

.c-table1 tr th {
  background-color: #acd373;
  color: #fff;
}

.c-table1--greyred td:nth-child(1) {
  background-color: #ece6e6;
}

.c-table1--grey td:nth-child(1) {
  background-color: #d3d7d9;
}

.c-table1--grey-e td:nth-child(1) {
  background-color: #ebebeb;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-index {
  font-weight: 500;
}

.p-index__mainpost {
  padding-bottom: 20px;
}

.p-index__mainpost .c-mainpost__txt {
  width: 460px;
  left: 40px;
  bottom: 40px;
}

.p-index__mainpost .c-mainpost__txt a {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.p-index__mainpost .c-mainpost__txt h2 {
  font-size: 2rem;
  line-height: 1.5;
}

.p-index__news {
  padding: 20px 0 60px 0;
}

.p-index__news .c-listpost {
  padding: 30px 0;
}

.p-index__news .c-listpost__item {
  margin-bottom: 30px;
}

.p-index__news .c-listpost__img {
  position: relative;
}

.p-index__news .c-listpost__img a {
  position: absolute;
  z-index: 1;
  top: 0;
}

.p-index__news .c-listpost__txt {
  width: 650px;
  padding-left: 40px;
  position: relative;
}

.p-index__news .c-listpost__txt h3 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.p-index__news .c-listpost__txt p {
  font-size: 1.4rem;
  line-height: 1.4;
}

.p-index__news .c-listpost__txt a {
  position: absolute;
  right: 0;
  bottom: 0;
}

.p-index__feature {
  padding: 60px 0;
  background-color: #fafafa;
}

.p-index__feature .c-gridpost {
  padding: 30px 0 10px 0;
}

.p-index__feature .c-gridpost__item {
  margin-bottom: 45px;
}

.p-index__feature .c-gridpost__item .c-text {
  margin: 15px 0;
}

.p-index__blog {
  padding: 60px 0;
}

.p-index__blog .c-gridpost {
  padding: 30px 0 0;
}

.p-index__blog .c-gridpost__item {
  margin-bottom: 45px;
}

.p-index__blog .c-gridpost__item .c-text {
  margin: 15px 0;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-link1 {
  font-weight: 500;
}

.p-link1__nav {
  width: 1000px;
  margin: 0 auto;
  padding-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-link1__nav .c-btn2 {
  width: 300px;
  background-color: #00aeef;
  color: #fff;
  padding: 10px 0;
  font-size: 1.6rem;
  font-weight: 500;
}

.p-link1__anchor1 {
  padding: 30px 0 5px 0;
}

.p-link1__anchor1 .c-title2 {
  margin-bottom: 25px;
}

.p-link1__anchor1 .c-gridpost {
  margin-top: 18px;
}

.p-link1__anchor1 .c-gridpost__item {
  margin-bottom: 45px;
}

.p-link1__anchor1 .c-gridpost__item .c-text {
  margin: 15px 0;
}

.p-link1__anchor2 .c-gridpost {
  padding: 30px 0 35px 0;
}

.p-link1__anchor2 .c-gridpost__item {
  margin-bottom: 15px;
}

.p-link1__anchor2 .c-gridpost__item .c-text {
  margin: 15px 0;
}

.p-link1__anchor3 {
  padding-bottom: 30px;
}

.p-link1__anchor3__table {
  padding: 30px 0 20px 0;
}

.p-link1__anchor3__table p {
  padding: 20px 0 15px 0;
}

.p-link1__anchor3__table .c-table1 {
  text-align: center;
}

.p-link1__anchor3__table .c-table1 td:nth-child(1) {
  width: 66px;
}

.p-link1__anchor3__table .c-table1 td:nth-child(2), .p-link1__anchor3__table .c-table1 td:nth-child(3), .p-link1__anchor3__table .c-table1 td:nth-child(4) {
  width: 141px;
}

.p-link1__anchor3__table .c-table1 td.is-current {
  background: #6dcff6;
}

/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-link2 {
  font-size: 1.5rem;
  line-height: 1.33;
  font-weight: 500;
}

.p-link2__content1 {
  padding: 50px 0 20px 0;
}

.p-link2__content1 .c-title3 {
  margin-bottom: 25px;
}

.p-link2__content1 h4 {
  font-size: 1.6rem;
  color: #11638a;
  margin-top: 30px;
}

.p-link2__content1 .c-quote {
  margin-top: 15px;
}

.p-link2__content2 {
  padding: 50px 0 65px 0;
}

.p-link2__content2 .c-title3 {
  margin-bottom: 20px;
}

.p-link2__content2 h4 {
  margin: 35px 0 8px 0;
  font-size: 1.6rem;
  color: #f5989d;
}

.p-link2__content2 .c-list1--bold {
  margin-top: 30px;
}

.p-link2__content2 .c-list1 li, .p-link2__content2 .c-list1--thin li {
  margin-bottom: 6px;
}

.p-link2__content2 .c-list1 li:last-child, .p-link2__content2 .c-list1--thin li:last-child {
  margin-bottom: 0px;
}

.p-link2__content2 .c-list1--thin {
  margin-top: 6px;
  margin-left: 35px;
}

.p-link2__content2 .c-quote {
  margin: 20px 0 35px 0;
}

.p-link2__content2 .c-table1 {
  margin-top: 12px;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: center;
}

.p-link2__content2 .c-table1 td:nth-child(1) {
  width: 175px;
}

.p-link2__content2 .c-table1 td:nth-child(2), .p-link2__content2 .c-table1 td:nth-child(3), .p-link2__content2 .c-table1 td:nth-child(4) {
  width: 275px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-blue {
  color: #1f53fa;
  text-decoration: underline;
  -webkit-text-decoration-color: #1f53fa;
          text-decoration-color: #1f53fa;
}

.u-white {
  color: #fff;
}

.u-red {
  color: #ff0000;
  text-decoration: underline;
  -webkit-text-decoration-color: #ff0000;
          text-decoration-color: #ff0000;
}

.u-red2 {
  color: #c40000;
  font-weight: bold;
}

.u-orange {
  color: #ff9c00;
  text-decoration: underline;
  -webkit-text-decoration-color: #ff9c00;
          text-decoration-color: #ff9c00;
}
/*# sourceMappingURL=style.css.map */