/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-index {
    background-color: $white;
    //-------------------------------------------------------
    &__point {
        background-image: url(../img/bg_content.png);
        background-size: cover;
        padding-top: 100px;
        @include breakpoint(sp) {
            padding: 40px 15px 0 15px;
        }
        &__item {
            padding-bottom: 100px;
            @include breakpoint(sp) {
                padding-bottom: 40px;
            }
            &1 {
                display: flex;
                .item-point {
                    width: 200px;
                    text-align: right;
                    margin-bottom: 60px;
                    img {
                        width: 80px;
                        height: 108px;
                    }
                    @include breakpoint(sp) {
                        width: 60px;
                        margin-bottom: 0;
                        img {
                            width: 57px;
                            height: auto;
                        }
                    }
                }
                .item-text {
                    text-align: left;
                    margin-left: 20px;
                    @include breakpoint(sp) {
                        margin-left: 15px;
                        width: 100%;
                    }
                    h2 {
                        font-size: 3.6rem;
                        color: $green_blue;
                        margin-bottom: 12px;
                        @include breakpoint(sp) {
                            font-size: 2rem;
                            margin-top: 15px;
                            margin-bottom: 0;
                        }
                    }
                    p {
                        font-size: 1.4rem;
                        line-height: 1.8;
                        @include breakpoint(sp) {
                            font-size: 1.3rem;
                            line-height: 1.7;
                            margin: 25px 0 20px -65px;
                        }
                    }
                }
            }
            &2 {
                display: flex;
                @include breakpoint(sp) {
                    flex-direction: column;
                    text-align: center;
                }
                .box-item {
                    margin-right: 20px;
                    position: relative;
                    overflow: hidden;
                    @include breakpoint(sp) {
                        margin: 0 auto 20px auto;
                    }
                    &:last-child {
                        margin-right: 0;
                        @include breakpoint(sp) {
                            margin-bottom: 0;
                            margin-right: auto;
                        }
                    }
                    img {
                        @include breakpoint(sp) {}
                    }
                    .box {
                        top: 50%;
                        padding: 45px;
                        left: 20px;
                        right: 20px;
                        position: absolute;
                        opacity: 0;
                        z-index: 30;
                        text-align: center;
                        @include breakpoint(sp) {
                            padding: 20px;
                            left: 15px;
                            right: 15px;
                        }
                        h3 {
                            font-size: 2.4rem;
                            color: $green_blue;
                            margin-bottom: 10px;
                            @include breakpoint(sp) {
                                font-size: 1.6rem;
                                margin-bottom: 20px;
                            }
                        }
                        hr {
                            border-top: 1px solid $green_blue;
                            width: 50px;
                        }
                        p {
                            text-align: left;
                            font-size: 1.2rem;
                            line-height: 1.8;
                            margin-top: 15px;
                            margin-bottom: 30px;
                            @include breakpoint(sp) {
                                font-size: 1.3rem;
                                line-height: 1.7;
                                margin: 20px 0;
                            }
                        }
                        .c-btn-case {
                            width: 200px;
                            display: inline-block;
                            background-image: url(../img/bg_nav.png);
                            background-size: cover;
                            background-repeat: no-repeat;
                            padding: 10px 0;
                            text-align: center;
                            color: $white;
                            font-size: 1.6rem;
                            @include breakpoint(sp) {
                                width: 132px;
                                font-size: 1.3rem;
                            }
                        }
                    }
                    &:after {
                        background-color: #ffffff;
                        position: absolute;
                        content: "";
                        display: block;
                        top: 20px;
                        left: 20px;
                        right: 20px;
                        bottom: 20px;
                        border-radius: 30px;
                        -webkit-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        -webkit-transform: rotateX(-90deg);
                        transform: rotateX(-90deg);
                        -webkit-transform-origin: 50% 50%;
                        -ms-transform-origin: 50% 50%;
                        transform-origin: 50% 50%;
                        opacity: 0;
                        z-index: 20;
                        @include breakpoint(sp) {
                            top: 15px;
                            bottom: 15px;
                            left: 15px;
                            right: 15px;
                            border-radius: 20px;
                        }
                    }
                    .btn_more {
                        right: 0;
                        margin-right: 20px;
                        bottom: 0;
                        margin-bottom: 20px;
                        position: absolute;
                        z-index: 1;
                        @include breakpoint(sp) {
                            width: 62px;
                            margin-right: 15px;
                            margin-bottom: 15px;
                        }
                    }
                    &:hover .box,
                    &.hover .box {
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        opacity: 1;
                        -webkit-transition-delay: 0.2s;
                        transition-delay: 0.2s;
                    }
                    &:hover:after,
                    &.hover:after {
                        -webkit-transform: rotateX(0);
                        transform: rotateX(0);
                        opacity: 0.85;
                    }
                }
            }
        }
    }
    //-------------------------------------------------------
    &__contact {
        text-align: center;
        background-image: url(../img/bg_content.png);
        background-size: cover;
        h2 {
            font-size: 3rem;
            color: $green_blue;
            margin-bottom: 40px;
            @include breakpoint(sp) {
                font-size: 1.8rem;
                margin-bottom: 30px;
            }
        }
        &__box {
            max-width: 1100px;
            display: flex;
            margin: auto;
            &1 {
                display: flex;
                @include breakpoint(sp) {
                    margin-bottom: 25px;
                }
            }
            @include breakpoint(sp) {
                width: 100%;
                flex-direction: column;
            }
            .no-margin {
                margin-right: 0;
            }
            &__item {
                margin-right: 20px;
                @include breakpoint(sp) {
                    width: 50%;
                    margin-right: 0px;
                }
                &:first-child {
                    @include breakpoint(sp) {
                        text-align: right;
                        margin-right: 12.5px;
                    }
                }
                &:last-child {
                    @include breakpoint(sp) {
                        text-align: left;
                        margin-left: 12.5px;
                    }
                }
                img {
                    @include breakpoint(sp) {
                        width: 130px;
                        margin: 0;
                    }
                }
            }
        }
        h4 {
            font-weight: 500;
            font-size: 1.2rem;
            margin-top: 50px;
            padding-bottom: 100px;
            @include breakpoint(sp) {
                font-size: 1.3rem;
                margin: 0 15px;
                padding-bottom: 55px;
            }
        }
    }
    //-------------------------------------------------------
    &__QA {
        padding: 90px 0 60px 0;
        @include breakpoint(sp) {
            padding: 40px 15px;
        }
        h2 {
            color: $green_blue;
            font-size: 3.6rem;
            text-align: center;
            @include breakpoint(sp) {
                font-size: 2rem;
            }
        }
        ul {
            margin: 50px 85px 0 85px;
            @include breakpoint(sp) {
                margin: 25px 0 0;
            }
            li {
                font-size: 1.4rem;
                margin-bottom: 50px;
                @include breakpoint(sp) {
                    font-size: 1.3rem;
                    margin-bottom: 25px;
                    line-height: 1.7;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .title-icon {
                    display: flex;
                    margin-bottom: 10px;
                    @include breakpoint(sp) {
                        margin-bottom: 8px;
                    }
                    h3 {
                        margin-left: 15px;
                        color: $green_blue;
                        margin-top: 20px;
                        flex: 1;
                        @include breakpoint(sp) {
                            margin-top: 5px;
                            margin-left: 10px;
                        }
                    }
                    .icon-Q {
                        width: 59px;
                        @include breakpoint(sp) {
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
    //-------------------------------------------------------
    &__column {
        padding: 50px 0;
        @include breakpoint(sp) {
            padding: 0;
        }
        &__banner {
            position: relative;
            @include breakpoint(sp) {
                padding: 0 47.5px;
            }
            &__bg img {
                margin: auto;
            }
            .text-center {
                top: 50%;
            }
            &__text {
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                margin-right: -50%;
                transform: translate(-50%, -50%);
                @include breakpoint(sp) {
                    top: 30%;
                }
                p {
                    font-size: 2rem;
                    @include breakpoint(sp) {
                        font-size: 1.4rem;
                    }
                }
                h3 {
                    font-size: 4.5rem;
                    @include breakpoint(sp) {
                        font-size: 2rem;
                    }
                }
            }
        }
        ul {
            margin: 50px 85px 100px 85px;
            @include breakpoint(sp) {
                margin: 75px 15px 60px 15px;
            }
            li {
                margin-top: 35px;
                border-bottom: $green_blue 1px solid;
                @include breakpoint(sp) {
                    margin-top: 40px;
                    border-bottom: none;
                }
                &:first-child {
                    margin-top: 0;
                }
                .column-img {
                    display: flex;
                    margin-bottom: 20px;
                    @include breakpoint(sp) {
                        margin-bottom: 10px;
                    }
                    .title_col {
                        padding-left: 15px;
                        margin-top: 30px;
                        flex: 1;
                        @include breakpoint(sp) {
                            padding-left: 10px;
                            margin-top: 0px;
                        }
                        h4 {
                            font-size: 1.4rem;
                            font-weight: 500;
                            @include breakpoint(sp) {
                                font-size: 1.1rem;
                            }
                        }
                        h3 {
                            font-size: 2.5rem;
                            font-weight: 500;
                            letter-spacing: 1.5px;
                            @include breakpoint(sp) {
                                font-size: 1.5rem;
                                line-height: 1.7;
                            }
                        }
                    }
                    .icon-column {
                        width: 275px;
                        position: relative;
                        @include breakpoint(sp) {
                            width: 79px;
                        }
                        &__texthk {
                            position: absolute;
                            z-index: 1;
                            top: 20%;
                            left: 15px;
                            @include breakpoint(sp) {
                                top: 0;
                                width: 79px;
                                left: 0;
                            }
                        }
                        p {
                            position: absolute;
                            color: $green_blue;
                            font-size: 4.6rem;
                            top: 30%;
                            left: 68px;
                            @include breakpoint(sp) {
                                font-size: 2.3rem;
                                left: 25px;
                                top: 15%;
                            }
                        }
                    }
                }
                a {
                    background: $green_blue;
                    text-align: center;
                    border-radius: 7px;
                    img {
                        transform: rotate(180deg);
                        -webkit-transition: rotate(180deg);
                        -ms-transform: rotate(180deg);
                    }
                    @include breakpoint(sp) {
                        padding-top: 5px;
                        margin: auto;
                    }
                }
                .column-text {
                    display: flex;
                    @include breakpoint(sp) {
                        flex-direction: column;
                        display: none;
                    }
                    p {
                        width: 815px;
                        font-size: 1.4rem;
                        line-height: 1.5;
                        margin-bottom: 30px;
                        @include breakpoint(sp) {
                            width: 100%;
                            font-size: 1.3rem;
                            line-height: 1.7;
                            margin-bottom: 0px;
                        }
                    }
                    .icon-right {
                        text-align: right;
                        img {
                            width: 15px;
                            height: 35px;
                            margin-left: 20px;
                            margin-top: -30px;
                            @include breakpoint(sp) {
                                width: 66px;
                                height: auto;
                                margin: 20px 0 20px auto;
                            }
                        }
                    }
                }
            }
        }
    }
}