/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-btn {
    display: inline-block;
    text-align: center;
    border: $color-brown solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.c-btn1 {
    width: 220px;
    color: $color-brown;
    font-size: 1.6rem;
    @extend .c-btn;
    &:hover {
        background-color: $color-brown;
        color: $color-white;
    }
}

.c-btn2 {
    background-color: $color-brown;
    width: 220px;
    color: $color-white;
    font-size: 1.6rem;
    @extend .c-btn;
    &:hover {
        background-color: $color-white;
        color: $color-brown;
    }
}

.c-btn3 {
    background-color: $color-brown;
    width: 300px;
    color: $color-white;
    font-size: 1.6rem;
    @extend .c-btn;
    &:hover {
        background-color: $color-white;
        color: $color-brown;
    }
}