/*------------------------------------------------------------
text
------------------------------------------------------------*/

.text-h3 {
    font-weight: 600;
    color: $color-brown;
    line-height: 2;
}

.text-p {
    line-height: $line-2;
    margin-bottom: 40px;
}

.text-title {
    text-align: center;
    margin-bottom: 50px;
}


/*
------------------------------------------------------------*/