/*------------------------------------------------------------
Slides
------------------------------------------------------------*/

.c-slides {
    margin: auto;
    .mySlides {
        display: none;
        img {
            width: 100%;
            height: 100vh !important;
        }
    }
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 5s;
        animation-name: fade;
        animation-duration: 5s;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}


/*
------------------------------------------------------------*/