@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body,
table,
input,
textarea,
select,
option,
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

table,
input,
textarea,
select,
option {
  line-height: 1.1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
.c-header {
  position: absolute;
  z-index: 2;
  margin: auto;
  width: 100%;
  min-width: 1416px;
}

@media only screen and (max-width: 767px) {
  .c-header {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    margin-right: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.c-header--news {
  position: relative;
  margin: 0;
}

.c-header__top {
  color: #fff;
  float: right;
  margin: 15px 0 16px 0;
}

@media only screen and (max-width: 767px) {
  .c-header__top {
    display: none;
  }
}

.c-header__top img {
  margin-left: 12px;
}

.c-header__nav {
  background-color: #fff;
  height: 90px;
  clear: both;
}

@media only screen and (max-width: 767px) {
  .c-header__nav {
    height: 70px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    left: 0;
    z-index: 999;
    color: #fff;
  }
}

.c-header__logo {
  float: left;
  margin: 20px 0 0 20px;
}

.c-header__logo--news {
  margin-left: 0;
}

.c-header__logo--news img {
  width: 201px !important;
  margin-top: 7px;
}

@media only screen and (max-width: 767px) {
  .c-header__logo--news img {
    width: 165px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-header__logo {
    width: 165px;
    margin-left: 7px;
    float: none;
  }
}

.c-header__logo img {
  width: 292px;
}

@media only screen and (max-width: 767px) {
  .c-header__logo img {
    width: 165px;
  }
}

/* Main menu
------------------------------------------------------------*/
.c-gnavi {
  float: right;
  line-height: 90px;
}

@media only screen and (max-width: 767px) {
  .c-gnavi {
    display: none;
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #00ada0;
    color: #fff;
    line-height: 0;
  }
}

@media only screen and (max-width: 767px) {
  .c-gnavi ul {
    height: 150vh;
    overflow: auto;
  }
}

.c-gnavi ul li {
  display: inline;
}

@media only screen and (max-width: 767px) {
  .c-gnavi ul li {
    display: block;
    margin-bottom: 45px;
    font-weight: 700;
  }
  .c-gnavi ul li:first-child {
    margin-top: 15px;
  }
  .c-gnavi ul li:nth-child(8) {
    border-top: 1px solid #dbeeec;
    padding: 22px 0 25px 0;
    margin-top: -10px;
    margin-bottom: 0;
    line-height: 30px;
  }
  .c-gnavi ul li:nth-child(8) .c-tel {
    margin-bottom: 10px;
  }
  .c-gnavi ul li:nth-child(9) {
    border-top: 1px solid #dbeeec;
    padding-top: 10px;
  }
  .c-gnavi ul li:nth-child(9) ul li:first-child {
    margin-bottom: 40px;
    line-height: 30px;
  }
  .c-gnavi ul li:nth-child(9) ul li:last-child {
    margin-top: -5px;
  }
}

.c-gnavi ul li a {
  font-weight: 700;
  padding: 0 25px;
}

@media only screen and (max-width: 767px) {
  .c-gnavi ul li a {
    padding: 0;
    font-size: 1.8rem;
  }
}

.c-gnavi ul li a:hover {
  color: #fff;
  background-color: #00ada0;
  padding: 35px 25px;
}

@media only screen and (max-width: 767px) {
  .c-gnavi ul li a:hover {
    padding: 0;
    background: transparent;
  }
}

.c-gnavi ul li.is-current {
  color: #fff;
  background-color: #00ada0;
  padding: 35px 15px;
  margin-left: 25px;
}

@media only screen and (max-width: 767px) {
  .c-gnavi ul li.is-current {
    padding: 0;
    background: transparent;
  }
}

.c-mail {
  position: absolute;
  right: 70px;
  background-color: #00ada0;
  color: #fff;
  width: 70px;
  height: 70px;
  padding: 12px 0;
}

.c-mail i {
  font-size: 3rem;
}

.c-mail p {
  font-size: 1rem;
  font-weight: 700;
}

.c-openmenu {
  font-size: 3rem;
  position: absolute;
  z-index: 99;
  right: 0;
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #000;
  color: #fff;
  padding: 15px 0;
}

.c-openmenu p {
  font-size: 1rem;
  margin-top: -15px;
  font-weight: 700;
}

.c-closemenu {
  font-size: 3rem;
  margin: 15px 20px;
  text-align: right;
  color: #fff;
}

.c-closemenu img {
  margin-right: 5px;
}

.c-closemenu p {
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 700;
}

.c-mv {
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .c-mv {
    text-align: center;
    margin-top: 70px;
  }
}

.c-mv__img {
  min-height: 700px;
  position: relative;
  background-image: url("../img/slide1.jpg");
  background-size: cover;
  background-position: center center;
}

@media only screen and (max-width: 767px) {
  .c-mv__img {
    min-height: 375px;
  }
}

.c-mv__img img {
  display: none;
}

.c-mv__txt {
  position: absolute;
  z-index: 3;
  bottom: 50px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .c-mv__txt {
    bottom: 25px;
    left: 15px;
  }
}

.c-mv__txt img {
  padding-bottom: 30px;
}

@media only screen and (max-width: 767px) {
  .c-mv__txt img {
    width: 279px;
    padding-bottom: 35px;
  }
}

/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer__pagetop {
  text-align: center;
  padding: 30px 0;
}

@media only screen and (max-width: 767px) {
  .c-footer__pagetop {
    padding: 15px 0;
  }
}

.c-footer__main {
  background: #00ada0;
  color: #fff;
}

.c-footer__main .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-footer__main .l-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
}

.c-footer__grid1 {
  padding: 20px 0;
  width: 420px;
  border-right: #80d6d0 1px solid;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid1 {
    width: 100%;
    padding: 35px 15px 30px 15px;
  }
}

.c-footer__grid1 h1 img {
  width: 296px;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid1 h1 img {
    width: 269px;
  }
}

.c-footer__grid1 h4 {
  margin: 15px 0 5px 0;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid1 h4 {
    margin: 30px 0 0;
    font-size: 1.3rem;
    line-height: 1.92;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__grid1 p {
    font-size: 1.2rem;
    line-height: 2.08;
  }
}

.c-footer__grid2 {
  padding: 20px;
  width: 440px;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid2 {
    width: 100%;
    padding: 30px 15px 20px 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-bottom: #f2f2f2 1px solid;
  }
}

.c-footer__grid2 p {
  font-size: 1.3rem;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid2 p {
    line-height: 1.5;
  }
}

.c-footer__grid2 .c-tel {
  margin: 2px 0 10px 0;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid2 .c-tel {
    margin: 20px 0;
  }
}

.c-footer__grid3 {
  padding-top: 20px;
  width: 300px;
}

.c-footer__grid3 .c-btn3 {
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .c-footer__grid3 .c-btn3 {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .c-footer__grid3 {
    width: 100%;
    border-bottom: #f2f2f2 1px solid;
    padding: 20px 0 5px 0;
  }
}

.c-footer .c-copyright {
  background: #33bdb3;
  color: #fff;
  padding: 20px 0;
  font-size: 1.3rem;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-footer .c-copyright {
    font-size: 1.1rem;
    line-height: 2.273;
    padding: 10px 0;
  }
}

/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
  font-size: 1.3rem;
}

.c-breadcrumb .l-container {
  padding: 25px 0;
  border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 767px) {
  .c-breadcrumb {
    padding: 10px 0;
  }
}

.c-breadcrumb li {
  display: inline-block;
}

.c-breadcrumb li a {
  text-decoration: underline;
}

.c-breadcrumb li:first-child a {
  color: #00ada0;
}

.c-breadcrumb li:last-child a {
  text-decoration: none;
}

.c-breadcrumb li + li:before {
  content: ">";
  font-weight: 400;
  padding: 0 10px;
}

/* layout
------------------------------------------------------------*/
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
  min-width: 1416px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  max-width: 1160px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    margin: 0;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/* wrap c-btn + wrap c-btnlink
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

.l-btn--right {
  text-align: right;
}

.l-btn--left {
  text-align: right;
}

.l-btn--full .c-btn, .l-btn--full .c-btn1, .l-btn--full .c-btn2 {
  width: 100%;
}

.c-btn, .c-btn1, .c-btn2 {
  display: inline-block;
  text-align: center;
}

/*------------------------------------------------------------
c-btn mainvisual
------------------------------------------------------------*/
.c-btn-mv {
  font-size: 2rem;
  width: 565px;
  padding: 5px 0;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
}

@media only screen and (max-width: 767px) {
  .c-btn-mv {
    width: 291px;
    font-size: 1.6rem;
    padding: 0;
  }
}

/*------------------------------------------------------------
c-btn1
------------------------------------------------------------*/
.c-btn1 {
  font-size: 1.2rem;
  line-height: 1.83;
  border-radius: 20px;
  padding: 0 10px;
}

@media only screen and (max-width: 767px) {
  .c-btn1 {
    font-size: 1.1rem;
    line-height: 1.13;
    padding: 3.5px 8px;
    border-radius: 17px;
  }
}

.c-btn1--grey {
  background: #cccccc;
}

/*------------------------------------------------------------
c-btn2
------------------------------------------------------------*/
.c-btn2 {
  font-family: "Noto Sans JP", sans-serif !important;
  font-size: 1.6rem;
  line-height: 2;
  width: 450px;
  font-weight: 700;
  padding: 14px 0;
  margin-bottom: 30px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-btn2 {
    width: 270px;
    padding: 6.5px 0;
    font-size: 1.3rem;
  }
}

.c-btn2--green {
  color: #fff;
  background: #00ada0;
  -webkit-box-shadow: 5px 5px 0px 0px #000;
          box-shadow: 5px 5px 0px 0px #000;
  border: 0;
}

.c-btn2--green:after {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  content: url(../img/arrow_white.png);
}

@media only screen and (max-width: 767px) {
  .c-btn2--green:after {
    content: url(../img/arrow_sp_white.png);
    margin-top: 4px;
    right: 29px;
  }
}

@media only screen and (max-width: 767px) {
  .c-btn2--green {
    -webkit-box-shadow: 3px 3px 0px 0px #000;
            box-shadow: 3px 3px 0px 0px #000;
  }
}

.c-btn2--green:hover {
  -webkit-box-shadow: 5px 5px 0px 0px transparent;
          box-shadow: 5px 5px 0px 0px transparent;
}

.c-btn2--white {
  color: #00ada0;
  background: #fff;
  border: 2px solid #fff;
  padding: 12px 0;
}

@media only screen and (max-width: 767px) {
  .c-btn2--white {
    padding: 3.5px 0;
  }
}

.c-btn2--white:hover {
  border: 2px solid #00ada0;
}

.c-btn2--white:after {
  position: absolute;
  right: 20px;
  margin-top: 5px;
  content: url(../img/arrow_green.png);
}

@media only screen and (max-width: 767px) {
  .c-btn2--white:after {
    content: url(../img/arrow_sp_green.png);
    margin-top: 4px;
    right: 29px;
  }
}

/*------------------------------------------------------------
c-btn3
------------------------------------------------------------*/
.c-btn3 {
  display: inline-block;
  width: 300px;
  border: 2px solid;
  padding: 12px 0;
  font-weight: 700;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .c-btn3 {
    width: 270px;
    font-size: 1.3rem;
    padding: 5px 0;
  }
}

.c-btn3--white {
  border-color: #fff;
}

.c-btn3--white:hover {
  background: #fff;
  color: #00ada0;
}

/*------------------------------------------------------------
title 1
------------------------------------------------------------*/
.c-title1 {
  text-align: center;
  padding: 8px 0 13px 0;
  width: 500px;
  border: solid 2px;
  margin: 0 auto;
  border-radius: 3px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  .c-title1 {
    width: 270px;
    padding: 12px 0 15px 0;
  }
}

.c-title1 span {
  display: block;
}

.c-title1__txt1 {
  font-size: 2rem;
  line-height: 1.65;
}

@media only screen and (max-width: 767px) {
  .c-title1__txt1 {
    font-size: 1.4rem;
    line-height: 1.17;
  }
}

.c-title1__txt2 {
  margin-top: 6px;
  font-size: 2.6rem;
  line-height: 1.2;
}

@media only screen and (max-width: 767px) {
  .c-title1__txt2 {
    font-size: 1.6rem;
    line-height: 1.03;
    margin-top: 8px;
  }
}

.c-title1--white {
  border-color: #acdeda;
}

@media only screen and (max-width: 767px) {
  .c-title1--white {
    border-color: #fff;
  }
}

.c-title1--white .c-title1__txt1 {
  color: rgba(255, 255, 255, 0.44);
}

.c-title1--white .c-title1__txt2 {
  color: #fff;
}

.c-title1--black {
  border-color: #000;
  margin-bottom: 45px;
}

@media only screen and (max-width: 767px) {
  .c-title1--black {
    margin-bottom: 25px;
  }
}

.c-title1--black .c-title1__txt1 {
  color: #00ada0;
}

.c-title1--black .c-title1__txt2 {
  color: #000;
}

.c-title1--none {
  border: none;
}

.c-title1--none .c-title1__txt1 {
  color: #00ada0;
}

.c-title1--none .c-title1__txt2 {
  color: #000;
}

/*------------------------------------------------------------
title 2
------------------------------------------------------------*/
.c-title2 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 25px;
  line-height: 1.5;
}

@media only screen and (max-width: 767px) {
  .c-title2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
.c-form1 {
  padding: 57px 0 10px 0;
  position: relative;
}

.c-form1__item {
  border-top: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

@media only screen and (max-width: 767px) {
  .c-form1__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.c-form1__item label {
  width: 250px;
  font-size: 1.6rem;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .c-form1__item label {
    width: 100%;
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
}

.c-form1__item:nth-child(4) input[type=text] {
  width: 530px;
}

@media only screen and (max-width: 767px) {
  .c-form1__item:nth-child(4) input[type=text] {
    width: 100%;
  }
}

.c-form1__item:nth-child(7) input[type=text] {
  width: 435px;
}

@media only screen and (max-width: 767px) {
  .c-form1__item:nth-child(7) input[type=text] {
    width: 75%;
  }
}

.c-form1__item:nth-child(8) {
  border-bottom: 1px solid #cccccc;
}

.c-form1 input[type=text],
.c-form1 select,
.c-form1 textarea {
  width: 390px;
  padding: 15px;
  background: #f2f2f2;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: vertical;
}

@media only screen and (max-width: 767px) {
  .c-form1 input[type=text],
  .c-form1 select,
  .c-form1 textarea {
    width: 100%;
  }
}

.c-form1 textarea {
  height: 450px;
  width: 530px;
  height: 210px;
}

@media only screen and (max-width: 767px) {
  .c-form1 textarea {
    width: 100%;
    height: 150px;
  }
}

/*
------------------------------------------------------------*/
.error {
  margin-top: 5px;
  color: #ff0000;
}

.check-error {
  position: absolute;
  top: 22px;
  color: #ff0000;
}

.c-checkbox {
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
}

.c-checkbox [type="checkbox"]:not(:checked),
.c-checkbox [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.c-checkbox [type="checkbox"]:not(:checked) + label,
.c-checkbox [type="checkbox"]:checked + label {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

.c-checkbox label {
  margin-right: 30px;
}

@media only screen and (max-width: 767px) {
  .c-checkbox label {
    margin-right: 15px;
    line-height: 2;
  }
}

.c-checkbox [type="checkbox"]:not(:checked) + label:before,
.c-checkbox [type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  border: 1px solid #c2c2c2;
  background: #fff;
}

.c-checkbox [type="checkbox"]:not(:checked) + label:after,
.c-checkbox [type="checkbox"]:checked + label:after {
  content: "\f00c";
  position: absolute;
  top: 6px;
  left: 1px;
  font-size: 1.5rem;
  color: #00ada0;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-weight: 700;
  font-family: "Font Awesome 5 Free";
}

.c-checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.c-checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

/*------------------------------------------------------------
Posts
------------------------------------------------------------*/
/* Wrap c-posts
---------------------------------------------------------*/
.l-content--2cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px 0 20px 0;
}

@media only screen and (max-width: 767px) {
  .l-content--2cols {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 15px 10px 15px;
  }
}

.l-content--2cols .c-posts__info {
  width: 570px;
  margin: 0 20px 30px 0;
}

@media only screen and (max-width: 767px) {
  .l-content--2cols .c-posts__info {
    width: 100%;
    margin-bottom: 0;
    margin-right: 0px;
  }
}

.l-content--2cols .c-posts__info:nth-child(2n) {
  margin-right: 0;
}

.l-content--3cols {
  border-bottom: 1px solid #cccccc;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.l-content--3cols .c-posts1,
.l-content--3cols .c-posts__info {
  max-width: 330px;
  padding-bottom: 100px;
  margin-right: 85px;
}

@media only screen and (max-width: 767px) {
  .l-content--3cols .c-posts1,
  .l-content--3cols .c-posts__info {
    width: 300px;
    padding-bottom: 20px;
    margin: 20px auto;
  }
}

.l-content--3cols .c-posts1:nth-child(3n),
.l-content--3cols .c-posts__info:nth-child(3n) {
  margin-right: 0;
}

@media only screen and (max-width: 767px) {
  .l-content--3cols .c-posts1:nth-child(3n),
  .l-content--3cols .c-posts__info:nth-child(3n) {
    margin: 20px auto;
  }
}

/* c-posts
---------------------------------------------------------*/
.c-posts__info {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.c-posts__info__thumbnail {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-posts__info__thumbnail img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  .c-posts__info__thumbnail img {
    padding-bottom: 25px;
    min-width: 165px;
    height: auto;
  }
}

.c-posts__info__summary {
  background: #fff;
  width: 285px;
  margin-left: -40px;
  margin-top: 25px;
  padding: 25px 5px 30px 20px;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media only screen and (max-width: 767px) {
  .c-posts__info__summary {
    padding: 10px 10px 20px 10px;
    margin-bottom: 25px;
    width: calc(50% + 40px);
    margin-top: 15px;
  }
}

.c-posts__info__name {
  font-size: 1.8rem;
  line-height: 1.38;
  font-weight: 700;
}

@media only screen and (max-width: 767px) {
  .c-posts__info__name {
    font-size: 1.4rem;
    line-height: 1.25;
  }
}

.c-posts__info__addr {
  font-size: 1.2rem;
  line-height: 1.83;
}

@media only screen and (max-width: 767px) {
  .c-posts__info__addr {
    font-size: 1.1rem;
    line-height: 1.59;
  }
}

.c-posts__info__detail {
  margin: 10px 0 25px 0;
  color: #00ada0;
  font-weight: 700;
  line-height: 1.78;
}

@media only screen and (max-width: 767px) {
  .c-posts__info__detail {
    margin: 0 0 5px;
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.c-posts1 {
  overflow: hidden;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-posts1 {
    margin: auto;
  }
}

.c-posts1__thumbnail {
  width: 330px;
  margin-right: 30px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-posts1__thumbnail {
    max-width: 300px;
    margin-right: 0px;
  }
}

.c-posts1__summary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.c-posts1__summary__txt {
  width: 300px;
}

.c-posts1__summary__txt h3 {
  font-size: 1.6rem;
  line-height: 1.65;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary__txt h3 {
    font-size: 1.2rem;
    line-height: 1.5;
  }
}

.c-posts1__summary__txt p {
  margin-top: 5px;
  font-size: 1.4rem;
  line-height: 2.35;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary__txt p {
    font-size: 1.1rem;
    line-height: 1.81;
  }
}

.c-posts1__summary__icon {
  margin: 20px 0 0 10px;
}

.c-posts1 .c-cat1 {
  position: absolute;
  bottom: 0;
  right: 0;
}

/*------------------------------------------------------------
category
------------------------------------------------------------*/
.c-cat1 {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 5px 10px;
  color: #00ada0;
  background: #fff;
}

@media only screen and (max-width: 767px) {
  .c-cat1 {
    font-size: 1.2rem;
    padding: 0px 7px;
  }
}

.c-cat2 {
  border-radius: 18px;
  font-size: 1.6rem;
  line-height: 2.25;
  padding: 0 25px;
  border: 2px solid #000;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1 {
  padding: 15px 0 50px 0px;
  width: 780px;
}

@media only screen and (max-width: 767px) {
  .c-list1 {
    width: 100%;
    padding: 17px 15px 35px 15px;
  }
}

.c-list1 li {
  padding: 20px 0;
  border-bottom: 1px solid #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .c-list1 li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px 0;
  }
}

.c-list1 li:first-child {
  border-top: 1px solid #cccccc;
}

.c-list1__txt1 {
  margin-right: 40px;
  color: #781111;
}

@media only screen and (max-width: 767px) {
  .c-list1__txt1 {
    font-size: 1.2rem;
    margin-right: 0;
  }
}

.c-list1__txt2 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .c-list1__txt2 {
    font-size: 1.3rem;
    line-height: 1.77;
  }
}

/*------------------------------------------------------------
list 2
------------------------------------------------------------*/
.c-list2 {
  padding: 50px 0 20px 0;
  float: right;
}

@media only screen and (max-width: 767px) {
  .c-list2 {
    float: none;
    text-align: center;
  }
}

.c-list2 li {
  display: inline;
  margin-left: 25px;
}

@media only screen and (max-width: 767px) {
  .c-list2 li {
    display: block;
    margin-left: 0px;
  }
}

.c-list2 .is-active {
  background-color: #00ada0;
  color: #fff;
  border: 2px solid #00ada0;
}

/*------------------------------------------------------------
list 3
------------------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
pagination
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-pagination {
  padding: 65px 0 140px 0;
  text-align: center;
}

.c-pagination a {
  border: 3px solid #000;
  padding: 5px 16px 8px 13px;
  margin-right: 10px;
  font-size: 2rem;
}

.c-pagination a.is-active {
  background: #000;
  color: #fff;
  font-weight: 400;
}

.c-pagination a:last-child {
  border: 0;
  margin-right: 0px;
  font-weight: 700;
  font-size: 1.8rem;
}

.c-pagination a:first-child {
  border: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

/*------------------------------------------------------------
Text
------------------------------------------------------------*/
.c-txttel--footer {
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .c-txttel--footer {
    font-size: 1.4rem;
  }
}

.c-txttel--nav {
  font-size: 1.8rem;
}

.c-number--footer {
  font-size: 4.1rem;
}

@media only screen and (max-width: 767px) {
  .c-number--footer {
    font-size: 1.8rem;
  }
}

.c-number--nav {
  font-size: 3rem;
}

.c-text1 {
  background: #fff;
  color: #00ada0;
  width: 315px;
  text-align: center;
}

.c-text1--footer {
  font-size: 1.4rem;
}

@media only screen and (max-width: 767px) {
  .c-text1--footer {
    margin: auto;
    width: 270px;
    font-size: 1.3rem;
  }
}

.c-text1--nav {
  margin: auto;
  text-align: center;
  width: 290px;
  font-size: 1.6rem;
  line-height: 0.69;
  padding: 7px 0;
}

.c-text2 {
  display: inline-block;
  font-size: 1.6rem !important;
  width: 290px;
  border: 2px #fff solid;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
slide Full
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
slide Pickup
------------------------------------------------------------*/
.c-slide2 {
  margin-top: 10px;
  /*
------------------------------------------------------------*/
}

.c-slide2 .c-posts1 {
  padding: 50px 0 25px 0;
  background-position: center;
  width: 100%;
  margin: 0px auto;
}

@media only screen and (max-width: 767px) {
  .c-slide2 .c-posts1 {
    padding: 35px 0 25px 0;
  }
}

.c-slide2 .c-posts1__item {
  background: #fff;
  max-width: 330px;
  margin: 0 7.5px;
  min-height: 330px;
}

@media only screen and (max-width: 767px) {
  .c-slide2 .c-posts1__item {
    min-height: 240px;
  }
}

.c-slide2 .c-posts1__thumbnail {
  width: 100%;
}

.c-slide2 .c-posts1__summary {
  text-align: left;
  display: block;
  margin-top: 0;
  padding: 10px 10px 0px 10px;
}

.c-slide2 .c-posts1__summary h3 {
  font-size: 1.6rem;
  line-height: 1.65;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .c-slide2 .c-posts1__summary h3 {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 0;
  }
}

.c-slide2 .c-posts1__summary p {
  font-size: 1.4rem;
  line-height: 2.35;
}

@media only screen and (max-width: 767px) {
  .c-slide2 .c-posts1__summary p {
    font-size: 1.1rem;
    line-height: 1.81;
  }
}

@media only screen and (max-width: 767px) {
  .c-slide2 .c-posts1__summary {
    padding: 5px 10px 0px 5px;
  }
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  width: 100%;
}

/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  position: absolute;
  display: block;
  width: 70px;
  height: 70px;
  color: transparent;
  border: none;
  outline: none;
  top: 40%;
  z-index: 9;
}

@media only screen and (max-width: 767px) {
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

.slick-prev {
  background-image: url(../img/prev.png);
  left: 60px;
}

.slick-next {
  background-image: url(../img/next.png);
  right: 60px;
}

/* Dots */
.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  margin: 20px 0 0;
  list-style: none;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .slick-dots {
    margin-top: 7px;
  }
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 8px;
  padding: 0;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .slick-dots li {
    margin: 0 3px;
  }
}

.slick-dots li.slick-active button:before {
  border-radius: 50%;
  margin-top: -2px;
  margin-left: -4px;
  padding: 1.45px 3.1px 1.5px 3.5px;
  border: 1px solid #000;
  color: #000;
}

@media only screen and (max-width: 767px) {
  .slick-dots li.slick-active button:before {
    margin-top: -2px;
    margin-left: -3px;
    padding: 0.5px 2px 1px 2px;
  }
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  padding: 8px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

@media only screen and (max-width: 767px) {
  .slick-dots li button {
    padding: 4.5px;
  }
}

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 1rem;
  line-height: 1.4;
  position: absolute;
  content: "\f111";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .slick-dots li button:before {
    font-size: 0.7rem;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-index1 {
  padding: 50px 0 30px 0;
  text-align: center;
  background: #00ada0;
  background-image: url(../img/bg_pickup.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 767px) {
  .p-index1 {
    padding: 35px 0 25px 0;
  }
}

.p-index2 {
  padding: 50px 0;
  background: #e3f8f8;
  background-image: url(../img/bg_company.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

@media only screen and (max-width: 767px) {
  .p-index2 {
    padding: 35px 0 12px 0;
  }
}

.p-index2 p {
  line-height: 1.78;
}

.p-index2 .c-btn2 {
  margin-top: -20px;
}

.p-index3 {
  padding: 35px 0 80px 0;
}

@media only screen and (max-width: 767px) {
  .p-index3 {
    padding: 15px 0 50px 0;
  }
}

.p-index3__content {
  max-width: 1416px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 767px) {
  .p-index3__content {
    max-width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-index3__img {
  width: 340px;
  height: 400px;
  margin-top: 25px;
  margin-left: -25px;
}

.p-index4 {
  background: #f8b616;
}

@media only screen and (max-width: 767px) {
  .p-index4 {
    text-align: center;
    position: relative;
  }
}

.p-index4__content {
  max-width: 1416px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-index4__content {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.p-index4__center {
  min-width: 535px;
}

@media only screen and (max-width: 767px) {
  .p-index4__center {
    min-width: 100%;
  }
}

.p-index4__center p {
  font-size: 1.7rem;
  line-height: 1.47;
  text-align: center;
  padding: 205px 0 45px 0;
}

@media only screen and (max-width: 767px) {
  .p-index4__center p {
    padding: 25px 0 23px 0;
    font-size: 1.3rem;
    line-height: 1.5;
  }
}

@media only screen and (max-width: 767px) {
  .p-index4__center .c-btn2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-right: -50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 767px) {
  .p-index4__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 100px;
  }
  .p-index4__right img {
    width: 50%;
  }
}

.p-index4__imgcenter {
  position: absolute;
  margin-top: -65px;
  margin-left: -50px;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .p-index4__imgcenter {
    width: 241px;
    position: relative;
    margin-top: -35px;
    margin-left: 0;
  }
}

/*------------------------------------------------------------
Css of news page
------------------------------------------------------------*/
.p-news .c-mainvisual {
  clear: both;
  background-color: #edf9f8;
  padding: 55px 0 50px 0;
  text-align: center;
}

.p-news__content .l-container {
  padding: 20px 190px 25px 190px;
  border-bottom: 1px solid #cccccc;
}

@media only screen and (max-width: 767px) {
  .p-news__content .l-container {
    padding: 15px 0;
  }
}

.p-news__content .l-container .c-list1 li:first-child {
  border-top: 0;
}

.p-news__content .l-container .c-list1 li:last-child {
  border-bottom: 0;
}

/*------------------------------------------------------------
Css of contact page
------------------------------------------------------------*/
.p-contact .c-mainvisual {
  clear: both;
  height: 400px;
  background-image: url(../img/bg_contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-contact .c-mainvisual {
    height: 300px;
  }
}

.p-contact .c-mainvisual img {
  margin-top: 280px;
}

@media only screen and (max-width: 767px) {
  .p-contact .c-mainvisual img {
    width: 150px;
    margin-top: 210px;
  }
}

.p-contact__content .l-container {
  padding: 45px 190px 0 190px;
}

@media only screen and (max-width: 767px) {
  .p-contact__content .l-container {
    padding: 25px 15px 10px 15px;
    font-size: 1.3rem;
  }
}

.p-contact__content .l-container p {
  line-height: 2;
}

.p-contact__content .l-container .l-btn {
  padding-top: 50px;
}

/*------------------------------------------------------------
Css of company page
------------------------------------------------------------*/
.p-company .c-mainvisual {
  clear: both;
  height: 400px;
  background-image: url(../img/bg_companypage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-company .c-mainvisual {
    height: 300px;
  }
}

.p-company .c-mainvisual img {
  margin-top: 280px;
}

@media only screen and (max-width: 767px) {
  .p-company .c-mainvisual img {
    width: 150px;
    margin-top: 210px;
  }
}

.p-company__content .l-container {
  padding: 50px 0 0px;
}

.p-company__content .l-container .l-content--3cols .c-posts__info {
  display: block;
  padding-bottom: 120px;
}

@media only screen and (max-width: 767px) {
  .p-company__content .l-container .l-content--3cols .c-posts__info {
    padding-bottom: 25px;
  }
}

.p-company__content .l-container .l-content--3cols .c-posts__info__thumbnail img {
  width: 330px;
  height: 220px;
}

.p-company__content .l-container .l-content--3cols .c-posts__info__summary {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 330px;
  top: 15px;
  position: relative;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .p-company__content .l-container .l-content--3cols .c-posts__info__summary {
    width: 300px;
  }
}

.p-company__content .l-container .l-content--3cols .c-posts__info__summary__txt {
  width: 300px;
}

.p-company__content .l-container .l-content--3cols .c-posts__info__summary__icon {
  position: absolute;
  right: 0;
}

.p-company .c-pagination a:first-child {
  border: 3px solid #000;
  font-weight: 400;
}

/*------------------------------------------------------------
Css of interview page
------------------------------------------------------------*/
.p-interview .c-mainvisual {
  clear: both;
  height: 400px;
  background-image: url(../img/bg_interview.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-interview .c-mainvisual {
    height: 300px;
  }
}

.p-interview .c-mainvisual img {
  margin-top: 280px;
}

@media only screen and (max-width: 767px) {
  .p-interview .c-mainvisual img {
    width: 150px;
    margin-top: 210px;
  }
}

.p-interview__content .l-container {
  padding-top: 20px;
}

.p-interview__content .l-container .l-content--3cols {
  border-top: 1px solid #cccccc;
  padding-top: 25px;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
.u-mt20 {
  margin-top: 20px;
}

.u-red {
  color: #ff0000;
}

.u-green {
  color: #00ada0;
}
/*# sourceMappingURL=style.css.map */