/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-btn1 {
    color: $white;
    display: inline-block;
    width: 310px;
    padding: 10px 0;
    background-color: #25a989;
    font-size: 2.4rem;
    margin-top: 20px;
    border-radius: 30px;
    @include breakpoint(sp) {
        margin-top: 25px;
        width: 200px;
        font-size: 1.6rem;
        padding: 5px 0;
    }
}

.btn-nav {
    position: fixed;
    top: 15px;
    left: 15px;
    height: 27px;
    width: 45px;
    height: 45px;
    background: $green_bold;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    padding: 15px;
    transition: opacity .25s ease;
    &.active .top,
    &.active .middle,
    &.active .bottom {
        background: $green_bold;
    }
    &.active {
        background: $white;
    }
    span {
        background: $white;
        opacity: 0.9;
        border: none;
        height: 3px;
        width: 50%;
        position: absolute;
        top: 0;
        border-radius: 4px;
        left: 11px;
        transition: all .35s ease;
        cursor: pointer;
        &:nth-of-type(1) {
            top: 14px;
        }
        &:nth-of-type(2) {
            top: 22px;
        }
        &:nth-of-type(3) {
            top: 30px;
        }
    }
}