/*------------------------------------------------------------
btn
------------------------------------------------------------*/

.l-btn {
    &--center {
        text-align: center;
    }
}


/*
------------------------------------------------------------*/

.c-btn1 {
    display: inline-block;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    border: 1px solid;
    padding: 10px 0;
    width: 273px;
    @include breakpoint(tablets) {
        border-radius: 2.5px;
        width: 224px;
        font-size: 1.5rem;
    }
    &--pink {
        color: $col_pinkBtn;
        border-color: $col_pinkBtn;
        &:hover {
            color: $col_white;
            background: $col_pinkBtn;
        }
    }
}

.c-btnImg {
    span {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        @include breakpoint(sp) {
            font-size: 1.4rem;
            margin-bottom: 5px;
        }
    }
    position: absolute;
    right:64px;
    bottom: 20px;
    @include breakpoint(tablets) {
        top: 55px;
        bottom: 35px;
    }
    @include breakpoint(sp) {
        top: 12px;
        bottom: 5px;
        right: 20px;
    }
}

.c-btn2 {
    width: 100%;
    color: $col_white;
    display: flex;
    align-items: center;
    padding: 8px 0;
    border-right: 1px solid #ccc;
    @include breakpoint(tablets) {
        border-right: 0;
    }
    p {
        font-size: 1.4rem;
        margin-right: auto;
    }
    img {
        width: 37px;
        margin-left: auto;
        margin-right: 10px;
        @include breakpoint(sp) {
            width: 28px;
        }
    }
    &--green {
        background: #98d1b8;
    }
    &--purple {
        background: #9da9cb;
    }
    &--pink {
        background: #e0aab7;
    }
    &--orange {
        background: #e7cc6d;
    }
}

.c-btn3 {
    padding: 11px 0;
    display: inline-block;
    border: 1px solid;
    border-radius: 3px;
    width: 216px;
    text-align: center;
    @include breakpoint(sp) {
        padding: 10px 0;
        font-size: 1.5rem;
        width: 224;
        border-radius: 2px;
    }
    &--grey {
        margin-top: 25px;
        color: #50717a;
        border-color: rgb(80, 113, 122);
        font-weight: 500;
        @include breakpoint(tablets) {
            margin-top: 0;
        }
        @include breakpoint(sp) {
            margin-top: -5px;
        }
        &:hover {
            color: $col_white;
            background: rgb(80, 113, 122);
        }
    }
    &--red {
        border: 0;
        width: 220px;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: rgb(231, 72, 87);
    }
}

.c-btn4 {
    font-size: 1.3rem;
    font-weight: bold;
}