/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-title1 {
    span {
        display: block;
        &:nth-child(1) {
            font-size: 1.53rem;
        }
        &:nth-child(2) {
            font-size: 2.5rem;
        }
    }
    &--vertical {
        height: 35%;
        margin-top: 100px;
        @include breakpoint(tablets) {
            height: auto;
            margin-top: 0;
            transform: none;
            display: flex;
            flex-direction: column-reverse;
        }
        span {
            &:nth-child(1) {
                position: absolute;
                top: 63px;
                right: 32px;
                transform: rotate(90deg);
                color: #a0e5f5;
                font-weight: 500;
                @include breakpoint(tablets) {
                    position: relative;
                    top: 0;
                    right: 0;
                    transform: rotate(0deg);
                }
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                }
            }
            &:nth-child(2) {
                position: absolute;
                top: 50px;
                right: 85px;
                width: 20px;
                line-height: 1;
                @include breakpoint(tablets) {
                    width: auto;
                    position: relative;
                    top: 0;
                    right: 0;
                    letter-spacing: -3px;
                    line-height: 1.5;
                }
                @include breakpoint(sp) {
                    font-size: 1.5rem;
                    letter-spacing: -2px;
                }
            }
        }
    }
    &--blue {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        span {
            &:nth-child(1) {
                color: #64c7e1;
                font-weight: bold;
                @include breakpoint(sp) {
                    font-size: 1.5rem;
                }
            }
            &:nth-child(2) {
                @include breakpoint(sp) {
                    font-size: 2rem;
                }
            }
        }
    }
    &--inline {
        display: flex;
        flex-direction: row-reverse;
        span {
            &:nth-child(1) {
                flex: 1;
                margin: 10px 0 0 20px;
                color: #64c7e1;
                font-weight: bold;
                @include breakpoint(sp) {
                    font-size: 1.4rem;
                    margin: 4px 0 0 15px;
                }
            }
            &:nth-child(2) {
                @include breakpoint(sp) {
                    font-size: 1.6rem;
                }
            }
        }
    }
}

.c-title2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
    padding-left: 15px;
    border-left: 5px solid $col_white;
    @include breakpoint(sp) {
        padding-left: 10px;
    }
}