/*------------------------------------------------------------
Slide
------------------------------------------------------------*/

.c-slide1 {
    min-height: 500px;
    background-image: url(../img/main_img01.jpg);
    background-size: cover;
    text-align: center;
    background-position: center top;
    @include breakpoint(sp) {
        min-height: 300px;
    }
}


/*
------------------------------------------------------------*/

.c-slide2 {
    @include breakpoint(sp) {
        display: none;
    }
    &__item {
        overflow: hidden;
        width: 100%;
        background: #fff;
    }
    &__animation {
        width: auto;
        height: 200px;
        font-size: 0px;
        div {
            display: inline-block;
            width: auto;
            float: none;
        }
    }
}