/*------------------------------------------------------------
form
------------------------------------------------------------*/

.c-cat1 {
    font-weight: bold;
    font-size: 1.5rem;
    padding: 2.5px 7.5px;
    border-radius: 3px;
    color: $col_white;
    @include breakpoint(sp) {
        font-size: 1.2rem;
    }
    &--green {
        background-color: rgb(182, 220, 92);
    }
    &--purple {
        background-color: rgb(157, 169, 203);
    }
    &--blue {
        font-size: 1.2rem;
        background-color: $col_blue;
        padding: 4.5px 8.5px;
        @include breakpoint(sp) {
            padding: 1px 4px;
        }
    }
}


/*
------------------------------------------------------------*/