/*------------------------------------------------------------
posts
------------------------------------------------------------*/

.l-content {
    &--2cols {
        padding-top: 45px;
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(tablets) {
            padding: 45px 0 20px 0;
            display: block;
        }
        .c-posts3 {
            width: 490px;
            margin-bottom: 60px;
            overflow: hidden;
            @include breakpoint(tablets) {
                width: 100%;
                margin-bottom: 40px;
            }
            @include breakpoint(sp) {
                margin-bottom: 25px;
            }
        }
    }
    &--3cols {
        padding: 45px 0 50px 0;
        display: flex;
        @include breakpoint(tablets) {
            display: block;
        }
        @include breakpoint(sp) {
            padding: 35px 0 60px 0;
        }
        .c-posts2 {
            width: 324px;
            margin: 0;
            padding: 0 30px;
            @include breakpoint(tablets) {
                width: 100%;
                display: flex;
                margin: 0 auto 40px auto;
            }
            @include breakpoint(sp) {
                width: 100%;
                padding: 0;
            }
            &:last-child {
                @include breakpoint(tablets) {
                    margin-bottom: 0;
                }
            }
        }
    }
    &--4cols {
        padding: 35px 0 5px 0;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        @include breakpoint(tablets) {
            padding: 40px 0 75px 0;
            width: 100%;
            margin: 0 auto;
        }
        @include breakpoint(sp) {
            flex-direction: column;
            width: 100%;
            padding: 20px 18px 30px 18px;
        }
        .c-item {
            display: flex;
            @include breakpoint(tablets) {
                margin-right: 14px;
                margin-bottom: 15px;
                div {
                    margin-right: 14px;
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
            @include breakpoint(sp) {
                margin-right: 0;
                div {
                    &:nth-child(1n) {
                        margin-left: auto;
                    }
                    &:nth-child(2n) {
                        margin-right: auto;
                    }
                }
            }
            &:nth-child(4n) {
                @include breakpoint(tablets) {
                    margin-right: 0;
                }
            }
            &:nth-child(2n) {
                @include breakpoint(sp) {
                    margin-right: 0;
                }
            }
            img {
                margin: 10px;
                @include breakpoint(tablets) {
                    width: 164px;
                    margin: 0;
                }
                @include breakpoint(sp) {
                    width: 112px
                }
            }
        }
    }
}


/*
------------------------------------------------------------*/

.c-posts {
    &1 {
        position: relative;
        flex: 1;
        margin: 0;
        background: $col_white;
        border-right: 1px solid $col_greyCC;
        @include breakpoint(tablets) {
            display: flex;
            border-right: 0;
        }
        @include breakpoint(sp) {
            flex: 0;
            border-bottom: 1px solid $col_greyCC;
        }
        &__thumbnail {
            width: 100%;
            min-height: 210px;
            background-size: cover;
            background-position: center center;
            img {
                display: none;
            }
            @include breakpoint(tablets) {
                width: 50%;
                flex: 1;
            }
            @include breakpoint(sp) {
                width: 33%;
                flex: none;
                min-height: 150px;
            }
        }
        &__summary {
            padding: 15px 20px 10px 20px;
            border-top: 3px solid;
            @include breakpoint(tablets) {
                padding: 40px 10px 5px 15px;
                border-top: 0;
                border-left: 3px solid;
                flex: 1;
            }
            @include breakpoint(sp) {
                padding: 15px 20px 15px 15px;
                flex: 1;
                border-left: 2px solid;
            }
            h3 {
                font-size: 1.5rem;
                margin-bottom: 10px;
                @include breakpoint(sp) {
                    font-size: 1.4rem;
                    line-height: 1.42;
                }
            }
            p {
                font-size: 1.5rem;
                line-height: 1.3;
                @include breakpoint(sp) {
                    font-size: 1.4rem;
                    line-height: 1.42;
                }
            }
        }
    }
    &2 {
        position: relative;
        &__thumbnail {
            position: relative;
            @include breakpoint(sp) {
                width: 33%;
            }
            h3 {
                position: absolute;
                bottom: 8px;
                left: 25px;
                @include breakpoint(sp) {
                    position: relative;
                    left: 0;
                    top: 7px;
                }
                span {
                    display: block;
                    background: #fff;
                    padding: 2px 10px;
                    width: fit-content;
                    margin-bottom: 5px;
                    border-radius: 3px;
                    font-size: 1.3rem;
                    @include breakpoint(sp) {
                        &:first-child {
                            font-size: 0.9rem;
                            font-weight: 400;
                        }
                        &:last-child {
                            margin-top: -10px;
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        &__summary {
            padding: 15px 0px 72px 0px;
            font-weight: 400;
            @include breakpoint(tablets) {
                flex: 1;
                padding: 0px 0px 0px 10px;
            }
            @include breakpoint(sp) {
                padding-left: 15px;
                margin-bottom: -5px;
            }
            p {
                font-size: 1.5rem;
                line-height: 1.66;
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                }
            }
            ul {
                margin-top: 20px;
                position: absolute;
                bottom: 0;
                @include breakpoint(tablets) {
                    bottom: 48px;
                }
                @include breakpoint(sp) {
                    position: relative;
                    bottom: 0;
                }
                li {
                    margin-bottom: 4px;
                    span {
                        line-height: 1.785;
                        margin-left: 10px;
                        @include breakpoint(sp) {
                            font-size: 1.2rem;
                            margin-left: 5px;
                            line-height: 1.66;
                        }
                    }
                }
            }
        }
    }
    &3 {
        display: flex;
        overflow: hidden;
        &__thumbnail {
            width: 200px;
            position: relative;
            overflow: hidden;
            text-align: center;
            .is-zoom {
                margin-top: 2px;
                transition: transform .2s;
                @include breakpoint(sp) {
                    margin-top: 1px;
                    width: 70%;
                }
            }
            .is-hover {
                position: absolute;
                top: 50%;
                left: 50%;
                right: -50%;
                transform: translate(-50%, -50%);
                @include breakpoint(sp) {
                    width: 77%;
                }
            }
            @include breakpoint(sp) {
                width: 40%;
            }
        }
        &__summary {
            flex: 1;
            span {
                font-size: 1.3rem;
                color: $col_greyCC;
                font-weight: bold;
                margin-left: 10px;
                letter-spacing: 0.15rem;
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                    margin-left: 8px;
                }
            }
            h3 {
                font-size: 1.6rem;
                line-height: 1.56;
                margin: 20px 0 12px 0;
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                    line-height: 1.67;
                    margin-top: 15px;
                }
            }
            p {
                font-size: 1.5rem;
                line-height: 1.67;
                @include breakpoint(sp) {
                    display: none;
                }
            }
        }
    }
}