/*------------------------------------------------------------
lists
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-list1 {
    clear: both;
    margin-top: 15px;
    @include breakpoint(tablets) {
        margin-top: 20px;
    }
    li {
        margin-bottom: 10px;
        @include breakpoint(sp) {
            margin-bottom: 15px;
            margin-right: 0;
        }
        a {
            font-size: 1.5rem;
            display: flex;
            @include breakpoint(sp) {
                font-size: 1.2rem;
            }
        }
        margin-right: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__txt1 {
        width: 115px;
        @include breakpoint(sp) {
            width: 100px;
        }
    }
}