/*------------------------------------------------
Navi
-------------------------------------------------*/

.c-nav1 {
    li {
        width: 160px;
        text-align: center;
        display: inline-block;
        border-left: 2px solid $col_white;
        margin-right: -5px;
        &:last-child {
            border-right: 2px solid $col_white;
            margin-right: 0;
        }
    }
}

.c-nav2 {
    @include breakpoint(sp) {
        display: none;
    }
    li {
        margin-right: 25px;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
}