/* Breadcrumb
------------------------------------------------------------*/

.c-breadcrumb {
    font-size: 1.3rem;
    .l-container {
        padding: 25px 0;
        border-bottom: 1px solid $colorGrey;
    }
    @include breakpoint(sp) {
        padding: 10px 0;
    }
    //-------------------------------------------------------
    li {
        display: inline-block;
        a {
            text-decoration: underline;
        }
        &:first-child {
            a {
                color: $colorGreen;
            }
        }
        &:last-child {
            a {
                text-decoration: none;
            }
        }
        &+li {
            &:before {
                content: ">";
                font-weight: 400;
                padding: 0 10px;
            }
        }
    }
}