/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    &__pagetop {
        text-align: center;
        padding: 30px 0;
        @include breakpoint(sp) {
            padding: 15px 0;
        }
    }
    &__main {
        background: $colorGreen;
        color: $colorWhite;
        .l-container {
            display: flex;
            @include breakpoint(sp) {
                flex-direction: column-reverse;
                text-align: center;
            }
        }
    }
    &__grid {
        &1 {
            padding: 20px 0;
            width: 420px;
            border-right: rgb(128, 214, 208) 1px solid;
            @include breakpoint(sp) {
                width: 100%;
                padding: 35px 15px 30px 15px;
            }
            h1 {
                img {
                    width: 296px;
                    @include breakpoint(sp) {
                        width: 269px;
                    }
                }
            }
            h4 {
                margin: 15px 0 5px 0;
                @include breakpoint(sp) {
                    margin: 30px 0 0;
                    font-size: 1.3rem;
                    line-height: 1.92;
                }
            }
            p {
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                    line-height: 2.08;
                }
            }
        }
        &2 {
            padding: 20px;
            width: 440px;
            @include breakpoint(sp) {
                width: 100%;
                padding: 30px 15px 20px 15px;
                order: 1;
                border-bottom: #f2f2f2 1px solid;
            }
            p {
                font-size: 1.3rem;
                @include breakpoint(sp) {
                    line-height: 1.5;
                }
            }
            .c-tel {
                margin: 2px 0 10px 0;
                @include breakpoint(sp) {
                    margin: 20px 0;
                }
            }
        }
        &3 {
            padding-top: 20px;
            width: 300px;
            .c-btn3 {
                margin-bottom: 20px;
                @include breakpoint(sp) {
                    margin-bottom: 15px;
                }
            }
            @include breakpoint(sp) {
                width: 100%;
                border-bottom: #f2f2f2 1px solid;
                padding: 20px 0 5px 0;
            }
        }
    }
    .c-copyright {
        background: #33bdb3;
        color: $colorWhite;
        padding: 20px 0;
        font-size: 1.3rem;
        text-align: center;
        @include breakpoint(sp) {
            font-size: 1.1rem;
            line-height: 2.273;
            padding: 10px 0;
        }
    }
}