    /* Header
------------------------------------------------------------*/
    
    .c-header {
        position: absolute;
        z-index: 2;
        margin: auto;
        width: 100%;
        min-width: 1416px;
        @include breakpoint(sp) {
            position: fixed;
            top: 0;
            left: 0;
            min-width: 100%;
            margin-right: 0;
            transform: none;
        }
        &--news {
            position: relative;
            margin: 0;
        }
        &__top {
            color: $colorWhite;
            float: right;
            margin: 15px 0 16px 0;
            @include breakpoint(sp) {
                display: none;
            }
            img {
                margin-left: 12px;
            }
        }
        &__nav {
            background-color: $colorWhite;
            height: 90px;
            clear: both;
            @include breakpoint(sp) {
                height: 70px;
                text-align: center;
                display: flex;
                top: 0;
                left: 0;
                z-index: 999;
                color: #fff;
            }
        }
        &__logo {
            float: left;
            margin: 20px 0 0 20px;
            &--news {
                margin-left: 0;
                img {
                    width: 201px !important;
                    margin-top: 7px;
                    @include breakpoint(sp) {
                        width: 165px;
                        margin-top: 0;
                    }
                }
            }
            @include breakpoint(sp) {
                width: 165px;
                margin-left: 7px;
                float: none;
            }
            img {
                width: 292px;
                @include breakpoint(sp) {
                    width: 165px;
                }
            }
        }
    }
    /* Main menu
------------------------------------------------------------*/
    
    .c-gnavi {
        float: right;
        line-height: 90px;
        @include breakpoint(sp) {
            display: none;
            float: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 999;
            background-color: $colorGreen;
            color: #fff;
            line-height: 0;
        }
        ul {
            @include breakpoint(sp) {
                height: 150vh;
                overflow: auto;
            }
            li {
                display: inline;
                @include breakpoint(sp) {
                    display: block;
                    margin-bottom: 45px;
                    font-weight: 700;
                    &:first-child {
                        margin-top: 15px;
                    }
                    &:nth-child(8) {
                        border-top: 1px solid #dbeeec;
                        padding: 22px 0 25px 0;
                        margin-top: -10px;
                        margin-bottom: 0;
                        line-height: 30px;
                        .c-tel {
                            margin-bottom: 10px
                        }
                    }
                    &:nth-child(9) {
                        border-top: 1px solid #dbeeec;
                        padding-top: 10px;
                        ul li {
                            &:first-child {
                                margin-bottom: 40px;
                                line-height: 30px;
                            }
                            &:last-child {
                                margin-top: -5px;
                            }
                        }
                    }
                }
                a {
                    font-weight: 700;
                    padding: 0 25px;
                    @include breakpoint(sp) {
                        padding: 0;
                        font-size: 1.8rem;
                    }
                    &:hover {
                        color: $colorWhite;
                        background-color: $colorGreen;
                        padding: 35px 25px;
                        @include breakpoint(sp) {
                            padding: 0;
                            background: transparent;
                        }
                    }
                }
                &.is-current {
                    color: $colorWhite;
                    background-color: $colorGreen;
                    padding: 35px 15px;
                    margin-left: 25px;
                    @include breakpoint(sp) {
                        padding: 0;
                        background: transparent;
                    }
                }
            }
        }
    }
    
    .c-mail {
        position: absolute;
        right: 70px;
        background-color: $colorGreen;
        color: $colorWhite;
        width: 70px;
        height: 70px;
        padding: 12px 0;
        i {
            font-size: 3rem;
        }
        p {
            font-size: 1rem;
            font-weight: 700;
        }
    }
    
    .c-openmenu {
        font-size: 3rem;
        position: absolute;
        z-index: 99;
        right: 0;
        width: 70px;
        height: 70px;
        text-align: center;
        background-color: #000;
        color: #fff;
        padding: 15px 0;
        p {
            font-size: 1rem;
            margin-top: -15px;
            font-weight: 700;
        }
    }
    
    .c-closemenu {
        font-size: 3rem;
        margin: 15px 20px;
        text-align: right;
        color: #fff;
        img {
            margin-right: 5px;
        }
        p {
            font-size: 1rem;
            margin-top: 10px;
            font-weight: 700;
        }
    }
    
    .c-mv {
        position: relative;
        z-index: 1;
        @include breakpoint(sp) {
            text-align: center;
            margin-top: 70px;
        }
        &__img {
            min-height: 700px;
            position: relative;
            background-image: url("../img/slide1.jpg");
            background-size: cover;
            background-position: center center;
            @include breakpoint(sp) {
                min-height: 375px;
            }
            img {
                display: none;
            }
        }
        &__txt {
            position: absolute;
            z-index: 3;
            bottom: 50px;
            margin: 0 auto;
            @include breakpoint(sp) {
                bottom: 25px;
                left: 15px;
            }
            img {
                padding-bottom: 30px;
                @include breakpoint(sp) {
                    width: 279px;
                    padding-bottom: 35px;
                }
            }
        }
    }