/* layout
------------------------------------------------------------*/

body {
    font-family: $mainFonts;
    font-size: 1.4rem;
    min-width: $contentWidth;
    @include breakpoint(sp) {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    max-width: $baseWidth;
    margin: 0 auto;
    @include breakpoint(sp) {
        width: 100%;
        margin: 0;
    }
}

//-------------------------------------------------------