/* layout
------------------------------------------------------------*/

body {
    font-family: $mainFonts;
    font-size: 1.4rem;
    font-weight: 500;
    min-width: $baseWidth;
    @include breakpoint(sp) {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    width: $baseWidth;
    margin: 0 auto;
    @include breakpoint(sp) {
        width: 100%;
    }
}

//-------------------------------------------------------