/*------------------------------------------------------------
Css of company page
------------------------------------------------------------*/

.p-company {
    //-------------------------------------------------------//
    .c-mainvisual {
        clear: both;
        height: 400px;
        background-image: url(../img/bg_companypage.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        @include breakpoint(sp) {
            height: 300px;
        }
        img {
            margin-top: 280px;
            @include breakpoint(sp) {
                width: 150px;
                margin-top: 210px;
            }
        }
    }
    &__content {
        .l-container {
            padding: 50px 0 0px;
            .l-content--3cols {
                .c-posts__info {
                    display: block;
                    padding-bottom: 120px;
                    @include breakpoint(sp) {
                        padding-bottom: 25px;
                    }
                    &__thumbnail {
                        img {
                            width: 330px;
                            height: 220px;
                        }
                    }
                    &__summary {
                        margin: 0;
                        display: flex;
                        align-items: center;
                        width: 330px;
                        top: 15px;
                        position: relative;
                        padding: 0;
                        box-shadow: none;
                        @include breakpoint(sp) {
                            width: 300px;
                        }
                        &__txt {
                            width: 300px;
                        }
                        &__icon {
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
    }
    .c-pagination {
        a:first-child {
            border: 3px solid $colorBlack;
            font-weight: 400;
        }
    }
}