/*------------------------------------------------------------
Css of contact page
------------------------------------------------------------*/

.p-contact {
    //-------------------------------------------------------//
    .c-mainvisual {
        clear: both;
        height: 400px;
        background-image: url(../img/bg_contact.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        @include breakpoint(sp) {
            height: 300px;
        }
        img {
            margin-top: 280px;
            @include breakpoint(sp) {
                width: 150px;
                margin-top: 210px;
            }
        }
    }
    &__content {
        .l-container {
            padding: 45px 190px 0 190px;
            @include breakpoint(sp) {
                padding: 25px 15px 10px 15px;
                font-size: 1.3rem;
            }
            p {
                line-height: 2;
            }
            .l-btn {
                padding-top: 50px;
            }
        }
    }
}