/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-index {
    //-------------------------------------------------------
    &1 {
        padding: 50px 0 30px 0;
        text-align: center;
        background: $colorGreen;
        background-image: url(../img/bg_pickup.png);
        background-size: cover;
        background-repeat: no-repeat;
        @include breakpoint(sp) {
            padding: 35px 0 25px 0;
        }
    }
    //-------------------------------------------------------
    &2 {
        padding: 50px 0;
        background: #e3f8f8;
        background-image: url(../img/bg_company.png);
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
        @include breakpoint(sp) {
            padding: 35px 0 12px 0;
        }
        p {
            line-height: 1.78;
        }
        .c-btn2 {
            margin-top: -20px;
        }
    }
    //-------------------------------------------------------
    &3 {
        padding: 35px 0 80px 0;
        @include breakpoint(sp) {
            padding: 15px 0 50px 0;
        }
        &__content {
            max-width: $contentWidth;
            margin: auto;
            display: flex;
            @include breakpoint(sp) {
                max-width: 100%;
                flex-direction: column;
            }
        }
        &__img {
            width: 340px;
            height: 400px;
            margin-top: 25px;
            margin-left: -25px;
        }
    }
    //-------------------------------------------------------
    &4 {
        background: #f8b616;
        @include breakpoint(sp) {
            text-align: center;
            position: relative;
        }
        &__content {
            max-width: $contentWidth;
            margin: auto;
            display: flex;
            padding: 10px 0;
            position: relative;
            @include breakpoint(sp) {
                width: 100%;
                flex-direction: column;
            }
        }
        &__center {
            min-width: 535px;
            @include breakpoint(sp) {
                min-width: 100%;
            }
            p {
                font-size: 1.7rem;
                line-height: 1.47;
                text-align: center;
                padding: 205px 0 45px 0;
                @include breakpoint(sp) {
                    padding: 25px 0 23px 0;
                    font-size: 1.3rem;
                    line-height: 1.5;
                }
            }
            .c-btn2 {
                @include breakpoint(sp) {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-right: -50%;
                    transform: translate(-50%, -50%)
                }
            }
        }
        &__right {
            @include breakpoint(sp) {
                display: flex;
                width: 100%;
                margin-bottom: 100px;
                img {
                    width: 50%;
                }
            }
        }
        &__imgcenter {
            position: absolute;
            margin-top: -65px;
            margin-left: -50px;
            z-index: 1;
            @include breakpoint(sp) {
                width: 241px;
                position: relative;
                margin-top: -35px;
                margin-left: 0;
            }
        }
    }
}