/*------------------------------------------------------------
Css of interview page
------------------------------------------------------------*/

.p-interview {
    //-------------------------------------------------------//
    .c-mainvisual {
        clear: both;
        height: 400px;
        background-image: url(../img/bg_interview.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        position: relative;
        @include breakpoint(sp) {
            height: 300px;
        }
        img {
            margin-top: 280px;
            @include breakpoint(sp) {
                width: 150px;
                margin-top: 210px;
            }
        }
    }
    &__content {
        .l-container {
            padding-top: 20px;
            .l-content--3cols {
                border-top: 1px solid $colorGrey;
                padding-top: 25px;
            }
        }
    }
}