/*------------------------------------------------------------
Css of news page
------------------------------------------------------------*/

.p-news {
    //-------------------------------------------------------//
    .c-mainvisual {
        clear: both;
        background-color: #edf9f8;
        padding: 55px 0 50px 0;
        text-align: center;
    }
    &__content {
        .l-container {
            padding: 20px 190px 25px 190px;
            @include breakpoint(sp) {
                padding: 15px 0;
            }
            border-bottom: 1px solid $colorGrey;
            .c-list1 {
                li:first-child {
                    border-top: 0;
                }
                li:last-child {
                    border-bottom: 0;
                }
            }
        }
    }
}