/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    background-color: $white;
    padding: 65px 0;
    @include breakpoint(sp) {
        padding: 50px 15px;
    }
    .l-container {
        display: flex;
        @include breakpoint(sp) {
            flex-direction: column;
        }
        .item {
            width: 50%;
            @include breakpoint(sp) {
                width: 100%;
            }
            &1 {
                font-size: 1.4rem;
                line-height: 1.8;
                @include breakpoint(sp) {
                    font-size: 1.3rem;
                    line-height: 1.7;
                }
            }
            &2 {
                text-align: right;
                margin-top: 20px;
                @include breakpoint(sp) {
                    margin-top: 25px;
                }
                h1 img {
                    width: 145px;
                    @include breakpoint(sp) {
                        width: 100px;
                    }
                }
                @include breakpoint(sp) {
                    text-align: center;
                }
                p {
                    font-size: 1.2rem;
                    @include breakpoint(sp) {
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}