/* Header
------------------------------------------------------------*/

.c-header {
    position: relative;
    background-color: #fff;
    text-align: center;
    padding: 100px 0 40px 0;
    @include breakpoint(sp) {
        padding: 0px 15px 40px 15px;
    }
    &__main {
        @include breakpoint(sp) {
            top: 25px;
            position: relative;
        }
        &__bg {
            position: relative;
            @include breakpoint(sp) {
                margin-top: -45px;
            }
            img {
                @include breakpoint(sp) {
                    margin: auto;
                }
            }
        }
        .l-container {
            width: $baseWidth;
            position: absolute;
            vertical-align: middle;
            z-index: 7;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            @include breakpoint(sp) {
                width: 100%;
            }
        }
    }
    &__text {
        width: 50%;
        padding: 100px 0 60px 0;
        position: absolute;
        z-index: 7;
        @include breakpoint(sp) {
            width: 100%;
            padding: 120px 0 190px 0;
        }
        h2 {
            img {
                margin-bottom: 5px;
                @include breakpoint(sp) {
                    margin: auto;
                    margin-bottom: 20px;
                }
            }
        }
        hr {
            border-color: #000;
            width: 60px;
            border-width: 1px;
            @include breakpoint(sp) {
                width: 42px;
            }
        }
        h3 {
            font-size: 1.6rem;
            margin: 15px auto 35px auto;
            @include breakpoint(sp) {
                font-size: 1.5rem;
                margin: 15px auto 20px auto;
            }
        }
        p {
            font-size: 1.6rem;
            @include breakpoint(sp) {
                font-size: 1.5rem;
            }
        }
        h4 {
            font-size: 3rem;
            @include breakpoint(sp) {
                font-size: 2rem;
            }
        }
    }
    &__bubble {
        position: absolute;
        z-index: 9;
        top: 27%;
        left: 50%;
        margin-left: 20px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        @include breakpoint(sp) {
            display: none;
        }
        img {
            animation: float 3s ease-out infinite;
        }
        @keyframes float {
            50% {
                transform: translate(0, 20px);
            }
        }
        @keyframes bubble_float {
            from {
                top: 25%;
            }
            to {
                top: -5%;
            }
        }
        @keyframes bubble {
            from {
                top: 0%;
            }
            to {
                top: 25%;
            }
        }
    }
    .fix-leaf {
        text-align: center;
        #fixed-leaf-top {
            top: 0;
            right: 45%;
            position: fixed;
            z-index: 98;
            @include breakpoint(sp) {
                width: 151px;
            }
        }
        #fixed-leaf-right {
            right: 0;
            top: 30vh;
            position: fixed;
            z-index: 98;
            @include breakpoint(sp) {
                width: 118px;
                top: auto;
                bottom: 0;
            }
        }
    }
    &__case {
        max-width: 1100px;
        margin: auto;
        padding-top: 80px;
        @include breakpoint(sp) {
            width: 100%;
            padding-top: 65px;
        }
        p {
            font-size: 2rem;
            @include breakpoint(sp) {
                font-size: 1.2rem;
            }
        }
        h2 {
            font-size: 4.6rem;
            @include breakpoint(sp) {
                font-size: 2rem;
            }
        }
        &__img {
            margin-top: -50px;
            @include breakpoint(sp) {
                margin-top: 45px;
            }
            &__item {
                display: flex;
                padding-bottom: 80px;
                @include breakpoint(sp) {
                    flex-direction: column;
                    padding-bottom: 0px;
                }
                &1,
                &4 {
                    @include breakpoint(sp) {
                        margin: 0 0 15px;
                    }
                }
                &2,
                &3 {
                    margin-top: 100px;
                    margin-left: 40px;
                    @include breakpoint(sp) {
                        margin: 0 0 15px;
                    }
                }
                &5 {
                    margin-left: 60px;
                    @include breakpoint(sp) {
                        margin: 0 0 15px;
                    }
                }
                &6 {
                    margin-top: 20px;
                    margin-left: 20px;
                    @include breakpoint(sp) {
                        margin: 0 0 15px;
                    }
                }
                &7 {
                    margin-top: 60px;
                    @include breakpoint(sp) {
                        margin: 0 0 15px;
                    }
                }
                &8 {
                    margin-top: -30px;
                    @include breakpoint(sp) {
                        margin: 0 0 25px;
                    }
                }
                @include breakpoint(sp) {
                    &2 img,
                    &4 img,
                    &8 img,
                    &6 img {
                        float: right;
                        margin-right: 25px;
                    }
                    &1 img,
                    &3 img,
                    &5 img,
                    &7 img {
                        margin-left: 25px;
                    }
                }
            }
        }
    }
    &__nav {
        @include breakpoint(sp) {
            position: fixed;
            background: $green_bold;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            opacity: 0;
            visibility: hidden;
            transition: opacity .35s, visibility .35s, height .35s;
            overflow: hidden;
            z-index: 99;
            &.open {
                opacity: 1;
                visibility: visible;
                height: 100%;
            }
            &.close {
                opacity: 0;
                visibility: hidden;
                height: 100%;
            }
        }
        &__leaf {
            z-index: 101;
            &1 {
                position: absolute;
                top: 0;
                left: 0;
            }
            &2 {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
}


/* Main menu
------------------------------------------------------------*/

.c-gnavi {
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 99;
    @include breakpoint(sp) {
        position: relative;
        padding: 15px;
        top: 20vh;
        height: 5%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        font-size: 20px;
        text-align: center;
    }
    ul {
        @include breakpoint(sp) {
            list-style: none;
            padding: 0;
            margin: 0 auto;
            display: inline-block;
            position: relative;
            width: 100%;
        }
        li {
            text-align: left;
            width: 200px;
            margin-bottom: 15px;
            background-image: url(../img/bg_nav.png);
            background-size: cover;
            background-repeat: no-repeat;
            padding: 9px 0 9px 20px;
            @include breakpoint(sp) {
                padding: 25px 0;
                width: 100%;
                margin-bottom: 0;
                display: block;
                height: 100%;
                position: relative;
                opacity: 0;
                border-bottom: solid 1px rgba(255, 255, 255, 0.11);
                background-image: none;
                -webkit-animation: fadeInRight .5s ease forwards;
                animation: fadeInRight .5s ease forwards;
                -webkit-animation-delay: .35s;
                animation-delay: .35s;
                &:nth-of-type(2) {
                    -webkit-animation-delay: .4s;
                    animation-delay: .4s;
                }
                &:nth-of-type(3) {
                    -webkit-animation-delay: .45s;
                    animation-delay: .45s;
                }
                &:nth-of-type(4) {
                    -webkit-animation-delay: .50s;
                    animation-delay: .50s;
                }
            }
            a {
                color: $white;
                font-size: 1.6rem;
                @include breakpoint(sp) {
                    font-size: 2rem;
                    display: block;
                    position: relative;
                    text-decoration: none;
                    overflow: hidden;
                    text-align: center;
                    &::after {
                        content: '';
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 0%;
                        -webkit-transform: translateX(-50%);
                        transform: translateX(-50%);
                        height: 3px;
                        background: #FFF;
                        transition: .35s;
                    }
                }
            }
        }
    }
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
}