/* layout
------------------------------------------------------------*/

body {
    font-family: $mainFonts;
    font-size: 1.4rem;
    color: #000;
    min-width: $baseWidth;
    background-image: url(../img/BG.jpg);
    padding: 30px;
    font-weight: 400;
    @include breakpoint(sp) {
        min-width: 320px;
        padding: 15px;
    }
}

//-------------------------------------------------------
.l-container {
    max-width: $baseWidth;
    margin: 0 auto;
    @include breakpoint(sp) {
        width: 100%;
    }
}

//-------------------------------------------------------