/* ### GENERAL SITE STYLES ### */

body {
    background-color: #5a3e4c;
    color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}


/* ### GENERAL CONTENT STYLES ### */

h1 {
    font-size: 2.25em;
}

p {
    font-size: 1.25em;
}

.content {
    margin: 0px auto;
    padding: 30px;
}


/* ### FOOTER ### */

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

footer a {
    color: rgba(245, 245, 245, 0.5);
    font-size: 0.75em;
}

.toggle-nav {
    display: none;
}

#site-menu ul {
    margin-top: 10vh;
    padding-left: 0px;
    text-align: center;
}

#site-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0 10px;
    margin: auto;
}

#site-menu ul li a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #000;
    -webkit-transition: 300ms ease all;
    transition: 300ms ease all;
}

#site-menu ul li a:hover {
    color: #f4f4f4;
}

@media (max-width:767px) {
    h1 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }
    .toggle-nav {
        display: block;
    }
    #site-wrapper {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
    #site-canvas {
        width: 100%;
        height: 100vh;
        position: relative;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: 300ms ease all;
        transition: 300ms ease all;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .show-nav #site-canvas {
        -webkit-transform: translateX(100vw);
        transform: translateX(100vw);
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0);
    }
    /* ### MENU STYLES ### */
    #site-menu {
        width: 100vw;
        height: 100%;
        position: absolute;
        top: 0;
        left: -100vw;
        background: #56B2AB;
        color: #f5f5f5;
    }
    .site-menu-content {
        width: 100%;
        margin: 0px auto;
    }
    #site-menu i {
        color: #231F20;
        font-size: 2em;
        margin-left: 30px;
        margin-top: 20px;
    }
    #site-menu ul {
        margin-top: 10vh;
        padding-left: 0px;
    }
    #site-menu ul li {
        display: block;
        padding: 0;
        margin: 30px auto;
    }
    i {
        font-size: 2em;
        color: #F5F5F5;
        -webkit-transition: 300ms ease all;
        transition: 300ms ease all;
    }
    .nav-icon:hover {
        color: rgb(86, 178, 171);
    }
}