* {
    box-sizing: border-box;
}

h1,
p {
    color: white;
    font-weight: 100;
}

h1 {
    line-height: 1.2em;
}

body {
    -webkit-animation: bugfix infinite 1s;
    animation: bugfix infinite 1s;
    background: #2e313c;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    line-height: 1.5rem;
    position: relative;
}

.page-wrap {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 100%;
    min-width: 300px;
}

.page-wrap::after {
    clear: both;
    content: "";
    display: table;
}

.page-wrap-inner {
    float: left;
    width: 100%;
    margin-left: 0;
    transition: all 0.55s ease-in-out 0s;
}

.page-wrap-inner::after {
    clear: both;
    content: "";
    display: table;
}

header {
    height: 100px;
    position: relative;
    width: 100%;
}


/* menu icon */

.menu-icon-container {
    display: none;
}


/* gets rid of the browser-created checkbox */

#toggle {
    position: absolute;
    left: -4000px;
}


/* styles the nav position */

.main-nav-container {
    float: left;
    position: static;
    background: transparent;
    padding: 0;
    height: auto;
    transition: all 0.55s ease-in-out 0s;
}


/* styles the nav */

.main-nav {
    margin: 0;
    padding: 0;
}

.main-nav {
    border: 0;
    margin-left: -380px;
    position: absolute;
    top: 70px;
    right: auto;
    bottom: auto;
    left: 50%;
    z-index: 100;
}

.main-nav li {
    border: none;
    color: #FF5E43;
    display: inline-block;
    padding: 0 10px;
}

.main-nav li:last-child {
    border: none;
}

.main-nav li a {
    background: none;
    color: #FF5E43;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0;
    transition: all 0.55s ease-in-out 0s;
    text-decoration: none;
}

.main-nav li a:hover {
    border-bottom: #FF5E43 solid 2px;
}

.content {
    margin: 0 auto;
    width: 760px;
}

@media (max-width: 767px) {
    .main-nav-container {
        background: #FFf;
        height: 100%;
        overflow: auto;
        right: -75%;
        padding: 0;
        position: fixed;
        width: 75%;
        transition: all 0.55s ease-in-out 0s;
    }
    .main-nav {
        margin-left: 0px;
        position: static;
        left: 0%;
    }
    .main-nav li a {
        background: #FF5E43;
        color: #353535;
        display: block;
        font-size: 1.1rem;
        font-weight: 500;
        padding: 40px 0;
    }
    .main-nav li {
        border-bottom: 1px solid #484848;
        display: block;
        font-size: 1.2rem;
        height: auto;
        letter-spacing: 0.1rem;
        list-style: none;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
    }
    .content {
        height: auto;
        padding: 10px 15px;
        width: 100%;
    }
    .menu-icon-container {
        display: block;
        float: right;
        height: 65px;
        position: relative;
        z-index: 999999;
    }
     :checked~.page-wrap .page-wrap-inner {
        position: fixed;
        -webkit-transform: translateX(-75%);
        transform: translateX(-75%);
    }
     :checked~.main-nav-container {
        right: 0;
    }
    .menu-icon {
        cursor: pointer;
        height: 40px;
        position: relative;
        top: 22px;
        right: 20px;
        transition: all 0.15s linear;
        width: 40px;
    }
    .menu-global {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-top: 2px solid white;
        left: 0;
        position: absolute;
        transition: all 0.15s linear;
        width: 96%;
    }
    .menu-top {
        top: 0px;
    }
    .menu-middle {
        top: 12px;
    }
    .menu-bottom {
        top: 24px;
    }
    .menu-top-click {
        top: 19px;
        -webkit-transform: rotate(48deg);
        transform: rotate(48deg);
    }
    .menu-middle-click {
        opacity: 0;
    }
    .menu-bottom-click {
        top: 19px;
        -webkit-transform: rotate(-48deg);
        transform: rotate(-48deg);
    }
}