@charset "UTF-8";
/*------------------------------------------------------------
	Reset
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
nav, section,
time, mark, audio, video {
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  -webkit-text-size-adjust: 100%;
}

body, table,
input, textarea, select, option,
h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

a,
a img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:hover img {
  opacity: 0.80;
  filter: alpha(opacity=80);
  -ms-filter: "alpha(opacity=80)";
}

img {
  max-width: 100%;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 767px) {
  .pc-only {
    display: none;
  }
  .sp-only {
    display: block;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Layout .l-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/* Header
------------------------------------------------------------*/
/* Main menu
------------------------------------------------------------*/
/*------------------------------------------------------------
footer
------------------------------------------------------------*/
/*------------------------------------------------------------
sidebar
------------------------------------------------------------*/
/* Breadcrumb
------------------------------------------------------------*/
/* layout
------------------------------------------------------------*/
body {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  min-width: 1040px;
}

@media only screen and (max-width: 767px) {
  body {
    min-width: 320px;
  }
}

.l-container {
  width: 1040px;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .l-container {
    width: 100%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Component .c-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
.l-btn--center {
  text-align: center;
}

/*
------------------------------------------------------------*/
.c-btn1 {
  display: inline-block;
  padding: 2px 18px;
  border-radius: 20px;
}

.c-btn1--gradien {
  color: #fff;
  background-image: linear-gradient(45deg, #fc9e39 0%, #f8724e 100%);
}

.c-btn1--img {
  font-size: 1.5rem;
  padding: 12px 25px;
  border-radius: 25px;
}

@media only screen and (max-width: 767px) {
  .c-btn1--img {
    font-size: 1.3rem;
    padding: 5px 15px;
    border-radius: 20px;
  }
}

.c-step {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 3px 30px;
  border: 5px solid #cccccc;
  border-radius: 36px;
  background-color: #212a37;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-title_main {
  margin: -110px 0px 50px 80px;
}

@media only screen and (max-width: 767px) {
  .c-title_main {
    position: absolute;
    top: -90px;
    margin: 0 -50% 0 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .c-title_main img {
    width: 230px;
  }
}

.c-title1 {
  text-align: center;
  font-weight: bold;
  padding: 35px 0 40px 0;
}

@media only screen and (max-width: 767px) {
  .c-title1 {
    padding: 15px 0 20px 0;
  }
}

.c-title1 span {
  display: block;
}

.c-title1 span:first-child {
  font-size: 5rem;
  margin-bottom: 10px;
}

@media only screen and (max-width: 767px) {
  .c-title1 span:first-child {
    margin-bottom: 0;
    font-size: 2.5rem;
  }
}

.c-title1 span:last-child {
  font-size: 2.6rem;
  color: #fc9e39;
  text-transform: uppercase;
}

@media only screen and (max-width: 767px) {
  .c-title1 span:last-child {
    font-size: 1.3rem;
  }
}

.c-title1--orange {
  background: #fff6ec;
}

/*------------------------------------------------------------
Posts
------------------------------------------------------------*/
/* c-posts
---------------------------------------------------------*/
.c-posts1 {
  background-image: linear-gradient(45deg, #fc9e39 0%, #f8724e 100%);
  position: relative;
  color: #fff;
  max-width: 500px;
  height: 480px;
}

@media only screen and (max-width: 767px) {
  .c-posts1 {
    height: auto;
    margin: 0 auto;
  }
}

.c-posts1__summary {
  position: absolute;
  left: 50px;
  bottom: 55px;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary {
    left: 20px;
    bottom: 20px;
  }
}

.c-posts1__summary p {
  width: 400px;
  font-size: 1.8rem;
  margin-top: 12px;
  font-weight: bold;
  line-height: 1.67;
}

@media only screen and (max-width: 767px) {
  .c-posts1__summary p {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-right: 20px;
    font-size: 1.4rem;
    line-height: 1.3;
  }
}

.c-posts1 .c-btn1 {
  font-size: 1.6rem;
}

@media only screen and (max-width: 767px) {
  .c-posts1 .c-btn1 {
    font-size: 1.2rem;
  }
}

.c-posts1:hover {
  margin-right: -20px;
  margin-top: 20px;
}

@media only screen and (max-width: 767px) {
  .c-posts1:hover {
    margin: 10px auto;
  }
}

.c-posts1:hover img {
  margin-left: -20px;
  margin-top: -20px;
}

@media only screen and (max-width: 767px) {
  .c-posts1:hover img {
    margin: -10px 0 10px -10px;
  }
}

.c-posts2 {
  margin-top: 90px;
  position: relative;
}

@media only screen and (max-width: 767px) {
  .c-posts2 {
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid;
    -o-border-image: linear-gradient(45deg, #fc9e39 0%, #f8724e 100%);
       border-image: linear-gradient(45deg, #fc9e39 0%, #f8724e 100%);
    border-image-slice: 1;
    margin: 0;
    counter-increment: section;
  }
  .c-posts2:before {
    content: "STEP " counter(section);
    position: absolute;
    border: 3px solid #cccccc;
    border-radius: 20px;
    background-color: #212a37;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-size: 1rem;
    width: 50px;
    height: 20px;
  }
  .c-posts2:nth-child(odd) {
    border-right: 2px solid;
    padding-left: 0;
  }
  .c-posts2:nth-child(odd):before {
    left: 100%;
    margin-left: -20px;
  }
  .c-posts2:nth-child(even) {
    border-left: 2px solid;
    padding-right: 0;
  }
  .c-posts2:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
  }
  .c-posts2:last-child {
    border-bottom: 0;
  }
}

.c-posts2__summary {
  text-align: left;
  background: #fff;
  width: 570px;
  height: 300px;
  position: absolute;
  right: 0;
  top: 80px;
  padding-left: 50px;
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary {
    text-align: left;
    width: 100%;
    height: auto;
    position: relative;
    top: 10px;
    padding-left: 0;
  }
}

.c-posts2__summary h3 {
  padding-top: 20px;
  clear: both;
  font-size: 2.6rem;
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary h3 {
    padding-top: 0;
    font-size: 2rem;
    line-height: 1.3;
  }
}

.c-posts2__summary p {
  font-size: 1.5rem;
  margin-top: 5px;
  line-height: 1.73;
}

@media only screen and (max-width: 767px) {
  .c-posts2__summary p {
    font-size: 1.3rem;
    margin-top: 5px;
    line-height: 1.5;
  }
}

.c-posts2 .c-step {
  font-size: 1.8rem;
  float: left;
  margin-top: -23px;
  margin-left: -25px;
}

@media only screen and (max-width: 767px) {
  .c-posts2 .c-step {
    display: none;
  }
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
.c-line {
  background-color: #cccccc;
  position: absolute;
  width: 2px;
  top: -171px;
  left: 80px;
  height: 150px;
  z-index: 56;
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Project .p-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/
.p-interview1 {
  position: relative;
}

@media only screen and (max-width: 767px) {
  .p-interview1 {
    background: #fff6ec;
    padding: 0 20px 250px 20px;
  }
}

.p-interview1__bg {
  margin-top: 70px;
  float: right;
  height: 795px;
  background: #fff6ec;
  width: 58.5%;
}

.p-interview1 .l-container {
  clear: both;
  position: absolute;
  top: 450px;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (max-width: 767px) {
  .p-interview1 .l-container {
    position: relative;
    top: 200px;
    left: 0;
    margin-right: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.p-interview1__item1 {
  float: left;
  margin-top: -30px;
}

@media only screen and (max-width: 767px) {
  .p-interview1__item1 {
    float: none;
  }
}

.p-interview1__item2 {
  float: right;
}

@media only screen and (max-width: 767px) {
  .p-interview1__item2 {
    float: none;
    margin-top: 40px;
  }
}

.p-interview2 {
  clear: both;
}

.p-interview2 .l-btn {
  margin: 90px 0 160px 0;
}

@media only screen and (max-width: 767px) {
  .p-interview2 .l-btn {
    margin: 25px 0 100px 0;
  }
}

@media only screen and (max-width: 767px) {
  .p-interview2 .l-container {
    padding: 25px 12%;
  }
}

/*≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡
// Utility .u-
≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡≡*/
/*# sourceMappingURL=style.css.map */