///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------
//position 
.taLeft {
    text-align: left !important;
}

.taCenter {
    text-align: center !important;
}

.taRight {
    text-align: right !important;
}

.vTop {
    vertical-align: top !important;
}

.vMiddle {
    vertical-align: middle !important;
}