//baseWidth
$baseWidth:1000px;
$mainFonts: "游ゴシック",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
//color common
$color-brown: #642200;
$color-white:#fff;
//line-height common
$line-2:2;
$line-1:1.5;