///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-borRed {
    border-color: $col_red;
}

.u-colRed {
    color: $col_red;
}

.u-borPurple {
    border-color: $col_purple;
}

.u-colPurple {
    color: $col_purple;
}

.u-borPink {
    border-color: $col_pink;
}

.u-colPink {
    color: $col_pink;
}

.u-borGreen {
    border-color: $col_green;
}

.u-colGreen {
    color: $col_green;
}

.u-blue {
    color: $col_blue;
}