//baseWidth
$baseWidth:980px;
$mainFonts: "游ゴシック",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
//color common
$col_white:#fff;
$col_black:#000;
$col_pink:#ef89a3;
$col_pinkBtn:#e74857;
$col_green:#62a836;
$col_blue:#41c9e3;
$col_red:#f15024;
$col_purple:#3d61b2;
$col_greyA0:#a0a0a0;
$col_greyCC:#ccc;