    /*
Theme Name: Advance wordpress
Theme URI: http://wordpress.org/themes/twentythirteen
Author: CamTu
Author URI: camtu.com
Description: This is a theme wordpress advance
Version: 1.0
License: GNU General Public License v2 or later
License URI: 
Tags: blue, Japan, custom post type, single page ,...
Text Domain: camtu
*/
    
    @charset "UTF-8";
    /*********************************************************************************
*
* Reset.css
*
**********************************************************************************/
    
    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    abbr,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    samp,
    small,
    strong,
    sub,
    sup,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    dialog,
    figure,
    footer,
    header,
    nav,
    section,
    time,
    mark,
    audio,
    video {
        /* font-size: 1em; */
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section,
    main {
        display: block;
    }
    
    body {
        -webkit-text-size-adjust: 100%;
        font-weight: 500;
    }
    
    body,
    table,
    input,
    textarea,
    select,
    option,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
    }
    
    table,
    input,
    textarea,
    select,
    option {
        line-height: 1.1;
    }
    
    ul {
        list-style: none;
    }
    
    ul,
    ol {
        margin: 0;
        padding: 0;
    }
    
    li {
        list-style-type: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    :focus {
        outline: 0;
    }
    
    ins {
        text-decoration: none;
    }
    
    del {
        text-decoration: line-through;
    }
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: inherit;
    }
    
    a,
    a img {
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    
    a:hover img {
        opacity: 0.80;
        filter: alpha(opacity=80);
        -ms-filter: "alpha(opacity=80)";
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    
    input[type=submit],
    button {
        border: 0;
        -webkit-box-shadow: 0;
        box-shadow: 0;
        outline: none;
        cursor: pointer;
    }
    /*==============================================================
Component
==============================================================*/
    /* title
--------------------------------------------------------------*/
    
    .c-title {
        text-align: center;
        font-size: 3.2rem;
    }
    
    .c-title:after {
        content: "";
        display: block;
        width: 150px;
        height: 2px;
        margin: 25px auto 0;
        background-color: #000;
    }
    
    .c-title span {
        font-size: 2rem;
        display: block;
    }
    
    .c-title1 {
        text-align: center;
    }
    
    .c-title1 .ja {
        display: block;
        font-size: 2.4rem;
        font-family: "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
    }
    
    .c-title1 .en {
        display: inline-block;
        font-size: 1.6rem;
        position: relative;
    }
    
    .c-title1 .en:before {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: -100px;
        background-color: #000;
    }
    
    .c-title1 .en:after {
        content: "";
        display: block;
        width: 50px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: -100px;
        background-color: #000;
    }
    
    .c-ttlpostpage {
        font-size: 1.8rem;
    }
    
    .c-ttlpostpage span {
        font-size: 1.2rem;
    }
    
    .c-ttlpostpage .c-dotcat {
        font-weight: bold;
    }
    /* Tabs
--------------------------------------------------------------*/
    
    .c-tabs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #f3f3f3;
    }
    
    .c-tabs li {
        width: 175px;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;
    }
    
    .c-tabs li+li span {
        border-left: 1px solid #ccc;
    }
    
    .c-tabs li.active {
        background-color: #0078d2;
        color: #fff;
        position: relative;
    }
    
    .c-tabs li.active:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 7px solid transparent;
        border-top-color: #0078d2;
        position: absolute;
        bottom: -14px;
        left: calc(50% - 10px);
    }
    
    .c-tabs li span {
        display: block;
    }
    
    .c-tabs__content {
        padding: 30px 0 60px;
    }
    
    .c-tabs__content .c-listpost {
        display: none;
    }
    
    .c-tabs__content .c-listpost.active {
        display: block;
    }
    /* button
--------------------------------------------------------------*/
    
    .l-btn--2btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .l-btn--2btn .c-btn {
        width: 48%;
    }
    
    .l-btn--2btn .c-btn+.c-btn {
        padding-left: 4%;
    }
    
    .c-btn {
        margin: 0 auto;
    }
    
    .c-btn--small {
        max-width: 300px;
    }
    
    .c-btn--small2 {
        max-width: 300px;
    }
    
    .c-btn--small2 a:before {
        content: "\f104";
        font-family: "fontAwesome";
        font-size: 2rem;
        position: absolute;
        left: 20px;
    }
    
    .c-btn--small2 a:after {
        display: none;
    }
    
    .c-btn a {
        display: block;
        padding: 15px 0;
        text-align: center;
        color: #fff;
        background-color: #0078d2;
        border: 2px solid #0078d2;
        position: relative;
    }
    
    .c-btn a:after {
        content: "\f105";
        font-family: "fontAwesome";
        font-size: 2rem;
        position: absolute;
        right: 20px;
    }
    
    .c-btn a:hover {
        background-color: #fff;
        color: #0078d2;
    }
    
    .c-btn input[type=reset],
    .c-btn input[type=submit] {
        width: 100%;
        height: 56px;
        text-align: center;
        color: #fff;
        background-color: #0078d2;
        border: 2px solid #0078d2;
        position: relative;
    }
    
    .c-btn input[type=reset]:hover,
    .c-btn input[type=submit]:hover {
        background-color: #fff;
        color: #0078d2;
    }
    
    .c-btnview {
        display: block;
        text-align: center;
        padding: 5px 15px;
        color: #fff;
        background-color: #0078d2;
        font-size: 1.3rem;
    }
    /* Decoration of Category
--------------------------------------------------------------*/
    
    .c-bgcat--1.active,
    .c-tabs li.active.c-bgcat--1 {
        background-color: #1bb7c5;
    }
    
    .c-bgcat--1.active:after,
    .c-tabs li.active.c-bgcat--1:after {
        border-top-color: #1bb7c5;
    }
    
    .c-bgcat--2.active,
    .c-tabs li.active.c-bgcat--2 {
        background-color: #d6772a;
    }
    
    .c-bgcat--2.active:after,
    .c-tabs li.active.c-bgcat--2:after {
        border-top-color: #d6772a;
    }
    
    .c-bgcat--3.active,
    .c-tabs li.active.c-bgcat--3 {
        background-color: #c4a021;
    }
    
    .c-bgcat--3.active:after,
    .c-tabs li.active.c-bgcat--3:after {
        border-top-color: #c4a021;
    }
    
    .c-bgcat--4.active,
    .c-tabs li.active.c-bgcat--4 {
        background-color: #416ad3;
    }
    
    .c-bgcat--4.active:after,
    .c-tabs li.active.c-bgcat--4:after {
        border-top-color: #416ad3;
    }
    
    .c-bgcat--5.active,
    .c-tabs li.active.c-bgcat--5 {
        background-color: #ccc;
    }
    
    .c-bgcat--5.active:after,
    .c-tabs li.active.c-bgcat--5:after {
        border-top-color: #ccc;
    }
    
    .c-dotcat:before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 15px;
        background-color: #000;
        border-radius: 50%;
    }
    
    .c-dotcat--1:before {
        background-color: #1bb7c5;
    }
    
    .c-dotcat--2:before {
        background-color: #d6772a;
    }
    
    .c-dotcat--3:before {
        background-color: #c4a021;
    }
    
    .c-dotcat--4:before {
        background-color: #416ad3;
    }
    
    .c-dotcat--5:before {
        background-color: #ccc;
    }
    /* list post
--------------------------------------------------------------*/
    
    .c-listpost {
        font-weight: bold;
    }
    
    .c-listpost__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 15px 10px;
        border-bottom: 1px solid #dadada;
    }
    
    .c-listpost__info {
        width: 30%;
    }
    
    .c-listpost__title {
        width: 68%;
        margin-left: 2%;
        color: #0078d2;
    }
    
    .c-listpost2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        font-size: 1.5rem;
    }
    
    .c-listpost2+.c-listpost2 {
        padding: 50px 0;
        border-top: 1px solid #ccc;
    }
    
    .c-listpost2:first-of-type {
        padding: 0 0 50px;
    }
    
    .c-listpost2__thumb {
        width: 25%;
        margin-right: 5%;
    }
    
    .c-listpost2__info {
        width: 70%;
    }
    
    .c-listpost2__info .cat {
        padding: 0px 10px;
        font-size: 1.3rem;
        border: 1px solid #000;
    }
    
    .c-listpost2__info .titlepost {
        padding: 15px 0;
        font-size: 1.8rem;
        color: #555;
    }
    
    .c-listpost2__info .titlepost a:after {
        content: "\f105";
        font-family: "fontAwesome";
        font-weight: normal;
        margin-left: 30px;
    }
    
    .c-listpost2__info .desc {
        padding: 10px 0;
    }
    
    .c-listpost2__info .name {
        padding: 10px 0;
    }
    /* Grid post
--------------------------------------------------------------*/
    
    .c-gridpost {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    
    .c-gridpost__item {
        width: 25%;
        margin-bottom: 60px;
    }
    
    .c-gridpost__item .c-gridpost__thumb {
        border-right: 1px solid #ccc;
    }
    
    .c-gridpost__item:nth-child(4n+1) .c-gridpost__thumb {
        border-left: 1px solid #ccc;
    }
    
    .c-gridpost__thumb {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .c-gridpost__info {
        padding: 0 30px;
    }
    
    .c-gridpost .datepost {
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .c-gridpost .price {
        padding: 10px 0;
        font-size: 1.2rem;
    }
    
    .c-gridpost h3 {
        color: #0078d2;
        margin-top: 7px;
    }
    /* Pagination
--------------------------------------------------------------*/
    
    .c-pagination {
        text-align: center;
        padding: 70px 0 0;
    }
    
    .c-pagination a {
        display: inline-block;
        width: 45px;
        line-height: 45px;
        margin: 0 5px;
        background-color: #f8f8f8;
    }
    
    .c-pagination a.active {
        color: #fff;
        background-color: #0078d2;
    }
    
    .c-pagination a:hover {
        color: #fff;
        background-color: #0078d2;
    }
    
    .c-pagination a.prev:before {
        content: "\f104";
        font-family: "fontAwesome";
    }
    
    .c-pagination a.next:before {
        content: "\f105";
        font-family: "fontAwesome";
    }
    /* Breadcrumb
--------------------------------------------------------------*/
    
    .c-breadcrumb {
        background-color: #0078d2;
        padding: 7px 0;
        color: #fff;
    }
    
    .c-breadcrumb a+a:before {
        content: "\f105";
        font-family: "fontAwesome";
        padding: 0 10px;
    }
    
    .c-breadcrumb span:before {
        content: "\f105";
        font-family: "fontAwesome";
        padding: 0 10px;
    }
    /* head subpage
--------------------------------------------------------------*/
    
    .c-headpage {
        padding: 50px 0;
        background-color: #f8f8f8;
    }
    
    .c-headpage p {
        margin-top: 50px;
        font-size: 1.8rem;
        text-align: center;
    }
    /* Column
---------------------------------------------------------------*/
    
    .c-column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .c-column__item {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        padding: 20px;
        border: 1px solid #ccc;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }
    
    .c-column__item:nth-child(2n) {
        margin-right: 0;
    }
    
    .c-column__item p {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        font-weight: bold;
    }
    
    .c-column__item p:before {
        content: "\f105";
        font-family: "fontAwesome";
        font-size: 1.6rem;
        margin-right: 20px;
    }
    /*==============================================================
Layout
==============================================================*/
    
    html {
        font-size: 62.5%;
    }
    
    body {
        font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        font-size: 1.4rem;
        font-weight: 500;
    }
    
    .l-container {
        width: 1080px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .l-container2 {
        width: 870px;
        margin: 0 auto;
        padding: 0 15px;
    }
    
    .l-mainvisual {
        width: 100%;
        overflow: hidden;
    }
    
    .l-mainvisual img {
        width: 100%;
    }
    
    section {
        padding: 100px 0 70px;
    }
    /*==============================================================
Layout
==============================================================*/
    /* header
--------------------------------------------------------------*/
    
    .c-header {
        position: relative;
        z-index: 999;
        padding: 20px 0 0px;
        -webkit-box-shadow: 0px 2px 5px #333;
        box-shadow: 0px 2px 5px #333;
    }
    
    .c-logo {
        display: inline-block;
    }
    
    .c-gnav {
        float: right;
    }
    
    .c-gnav ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .c-gnav li {
        padding: 20px 30px;
    }
    
    .c-gnav li+li {
        border-left: 1px solid #ccc;
    }
    
    .c-gnav li:last-child {
        color: #fff;
        background-color: #0078d2;
    }
    
    .c-gnav li:last-child:before {
        content: "\f0e0";
        font-family: "fontAwesome";
        font-size: 2rem;
        margin-right: 10px;
        vertical-align: top;
    }
    
    .c-gnav li:hover {
        background-color: #0078d2;
        color: #fff;
    }
    
    .c-gnav li.active {
        color: #0078d2;
        font-weight: bold;
    }
    /* footer
--------------------------------------------------------------*/
    
    .c-footer__logo {
        text-align: center;
        padding: 30px 0;
    }
    
    .c-footer__main {
        background-color: #f8f8f8;
        padding: 30px 0 100px;
    }
    
    .c-footer__main .l-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    
    .c-footer__link {
        width: 33%;
    }
    
    .c-footer__link h3 {
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    
    .c-footer__link h3:before {
        content: "\f105";
        font-family: "fontAwesome";
        margin-right: 10px;
    }
    
    .c-boxlink li {
        padding: 10px 0 0;
    }
    
    .c-boxlink a:before {
        content: "\f105";
        font-family: "fontAwesome";
        margin-right: 10px;
    }
    /*==============================================================
Project
==============================================================*/
    /* home
--------------------------------------------------------------*/
    
    .p-home .service {
        background-color: #f8f8f8;
    }
    
    .p-home .service_inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 60px 0;
    }
    
    .p-home .service_item {
        width: 25%;
        text-align: center;
    }
    
    .p-home .news_inner {
        padding: 60px 0;
    }
    
    .p-home .publish {
        background-color: #f8f8f8;
    }
    
    .p-home .publish .publish_inner {
        padding: 60px 0;
    }
    /* news
--------------------------------------------------------------*/
    
    .p-news {
        padding-bottom: 100px;
    }
    
    .p-news .feature_img {
        margin: 30px auto;
    }
    
    .p-news__content {
        padding: 100px 30px;
    }
    
    .p-news .single_content {
        font-size: 1.6rem;
        padding: 50px 0 30px;
    }
    
    .p-news p {
        padding: 20px 0;
    }
    
    .p-news p.u-bborder {
        font-size: 2.4rem;
        color: #0078d2;
        font-weight: bold;
        padding: 20px 0 10px;
    }
    /* publish
--------------------------------------------------------------*/
    
    .p-publish {
        padding-bottom: 100px;
    }
    
    .p-publish__content {
        padding: 100px 0 0px;
    }
    
    .p-publish__single {
        padding: 100px 0 70px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 840px;
        margin: 0 auto;
        font-size: 1.8rem;
    }
    
    .p-publish__single .feature_img {
        min-width: 300px;
        height: 350px;
        margin-right: 70px;
    }
    
    .p-publish__single .feature_img img {
        width: 100%;
    }
    
    .p-publish__single h2 {
        font-size: 2.4rem;
        border-bottom: 1px solid #b8b8b8;
        margin-bottom: 10px;
    }
    
    .p-publish__single h4 {
        font-size: 2.4rem;
        padding: 20px 0 10px;
    }
    
    .p-publish__single .datepost {
        color: #b8b8b8;
    }
    
    .p-publish__single .author {
        padding: 20px 0;
    }
    
    .p-publish__single .price {
        font-size: 3rem;
        color: #0078d2;
        padding: 0 0 20px;
    }
    
    .p-publish__single .desc {
        line-height: 1.5;
    }
    /* cases
--------------------------------------------------------------*/
    
    .p-cases {
        padding: 0px 0 100px;
    }
    
    .p-cases__content {
        padding-top: 100px;
    }
    
    .p-cases .c-listpost2 .c-btn {
        float: right;
    }
    
    .p-cases .c-listpost2 .c-btn a {
        padding: 0px;
        width: 150px;
    }
    
    .p-cases .c-headpage .desc {
        font-size: 3rem;
        font-weight: bold;
    }
    
    .p-cases h3 {
        font-size: 2rem;
        text-align: center;
        padding: 0px 0 30px;
    }
    
    .p-cases .single_content {
        padding-bottom: 50px;
    }
    
    .p-cases .single_content p {
        padding: 10px 0;
    }
    /* Service
--------------------------------------------------------------*/
    
    .p-service__content {
        padding: 100px 0;
    }
    
    .p-service .feature_img {
        text-align: center;
    }
    
    .p-service .notice {
        font-size: 1.6rem;
        text-align: center;
        padding: 0 0 30px;
    }
    
    .p-service .endcontent img:last-child {
        margin-left: 26px;
    }
    /* Contact
--------------------------------------------------------------*/
    
    .p-contact__content {
        padding: 100px 0;
    }
    
    .p-contact h3 {
        font-size: 2rem;
        border-left: 3px solid #0078d2;
        padding: 0px 20px;
    }
    
    .p-contact .notice {
        padding: 30px 0 10px;
    }
    
    .p-contact table {
        width: 100%;
        border: 1px solid #ccc;
    }
    
    .p-contact th,
    .p-contact td {
        border: 1px solid #ccc;
        text-align: left;
        padding: 30px 20px;
    }
    
    .p-contact th {
        width: 200px;
        vertical-align: top;
    }
    
    .p-contact tr:first-child input {
        width: 32%;
    }
    
    .p-contact tr:first-child input:last-child {
        margin-left: 2.5%;
    }
    
    .p-contact tr:first-child p {
        display: inline-block;
        margin-right: 20px;
    }
    
    .p-contact input {
        height: 30px;
        width: 70%;
        padding: 0 10px;
        border: 1px solid #e8e8e8;
    }
    
    .p-contact textarea {
        height: 100px;
        width: 70%;
        padding: 10px;
        border: 1px solid #e8e8e8;
    }
    
    .p-contact .required {
        color: #f00;
    }
    
    .p-contact .l-btn {
        padding: 50px;
    }
    /*==============================================================
Utity
==============================================================*/
    
    .u-center {
        text-align: center;
    }
    
    .u-bborder {
        border-bottom: 1px solid #ccc;
    }
    /*# sourceMappingURL=style.css.map */