//baseWidth
$baseWidth:1040px;
$mainFonts: "游ゴシック",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
//color common
$col_white:#fff;
$col_orange_bg:#fff6ec;
$col_orange:#fc9e39;
$col_gradien:linear-gradient( 45deg, rgb(252, 158, 57) 0%, rgb(248, 114, 78) 100%);