/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    .l-container {
        max-width: $baseWidth;
        @include breakpoint(sp) {
            max-width: 100%;
        }
    }
    &__navLink {
        @include breakpoint(tablets) {
            .l-container {
                padding: 0 12px;
            }
        }
        @include breakpoint(sp) {
            display: none;
        }
        background: #ebf3f6;
        padding: 17px 0;
    }
    &__content {
        padding: 40px 0;
        display: flex;
        @include breakpoint(sp) {
            display: block;
            text-align: center;
            padding: 20px 0;
        }
        h1 {
            width: 240px;
            @include breakpoint(sp) {
                width: 100%;
                margin: auto;
                margin-bottom: 20px;
            }
            img {
                width: 200px;
                @include breakpoint(sp) {
                    width: 181px;
                }
            }
        }
        p {
            @include breakpoint(sp) {
                display: none;
            }
        }
    }
    &__bottom {
        padding: 25px 0 105px 0;
        border-top: 1px solid $col_greyCC;
        color: $col_greyA0;
        font-size: 1.2rem;
        display: flex;
        @include breakpoint(tablets) {
            padding: 25px 0;
        }
        @include breakpoint(sp) {
            padding: 18px 0 40px 0;
        }
        ul {
            width: 50%;
        }
        .c-copyright {
            width: 50%;
            text-align: right;
            @include breakpoint(sp) {
                width: 100%;
                font-size: 1rem;
                text-align: center;
            }
        }
    }
}

.c-icon {
    a {
        margin-right: 8px;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
}