/* Header
------------------------------------------------------------*/

.c-header {
    position: relative;
    clear: both;
    &__fixed {
        top: 0;
        &1 {
            position: fixed;
            left: 0;
            z-index: 2;
        }
        &2 {
            position: fixed;
            right: 0;
            z-index: 3;
            img {
                &:nth-child(1) {
                    float: right;
                }
                &:nth-child(2) {
                    margin-top: 70px;
                    margin-right: -80px;
                }
                &:nth-child(3) {
                    position: absolute;
                    margin-top: 135px;
                    right: 20px;
                }
                &:nth-child(2):hover,
                &:nth-child(3):hover {
                    -webkit-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                    -webkit-animation: swinging 3.5s ease-in-out forwards infinite;
                    animation: swinging 3.5s ease-in-out forwards infinite;
                }
                @-webkit-keyframes swinging {
                    0% {
                        -webkit-transform: rotate(10deg);
                    }
                    50% {
                        -webkit-transform: rotate(-5deg)
                    }
                    100% {
                        -webkit-transform: rotate(10deg);
                    }
                }
                @keyframes swinging {
                    0% {
                        transform: rotate(10deg);
                    }
                    50% {
                        transform: rotate(-5deg)
                    }
                    100% {
                        transform: rotate(10deg);
                    }
                }
            }
        }
    }
    &__logo {
        position: relative;
        text-align: center;
        margin-top: -10px;
        z-index: 2;
        @include breakpoint(sp) {
            margin-top: -20px;
        }
        img {
            width: 146px;
            height: auto;
            @include breakpoint(sp) {
                width: 125px;
            }
        }
    }
    &__nav {
        position: relative;
        z-index: 2;
        &__top {
            margin-top: 25px;
            float: right;
            li {
                display: inline;
                margin-right: 10px;
                a {
                    font-weight: 500;
                    .fa-phone {
                        transform: rotate(90deg);
                    }
                }
                &:first-child {
                    a {
                        font-size: 1.6rem;
                    }
                }
                &:last-child {
                    margin-right: 0;
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

.c-main {
    position: relative;
    &__slide {
        min-height: 500px;
        position: relative;
        background-image: url("../img/main_img01.jpg");
        background-size: cover;
        background-position: center center;
        @include breakpoint(sp) {
            min-height: 300px;
            background-position: center right;
        }
        img {
            display: none;
        }
    }
    &__txt {
        position: absolute;
        bottom: 30px;
        width: 490px;
        @include breakpoint(tablets) {
            width: auto;
            left: 20px;
        }
        @include breakpoint(sp) {
            bottom: 35px;
            left: 10px;
        }
        z-index: 2;
        p {
            width: fit-content;
            background: $col_white;
            font-size: 2.4rem;
            padding-left: 10px;
            margin-top: 5px;
            font-weight: 500;
            letter-spacing: -2px;
            @include breakpoint(sp) {
                font-size: 1.6rem;
                font-weight: bold;
                margin-top: 10px;
            }
        }
    }
}


/* Main menu
------------------------------------------------------------*/

.c-gnavi {
    clear: both;
    padding-top: 20px;
    @include breakpoint(tablets) {
        padding-top: 0;
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.55);
        overflow: auto;
        transition: 0.5s;
    }
    .overlay-content {
        @include breakpoint(tablets) {
            position: absolute;
            width: 450px;
            right: 0;
            height: 100%;
            background-color: $col_blue;
            text-align: center;
            padding-top: 80px;
            z-index: 3;
            overflow: auto;
        }
        @include breakpoint(sp) {
            width: 225px;
            padding-top: 60px;
        }
    }
    li {
        top: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        height: 50px;
        @include breakpoint(tablets) {
            background-image: none !important;
            width: 100% !important;
            margin: 0!important;
            height: 55px;
            padding: 0 40px!important;
            text-align: left;
            border-bottom: 1px solid #185963;
        }
        @include breakpoint(sp) {
            height: 40px;
            border-bottom: 0;
            padding: 0 20px!important;
        }
        img {
            top: -20px;
            position: relative;
            @include breakpoint(tablets) {
                display: none;
            }
        }
        div {
            position: absolute;
            top: 0;
            left: 50%;
            right: -50%;
            transform: translate(-50%, -50%);
            @include breakpoint(tablets) {
                position: relative;
                left: 0;
                right: 0;
                transform: translate(0);
            }
        }
        .is-hover {
            display: none;
        }
        &:hover {
            .is-nothover {
                display: none;
            }
            .is-hover {
                display: inline-block;
                -webkit-animation: rotation 4s infinite linear;
                animation: rotation 4s infinite linear;
                @include breakpoint(tablets) {
                    display: none;
                }
            }
        }
        @-webkit-keyframes rotation {
            from {
                -webkit-transform: rotate(0deg);
            }
            to {
                -webkit-transform: rotate(359deg);
            }
        }
        @keyframes rotation {
            from {
                transform: rotate(0deg);
            }
            to {
                transform: rotate(359deg);
            }
        }
        ul {
            display: none;
        }
        &:hover,
        &:focus {
            cursor: pointer;
            ul {
                display: block;
                @include breakpoint(tablets) {
                    display: none;
                }
            }
        }
        a {
            span {
                display: block;
                &:nth-child(1) {
                    font-size: 1.6rem;
                    font-weight: bold;
                }
                &:last-child {
                    font-size: 1.2rem;
                }
                @include breakpoint(tablets) {
                    line-height: 55px;
                    text-decoration: none;
                    color: $col_white;
                    display: inline-block;
                    transition: 0.3s;
                }
                @include breakpoint(sp) {
                    font-size: 1.4rem;
                    line-height: 40px;
                }
            }
            i {
                display: none;
                @include breakpoint(tablets) {
                    display: block;
                    float: right;
                    line-height: 55px;
                    font-size: 1.6rem;
                    color: #185963;
                }
                @include breakpoint(sp) {
                    font-size: 1.4rem;
                    line-height: 40px;
                }
            }
        }
        &:nth-child(2) {
            position: relative;
            width: 130px;
            padding-bottom: 100px;
            .c-subnav {
                background: #fff6f4;
                left: -20px;
            }
        }
        &:nth-child(3) {
            width: 120px;
        }
        &:nth-child(4) {
            width: 120px;
        }
        &:nth-child(5) {
            margin-top: 12px;
            position: absolute;
            margin-left: 10px;
            width: 200px;
            img {
                width: 146px;
                height: auto;
            }
        }
        &:nth-child(6) {
            width: 120px;
            margin-left: 233px;
            padding-bottom: 100px;
            .c-subnav {
                background: #f2fff2;
                left: -35px;
            }
        }
        &:nth-child(7) {
            width: 130px;
        }
        &:nth-child(8) {
            width: 103px;
            margin-right: 0;
            @include breakpoint(tablets) {
                border-bottom: 0;
            }
        }
    }
}

.c-subnav {
    position: absolute;
    margin-top: -5px;
    padding-top: 10px;
    li {
        text-align: left;
        width: 160px !important;
        position: relative;
        margin-left: 10px;
        &:nth-child(2) {
            padding-bottom: 0;
        }
        &:nth-child(5) {
            position: relative;
            margin-top: 0;
            img {
                width: auto;
            }
        }
        a {
            line-height: 50px;
            display: flex;
            align-items: center;
            img {
                top: 0;
            }
            span {
                margin-left: 12px;
                flex: 1;
                font-size: 1.3rem;
            }
        }
    }
}

.c-closeNav {
    position: absolute;
    width: 410px;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 99;
    background: #185963;
    padding: 25px 0 25px 40px;
    @include breakpoint(sp) {
        padding: 15px 20px;
        width: 185px;
        font-size: 1.5rem;
        i {
            font-size: 1.8rem;
        }
    }
}

.c-openNav {
    position: fixed;
    top: 9px;
    font-size: 35px;
    cursor: pointer;
    background: $col_blue;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    z-index: 2;
    right: 10px;
    color: $col_white;
    i {
        margin-left: 12px;
    }
}