/* layout
------------------------------------------------------------*/

body {
    font-family: $mainFonts;
    font-size: 1.4rem;
    min-width: 1300px;
    @include breakpoint(tablets) {
        min-width: 700px;
    }
    @include breakpoint(sp) {
        min-width: 320px;
    }
}

//-------------------------------------------------------
.l-container {
    max-width: $baseWidth;
    margin: 0 auto;
    @include breakpoint(tablets) {
        max-width: 700px;
    }
    @include breakpoint(sp) {
        max-width: 100%;
    }
}

//-------------------------------------------------------