/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-index {
    //-------------------------------------------------------
    &1 {
        height: auto;
        width: 100%;
        background-color: #f7941d;
        display: flex;
        flex-direction: row;
        .item-index1 {
            width: 50%;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            margin: 0 auto;
            .bg-index1 {
                width: 60%;
                background-color: rgba(255, 255, 255, 0.84);
                margin: 50px auto;
                padding-left: 70px;
                padding-bottom: 45px;
                img.img-float {
                    float: right;
                    margin-top: -20px;
                    padding-right: 30px;
                }
                h2 {
                    img {
                        margin-top: 30px;
                    }
                }
                p {
                    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", serif;
                    font-size: 3.6rem;
                    color: $color-brown;
                    margin: 20px auto 25px auto;
                    font-weight: 600;
                }
            }
        }
        .item-index1-1 {
            background-image: url(../images/bg_bake.jpg);
        }
        .item-index1-2 {
            background-image: url(../images/bg_cake.jpg);
        }
    }
    //-------------------------------------------------------
    &2 {
        background: #fff3e1;
        .l-container {
            display: flex;
            padding-top: 90px;
            padding-bottom: 90px;
            .item-index2-1 {
                width: 100px;
            }
            .item-index2-2 {
                padding-left: 20px;
                p {
                    font-size: 1.4rem;
                    line-height: $line-2;
                    margin-bottom: 40px;
                }
            }
        }
    }
    //-------------------------------------------------------
    &3 {
        background-color: #ff9c46;
        h2 {
            text-align: center;
            img {
                padding-top: 90px;
                padding-bottom: 40px;
                margin: auto;
            }
        }
        .box {
            display: flex;
        }
        .item-box {
            width: 300px;
            margin-right: 50px;
            h3 {
                color: $color-brown;
                border-bottom: 1px solid $color-brown;
                text-align: center;
                font-size: 1.4rem;
                width: 62px;
                padding-bottom: 5px;
                margin: 20px auto;
            }
            ul {
                li {
                    display: flex;
                    background-color: $color-white;
                    margin-bottom: 15px;
                    img {
                        width: 80px;
                    }
                    .text-box {
                        font-size: 1.3rem;
                        line-height: 1.5;
                        padding-top: 15px;
                        padding-left: 15px;
                        h4 {
                            color: $color-brown;
                            margin-bottom: 5px;
                        }
                    }
                }
            }
        }
        .item-box3 {
            margin-right: 0px;
        }
        .btn-box {
            width: 100%;
            margin: 0 auto;
            a {
                margin: 50px auto 90px 350px;
            }
        }
    }
}

@include breakpoint(sp) {
    .p-index {
        //-------------------------------------------------------
        &1 {
            display: flex;
            flex-direction: column;
            .item-index1 {
                width: 100%;
                margin: 0 auto;
                .bg-index1 {
                    width: 80%;
                    margin: 30px auto;
                    padding-left: 0px;
                    text-align: center;
                    padding-bottom: 40px;
                    h2 {
                        img {
                            margin: 25px auto 0 auto;
                        }
                    }
                    p {
                        font-size: 2rem;
                        margin: 25px auto 25px auto;
                        line-height: $line-2;
                    }
                    .c-btn1,
                    .c-btn1:hover {
                        font-size: 1.5rem;
                        background-color: $color-brown;
                        border: $color-brown solid 2px;
                        color: $color-white;
                        width: 90%;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &2 {
            .l-container {
                display: flex;
                padding: 60px 0;
                flex-direction: column;
                .item-index2-1 {
                    width: 100%;
                    text-align: center;
                    img {
                        height: 50px;
                        margin: 0 auto 45px auto;
                    }
                }
                .item-index2-2 {
                    padding: 20px;
                    p {
                        font-size: 1.2rem;
                        margin-bottom: 30px;
                    }
                    .c-btn2 {
                        width: 100%;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &3 {
            h2 {
                img {
                    padding-top: 60px;
                    padding-bottom: 25px;
                }
            }
            .box {
                display: flex;
                flex-direction: column;
                margin: 0 20px;
            }
            .item-box {
                width: 100%;
                margin-right: 0px;
                ul {
                    li {
                        &:last-child {
                            margin-bottom: 0px;
                        }
                    }
                }
            }
        }
        .btn-box {
            width: 94%;
            a.c-btn3 {
                width: 100%;
                margin: 40px 0px 60px 0px;
                font-size: 1.5rem;
            }
        }
    }
}