/*------------------------------------------------------------
Css of sweets
------------------------------------------------------------*/

.p-sweets {
    //-------------------------------------------------------
    &1 {
        margin: 90px 0 70px;
        .l-container {
            padding-bottom: 70px;
            border-bottom: #cccccc solid 1px;
            h2 {
                @extend .text-title;
                img {
                    margin: auto;
                }
            }
            .sweets-content1 {
                display: flex;
                .item-sweets1-1 {
                    width: 650px;
                    h3 {
                        font-size: 1.6rem;
                        @extend .text-h3;
                        margin-bottom: 30px;
                    }
                    p {
                        font-size: 1.4rem;
                        @extend .text-p;
                    }
                }
                .item-sweets1-2 {
                    img {
                        width: 300px;
                        margin-left: 50px;
                    }
                }
            }
        }
    }
    //-------------------------------------------------------
    &2 {
        .sweets2-content {
            display: flex;
            .item-sweets2-1 {
                width: 300px;
            }
            .item-sweets2-2 {
                width: 700px;
                margin-left: 50px;
                h3 {
                    font-size: 1.6rem;
                    @extend .text-h3;
                    margin-bottom: 30px;
                }
                p {
                    font-size: 1.4rem;
                    @extend .text-p;
                }
            }
        }
    }
    //-------------------------------------------------------
    &3 {
        margin: 180px 0;
        .l-container h2 {
            @extend .text-title;
            img {
                margin: auto;
            }
        }
        .img-content3 {
            img {
                width: $baseWidth;
            }
        }
        .sweets3-content {
            margin: 50px 80px 0 80px;
            p {
                font-size: 1.4rem;
                @extend .text-p;
            }
            h3 {
                font-size: 1.6rem;
                @extend .text-h3;
                padding-bottom: 10px;
                margin-bottom: 10px;
                border-bottom: $color-brown dotted 1px;
            }
        }
    }
    //-------------------------------------------------------
    &4 {
        .l-container h2 {
            @extend .text-title;
            img {
                margin: auto;
            }
        }
        .sweets4-content {
            display: flex;
            .item-sweets4 {
                width: 320px;
                margin-right: 20px;
                border: #cccccc 1px solid;
                padding: 40px 20px;
                &:last-child {
                    margin-right: 0;
                }
                .voice {
                    text-align: center;
                    img {
                        width: 60px;
                        margin-bottom: 35px;
                    }
                }
                h3 {
                    @extend .text-h3;
                    padding-bottom: 10px;
                    border-bottom: #642200 dotted 1px;
                    margin-bottom: 10px;
                }
            }
        }
        .c-btn2 {
            margin: 50px auto 90px 390px;
        }
    }
}

@include breakpoint(sp) {
    .p-sweets {
        //-------------------------------------------------------
        &1 {
            margin: 60px 15px 30px 15px;
            .l-container {
                padding-bottom: 30px;
                .sweets-content1 {
                    flex-direction: column-reverse;
                    .item-sweets1-1 {
                        width: 100%;
                        h3 {
                            font-size: 1.5rem;
                            margin-bottom: 20px;
                        }
                        p {
                            font-size: 1.2rem;
                        }
                        .c-btn2 {
                            width: 100%;
                            font-size: 1.5rem;
                        }
                    }
                    .item-sweets1-2 {
                        text-align: center;
                        img {
                            width: 150px;
                            margin-left: auto;
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }
        //-------------------------------------------------------
        &2 {
            margin: 0 15px 60px 15px;
            .sweets2-content {
                flex-direction: column;
                .item-sweets2-1 {
                    width: 100%;
                    text-align: center;
                    img {
                        width: 150px;
                        margin-left: auto;
                        margin-bottom: 30px;
                    }
                }
                .item-sweets2-2 {
                    width: 100%;
                    margin-left: 0px;
                    h3 {
                        font-size: 1.5rem;
                        margin-bottom: 20px;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                    .c-btn2 {
                        width: 100%;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        //-------------------------------------------------------
        &3 {
            margin: 120px 15px;
            .l-container h2 {
                img {
                    margin: auto;
                }
            }
            .img-content3 {
                img {
                    width: 100%;
                }
            }
            .sweets3-content {
                margin: 30px 0px 0px 0px;
                p {
                    font-size: 1.2rem;
                }
                h3 {
                    font-size: 1.5rem;
                }
            }
        }
        //-------------------------------------------------------
        &4 {
            .l-container {
                width: 95%;
            }
            .sweets4-content {
                flex-direction: column;
                width: 100%;
                margin: auto;
                .item-sweets4 {
                    width: fit-content;
                    margin-right: 0;
                    padding: 35px 15px;
                    margin-bottom: 25px;
                    .voice {
                        img {
                            width: 55px;
                        }
                    }
                }
            }
            .c-btn2 {
                width: 100%;
                margin: 5px auto 60px 0;
            }
        }
    }
}