/*------------------------------------------------------------
btn
------------------------------------------------------------*/


/* wrap c-btn + wrap c-btnlink
------------------------------------------------------------*/

.l-btn {
    //-------------------------------------------------------
    &--center {
        text-align: center;
    }
    //-------------------------------------------------------
    &--right {
        text-align: right;
    }
    //-------------------------------------------------------
    &--left {
        text-align: right;
    }
    //-------------------------------------------------------
    &--full {
        .c-btn {
            width: 100%;
        }
    }
    //-------------------------------------------------------
}

.c-btn {
    display: inline-block;
    text-align: center;
}


/*------------------------------------------------------------
c-btn mainvisual
------------------------------------------------------------*/

.c-btn-mv {
    font-size: 2rem;
    width: 565px;
    padding: 5px 0;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 5px;
    @include breakpoint(sp) {
        width: 291px;
        font-size: 1.6rem;
        padding: 0;
    }
}


/*------------------------------------------------------------
c-btn1
------------------------------------------------------------*/

.c-btn1 {
    @extend .c-btn;
    font-size: 1.2rem;
    line-height: 1.83;
    border-radius: 20px;
    padding: 0 10px;
    @include breakpoint(sp) {
        font-size: 1.1rem;
        line-height: 1.13;
        padding: 3.5px 8px;
        border-radius: 17px;
    }
    &--grey {
        background: $colorGrey;
    }
}


/*------------------------------------------------------------
c-btn2
------------------------------------------------------------*/

.c-btn2 {
    font-family: $mainFonts !important;
    @extend .c-btn;
    font-size: 1.6rem;
    line-height: 2;
    width: 450px;
    font-weight: 700;
    padding: 14px 0;
    margin-bottom: 30px;
    position: relative;
    @include breakpoint(sp) {
        width: 270px;
        padding: 6.5px 0;
        font-size: 1.3rem;
    }
    &--green {
        color: $colorWhite;
        background: $colorGreen;
        box-shadow: 5px 5px 0px 0px $colorBlack;
        border: 0;
        &:after {
            position: absolute;
            right: 20px;
            margin-top: 5px;
            content: url(../img/arrow_white.png);
            @include breakpoint(sp) {
                content: url(../img/arrow_sp_white.png);
                margin-top: 4px;
                right: 29px;
            }
        }
        @include breakpoint(sp) {
            box-shadow: 3px 3px 0px 0px $colorBlack;
        }
        &:hover {
            box-shadow: 5px 5px 0px 0px transparent;
        }
    }
    &--white {
        color: $colorGreen;
        background: $colorWhite;
        border: 2px solid $colorWhite;
        padding: 12px 0;
        @include breakpoint(sp) {
            padding: 3.5px 0;
        }
        &:hover {
            border: 2px solid $colorGreen;
        }
        &:after {
            position: absolute;
            right: 20px;
            margin-top: 5px;
            content: url(../img/arrow_green.png);
            @include breakpoint(sp) {
                content: url(../img/arrow_sp_green.png);
                margin-top: 4px;
                right: 29px;
            }
        }
    }
}


/*------------------------------------------------------------
c-btn3
------------------------------------------------------------*/

.c-btn3 {
    display: inline-block;
    width: 300px;
    border: 2px solid;
    padding: 12px 0;
    font-weight: 700;
    text-align: center;
    @include breakpoint(sp) {
        width: 270px;
        font-size: 1.3rem;
        padding: 5px 0;
    }
    &--white {
        border-color: $colorWhite;
        &:hover {
            background: $colorWhite;
            color: $colorGreen;
        }
    }
}