/*------------------------------------------------------------
title 1
------------------------------------------------------------*/

.c-title1 {
    $root: &;
    text-align: center;
    padding: 8px 0 13px 0;
    width: 500px;
    border: solid 2px;
    margin: 0 auto;
    border-radius: 3px;
    font-weight: bold;
    @include breakpoint(sp) {
        width: 270px;
        padding: 12px 0 15px 0;
    }
    span {
        display: block;
    }
    &__txt1 {
        font-size: 2rem;
        line-height: 1.65;
        @include breakpoint(sp) {
            font-size: 1.4rem;
            line-height: 1.17;
        }
    }
    &__txt2 {
        margin-top: 6px;
        font-size: 2.6rem;
        line-height: 1.2;
        @include breakpoint(sp) {
            font-size: 1.6rem;
            line-height: 1.03;
            margin-top: 8px;
        }
    }
    &--white {
        border-color: #acdeda;
        @include breakpoint(sp) {
            border-color: $colorWhite;
        }
        #{$root}__txt1 {
            color: rgba(255, 255, 255, 0.44);
        }
        #{$root}__txt2 {
            color: $colorWhite;
        }
    }
    &--black {
        border-color: $colorBlack;
        margin-bottom: 45px;
        @include breakpoint(sp) {
            margin-bottom: 25px;
        }
        #{$root}__txt1 {
            color: $colorGreen;
        }
        #{$root}__txt2 {
            color: $colorBlack;
        }
    }
    &--none {
        border: none;
        #{$root}__txt1 {
            color: $colorGreen;
        }
        #{$root}__txt2 {
            color: $colorBlack;
        }
    }
}


/*------------------------------------------------------------
title 2
------------------------------------------------------------*/

.c-title2 {
    text-align: center;
    font-size: 2.4rem;
    margin-bottom: 25px;
    line-height: 1.5;
    @include breakpoint(sp) {
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
}