/*------------------------------------------------------------
form
------------------------------------------------------------*/

.c-form1 {
    padding: 57px 0 10px 0;
    position: relative;
    &__item {
        border-top: 1px solid $colorGrey;
        display: flex;
        padding: 20px 0;
        @include breakpoint(sp) {
            flex-direction: column;
        }
        label {
            width: 250px;
            font-size: 1.6rem;
            font-weight: 700;
            @include breakpoint(sp) {
                width: 100%;
                font-size: 1.4rem;
                margin-bottom: 15px;
            }
        }
        &:nth-child(4) {
            input[type=text] {
                width: 530px;
                @include breakpoint(sp) {
                    width: 100%;
                }
            }
        }
        &:nth-child(7) {
            input[type=text] {
                width: 435px;
                @include breakpoint(sp) {
                    width: 75%;
                }
            }
        }
        &:nth-child(8) {
            border-bottom: 1px solid $colorGrey;
        }
    }
    input[type=text],
    select,
    textarea {
        width: 390px;
        padding: 15px;
        background: #f2f2f2;
        border: none;
        box-sizing: border-box;
        resize: vertical;
        @include breakpoint(sp) {
            width: 100%;
        }
    }
    textarea {
        height: 450px;
        width: 530px;
        height: 210px;
        @include breakpoint(sp) {
            width: 100%;
            height: 150px;
        }
    }
}


/*
------------------------------------------------------------*/

.error {
    margin-top: 5px;
    color: $colorRed;
}

.check-error {
    position: absolute;
    top: 22px;
    color: $colorRed;
}

.c-checkbox {
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
        position: absolute;
        left: -9999px;
    }
    [type="checkbox"]:not(:checked)+label,
    [type="checkbox"]:checked+label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;
    }
    label {
        margin-right: 30px;
        @include breakpoint(sp) {
            margin-right: 15px;
            line-height: 2;
        }
    }
    /* checkbox aspect */
    [type="checkbox"]:not(:checked)+label:before,
    [type="checkbox"]:checked+label:before {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 15px;
        height: 15px;
        border: 1px solid #c2c2c2;
        background: $colorWhite;
    }
    /* checked mark aspect */
    [type="checkbox"]:not(:checked)+label:after,
    [type="checkbox"]:checked+label:after {
        content: "\f00c";
        position: absolute;
        top: 6px;
        left: 1px;
        font-size: 1.5rem;
        color: $colorGreen;
        transition: all .2s;
        font-weight: 700;
        font-family: "Font Awesome 5 Free";
    }
    /* checked mark aspect changes */
    [type="checkbox"]:not(:checked)+label:after {
        opacity: 0;
        transform: scale(0);
    }
    [type="checkbox"]:checked+label:after {
        opacity: 1;
        transform: scale(1);
    }
}