/*------------------------------------------------------------
Posts
------------------------------------------------------------*/


/* Wrap c-posts
---------------------------------------------------------*/

.l-content {
    //-------------------------------------------------------
    &--2cols {
        display: flex;
        flex-wrap: wrap;
        padding: 50px 0 20px 0;
        @include breakpoint(sp) {
            flex-direction: column;
            padding: 30px 15px 10px 15px;
        }
        .c-posts__info {
            width: 570px;
            margin: 0 20px 30px 0;
            @include breakpoint(sp) {
                width: 100%;
                margin-bottom: 0;
                margin-right: 0px;
            }
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }
    //-------------------------------------------------------
    &--3cols {
        border-bottom: 1px solid $colorGrey;
        clear: both;
        display: flex;
        flex-wrap: wrap;
        .c-posts1,
        .c-posts__info {
            max-width: 330px;
            padding-bottom: 100px;
            margin-right: 85px;
            @include breakpoint(sp) {
                width: 300px;
                padding-bottom: 20px;
                margin: 20px auto;
            }
            &:nth-child(3n) {
                margin-right: 0;
                @include breakpoint(sp) {
                    margin: 20px auto;
                }
            }
        }
    }
    //-------------------------------------------------------
}


/* c-posts
---------------------------------------------------------*/

.c-posts {
    //-------------------------------------------------------
    &__info {
        text-align: left;
        display: flex;
        margin: auto;
        @include breakpoint(sp) {}
        &__thumbnail {
            flex: 1;
            img {
                width: 100%;
                @include breakpoint(sp) {
                    padding-bottom: 25px;
                    min-width: 165px;
                    height: auto;
                }
            }
        }
        &__summary {
            background: $colorWhite;
            width: 285px;
            margin-left: -40px;
            margin-top: 25px;
            padding: 25px 5px 30px 20px;
            box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
            flex: 1;
            @include breakpoint(sp) {
                padding: 10px 10px 20px 10px;
                margin-bottom: 25px;
                width: calc(50% + 40px);
                margin-top: 15px;
            }
        }
        &__name {
            font-size: 1.8rem;
            line-height: 1.38;
            font-weight: 700;
            @include breakpoint(sp) {
                font-size: 1.4rem;
                line-height: 1.25;
            }
        }
        &__addr {
            font-size: 1.2rem;
            line-height: 1.83;
            @include breakpoint(sp) {
                font-size: 1.1rem;
                line-height: 1.59;
            }
        }
        &__detail {
            margin: 10px 0 25px 0;
            color: $colorGreen;
            font-weight: 700;
            line-height: 1.78;
            @include breakpoint(sp) {
                margin: 0 0 5px;
                font-size: 1.2rem;
                line-height: 1.5;
            }
        }
    }
    //-------------------------------------------------------
    &1 {
        overflow: hidden;
        position: relative;
        @include breakpoint(sp) {
            margin: auto;
        }
        &__thumbnail {
            width: 330px;
            margin-right: 30px;
            position: relative;
            @include breakpoint(sp) {
                max-width: 300px;
                margin-right: 0px;
            }
        }
        &__summary {
            display: flex;
            margin-top: 15px;
            &__txt {
                width: 300px;
                h3 {
                    font-size: 1.6rem;
                    line-height: 1.65;
                    @include breakpoint(sp) {
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }
                p {
                    margin-top: 5px;
                    font-size: 1.4rem;
                    line-height: 2.35;
                    @include breakpoint(sp) {
                        font-size: 1.1rem;
                        line-height: 1.81;
                    }
                }
            }
            &__icon {
                margin: 20px 0 0 10px;
            }
        }
        .c-cat1 {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}