/*------------------------------------------------------------
category
------------------------------------------------------------*/

.c-cat1 {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 5px 10px;
    color: $colorGreen;
    background: $colorWhite;
    @include breakpoint(sp) {
        font-size: 1.2rem;
        padding: 0px 7px;
    }
}

.c-cat2 {
    border-radius: 18px;
    font-size: 1.6rem;
    line-height: 2.25;
    padding: 0 25px;
    border: 2px solid $colorBlack;
}


/*
------------------------------------------------------------*/