/*------------------------------------------------------------
list
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-list1 {
    padding: 15px 0 50px 0px;
    width: 780px;
    @include breakpoint(sp) {
        width: 100%;
        padding: 17px 15px 35px 15px;
    }
    li {
        padding: 20px 0;
        border-bottom: 1px solid $colorGrey;
        display: flex;
        @include breakpoint(sp) {
            flex-direction: column;
            padding: 10px 0;
        }
        &:first-child {
            border-top: 1px solid $colorGrey;
        }
    }
    &__txt1 {
        margin-right: 40px;
        color: #781111;
        @include breakpoint(sp) {
            font-size: 1.2rem;
            margin-right: 0;
        }
    }
    &__txt2 {
        font-size: 1.6rem;
        @include breakpoint(sp) {
            font-size: 1.3rem;
            line-height: 1.77;
        }
    }
}


/*------------------------------------------------------------
list 2
------------------------------------------------------------*/

.c-list2 {
    padding: 50px 0 20px 0;
    float: right;
    @include breakpoint(sp) {
        float: none;
        text-align: center;
    }
    li {
        display: inline;
        margin-left: 25px;
        @include breakpoint(sp) {
            display: block;
            margin-left: 0px;
        }
    }
    .is-active {
        background-color: $colorGreen;
        color: $colorWhite;
        border: 2px solid $colorGreen;
    }
}


/*------------------------------------------------------------
list 3
------------------------------------------------------------*/