/*------------------------------------------------------------
pagination
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-pagination {
    padding: 65px 0 140px 0;
    text-align: center;
    a {
        border: 3px solid $colorBlack;
        padding: 5px 16px 8px 13px;
        margin-right: 10px;
        font-size: 2rem;
        &.is-active {
            background: $colorBlack;
            color: $colorWhite;
            font-weight: 400;
        }
        &:last-child {
            border: 0;
            margin-right: 0px;
            font-weight: 700;
            font-size: 1.8rem;
        }
        &:first-child {
            border: 0;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }
}