/*------------------------------------------------------------
Text
------------------------------------------------------------*/

.c-txttel {
    &--footer {
        font-size: 2.6rem;
        @include breakpoint(sp) {
            font-size: 1.4rem;
        }
    }
    &--nav {
        font-size: 1.8rem;
    }
}

.c-number {
    &--footer {
        font-size: 4.1rem;
        @include breakpoint(sp) {
            font-size: 1.8rem;
        }
    }
    &--nav {
        font-size: 3rem;
    }
}

.c-text1 {
    background: $colorWhite;
    color: $colorGreen;
    width: 315px;
    text-align: center;
    &--footer {
        font-size: 1.4rem;
        @include breakpoint(sp) {
            margin: auto;
            width: 270px;
            font-size: 1.3rem;
        }
    }
    &--nav {
        margin: auto;
        text-align: center;
        width: 290px;
        font-size: 1.6rem;
        line-height: 0.69;
        padding: 7px 0;
    }
}

.c-text2 {
    display: inline-block;
    font-size: 1.6rem !important;
    width: 290px;
    border: 2px $colorWhite solid;
}


/*
------------------------------------------------------------*/