/*------------------------------------------------------------
slide Full
------------------------------------------------------------*/


/*
------------------------------------------------------------*/


/*------------------------------------------------------------
slide Pickup
------------------------------------------------------------*/

.c-slide2 {
    margin-top: 10px;
    .c-posts1 {
        padding: 50px 0 25px 0;
        background-position: center;
        width: 100%;
        margin: 0px auto;
        @include breakpoint(sp) {
            padding: 35px 0 25px 0;
        }
        &__item {
            background: $colorWhite;
            max-width: 330px;
            margin: 0 7.5px;
            min-height: 330px;
            @include breakpoint(sp) {
                min-height: 240px;
            }
        }
        &__thumbnail {
            width: 100%;
        }
        &__summary {
            text-align: left;
            display: block;
            margin-top: 0;
            padding: 10px 10px 0px 10px;
            h3 {
                font-size: 1.6rem;
                line-height: 1.65;
                margin-bottom: 5px;
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                    line-height: 1.5;
                    margin-bottom: 0;
                }
            }
            p {
                font-size: 1.4rem;
                line-height: 2.35;
                @include breakpoint(sp) {
                    font-size: 1.1rem;
                    line-height: 1.81;
                }
            }
            @include breakpoint(sp) {
                padding: 5px 10px 0px 5px;
            }
        }
    }
    /*
------------------------------------------------------------*/
}

.slick-slide {
    margin: 10px;
    img {
        width: 100%;
    }
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    color: transparent;
    border: none;
    outline: none;
    top: 40%;
    z-index: 9;
    @include breakpoint(sp) {
        display: none !important;
    }
}

.slick-prev {
    background-image: url(../img/prev.png);
    left: 60px;
}

.slick-next {
    background-image: url(../img/next.png);
    right: 60px;
}


/* Dots */

.slick-dots {
    display: block;
    width: 100%;
    padding: 0;
    margin: 20px 0 0;
    list-style: none;
    text-align: center;
    @include breakpoint(sp) {
        margin-top: 7px;
    }
    li {
        position: relative;
        display: inline-block;
        margin: 0 8px;
        padding: 0;
        @include breakpoint(sp) {
            margin: 0 3px;
        }
        cursor: pointer;
        &.slick-active button:before {
            border-radius: 50%;
            margin-top: -2px;
            margin-left: -4px;
            padding: 1.45px 3.1px 1.5px 3.5px;
            border: 1px solid $colorBlack;
            color: $colorBlack;
            @include breakpoint(sp) {
                margin-top: -2px;
                margin-left: -3px;
                padding: 0.5px 2px 1px 2px;
            }
        }
        button {
            font-size: 0;
            line-height: 0;
            display: block;
            padding: 8px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
            @include breakpoint(sp) {
                padding: 4.5px;
            }
            &:before {
                font-family: 'slick';
                font-size: 1rem;
                line-height: 1.4;
                position: absolute;
                content: "\f111";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                color: $colorWhite;
                @include breakpoint(sp) {
                    font-size: 0.7rem;
                }
            }
        }
    }
}