///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/
//.u-anchor:before{
//	content:"";
//	margin-top: -100px;
//	padding-top: 100px;
//}
//------------------------------------------------------------
// margin
//------------------------------------------------------------
.u-mt20 {
    margin-top: 20px;
}

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-red {
    color: $colorRed;
}

.u-green {
    color: $colorGreen;
}