//baseWidth
$baseWidth:1160px;
$contentWidth:1416px;
$mainFonts: 'Noto Sans JP',
sans-serif;
//color common
$colorGreen: #00ada0;
$colorWhite:#fff;
$colorBlack:#000;
$colorGrey:#cccccc;
$colorRed:#ff0000;