/*------------------------------------------------------------
footer
------------------------------------------------------------*/

.c-footer {
    background-image: url(../images/footer_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
    text-align: center;
    .c-logo {
        text-align: center;
        img {
            margin-top: 70px;
            height: 80px;
            margin-bottom: 30px;
        }
    }
    hr {
        color: $color-white;
        width: 230px;
        margin: auto;
    }
    p.text1 {
        font-size: 1.3rem;
        margin: 40px auto;
        line-height: $line-2;
    }
    .socials {
        margin: 40px auto;
        a img {
            width: 40px;
            margin-left: 15px
        }
    }
    p.text2 {
        padding-bottom: 90px;
        font-size: 1.2rem;
    }
}

@include breakpoint(sp) {
    .c-footer {
        .c-logo img {
            width: 67px;
            margin-top: 50px;
            margin-bottom: 35px;
        }
        hr {
            width: 115px;
            text-align: center;
        }
        p.text1 {
            font-size: 1rem;
            margin: 25px auto;
        }
        .socials {
            margin: 35px auto;
            a img {
                width: 35px;
            }
        }
        p.text2 {
            padding-bottom: 60px;
            font-size: 1rem;
        }
    }
}