/* Header
------------------------------------------------------------*/

.c-header-index {
    margin: 20px 20px 0px 20px;
    .c-header-logo {
        position: absolute;
        z-index: 99;
        text-align: center;
        width: $baseWidth;
        .c-logo {
            img {
                width: 150px;
                margin-top: 25vh;
            }
        }
        img.keycatch {
            margin: 6vh auto;
        }
    }
}

@include breakpoint(sp) {
    .c-header-index {
        margin: 10px 10px -10px 10px;
        .c-header-logo {
            width: 100%;
            .c-logo {
                img {
                    height: 130px;
                    width: 112px;
                }
            }
            img.keycatch {
                width: 300px;
                margin: 5vh auto;
            }
        }
    }
}


/* Main menu
------------------------------------------------------------*/

.c-gnav {
    .side-menu-wrapper {
        position: absolute;
        width: $baseWidth;
        text-align: center;
        margin: 75vh auto 0 auto;
        z-index: 99;
        ul {
            padding: 0;
            margin-left: 10vw;
            li {
                float: left;
                a {
                    display: inline-block;
                    padding-right: 50px;
                    // text-decoration: none;
                }
            }
            li.socials a {
                color: $color-white;
                display: inline-block;
                padding-right: 15px;
                margin-top: -10px;
                img {
                    height: 35px;
                    width: 35px;
                    float: right;
                }
            }
        }
    }
}

@include breakpoint(sp) {
    .c-gnav {
        .side-menu-wrapper {
            width: 100%;
            margin: 0vh auto;
            ul {
                margin-left: 0;
                li {
                    float: none;
                    a {
                        padding-right: 0;
                    }
                }
                li.socials a {
                    color: $color-white;
                    display: inline-block;
                    padding-right: 15px;
                    margin-top: -10px;
                    img {
                        height: 35px;
                        width: 35px;
                        float: right;
                    }
                }
            }
        }
        .button_container {
            position: absolute;
            top: 30px;
            right: 30px;
            height: 23px;
            width: 30px;
            cursor: pointer;
            z-index: 999;
            transition: opacity 0.25s ease;
            &.active .top {
                -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
                transform: translateY(11px) translateX(0) rotate(45deg);
                background: $color-brown;
            }
            &.active .middle {
                opacity: 0;
                background: $color-brown;
            }
            &.active .bottom {
                -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
                transform: translateY(-11px) translateX(0) rotate(-45deg);
                background: $color-brown;
            }
            span {
                background: $color-brown;
                border: none;
                height: 2px;
                width: 30px;
                position: fixed;
                top: 0;
                right: 30px;
                margin-top: 30px;
                transition: all 0.35s ease;
                &:nth-of-type(2) {
                    top: 11px;
                }
                &:nth-of-type(3) {
                    top: 22px;
                }
            }
        }
        .overlay {
            position: absolute;
            background: $color-white;
            top: 0;
            left: 0;
            width: 100%;
            height: 0%;
            visibility: hidden;
            transition: opacity 0.35s, visibility 0.35s, height 0.35s;
            overflow: hidden;
            &.open {
                position: fixed;
                visibility: visible;
                height: 100%;
                li {
                    -webkit-animation: fadeInRight 0.5s ease forwards;
                    animation: fadeInRight 0.5s ease forwards;
                    -webkit-animation-delay: 0.35s;
                    animation-delay: 0.35s;
                    &:nth-of-type(2) {
                        -webkit-animation-delay: 0.4s;
                        animation-delay: 0.4s;
                    }
                    &:nth-of-type(3) {
                        -webkit-animation-delay: 0.45s;
                        animation-delay: 0.45s;
                    }
                    &:nth-of-type(4) {
                        -webkit-animation-delay: 0.5s;
                        animation-delay: 0.5s;
                    }
                }
            }
            ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                display: inline-block;
                position: relative;
                height: 100%;
                margin-top: 40px;
                li {
                    display: block;
                    position: relative;
                    opacity: 0;
                    margin-top: 40px;
                    a {
                        display: block;
                        position: relative;
                        text-decoration: none;
                        overflow: hidden;
                        text-align: center;
                        &:hover:after,
                        &:focus:after,
                        &:active:after {
                            width: 100%;
                        }
                        &:after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            width: 0%;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            height: 3px;
                            background: $color-brown;
                            transition: 0.35s;
                            text-align: center;
                        }
                        img {
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
    }
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            left: 20%;
        }
        100% {
            opacity: 1;
            left: 0;
        }
    }
}

// Header sweets
.c-header-sweets {
    background-image: url(../images/header_sweets.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 520px;
    display: flex;
    margin: 0 auto;
    .l-container {
        height: 50%;
        margin: auto;
        width: $baseWidth;
        .c-logo {
            text-align: center;
            img {
                width: 140px;
                margin: auto;
            }
        }
    }
    .c-gnav {
        .side-menu-wrapper {
            margin: 90px auto;
        }
    }
}

@include breakpoint(sp) {
    .c-header-sweets {
        .l-container {
            height: auto;
            width: 100%;
            margin: 30px auto;
            .c-logo {
                img {
                    height: 130px;
                    width: 112px;
                    margin: 150px auto;
                }
            }
        }
        .c-gnav {
            .side-menu-wrapper {
                margin: 0px auto;
            }
        }
    }
}