/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-top {
    //-------------------------------------------------------
    &1 {
        position: relative;
        padding: 25px 0 100px 0;
        @include breakpoint(tablets) {
            padding: 45px 0 70px 0;
        }
        @include breakpoint(sp) {
            padding: 40px 0 40px 0;
        }
        &__content {
            padding-top: 15px;
            text-align: center;
            @include breakpoint(tablets) {
                padding: 0 20px;
            }
            h2 {
                font-size: 3.2rem;
                line-height: 1.75;
                margin-bottom: 22px;
                @include breakpoint(tablets) {
                    font-size: 2rem;
                    line-height: 1.75;
                }
                @include breakpoint(sp) {
                    font-size: 1.6rem;
                    line-height: 1.68;
                }
            }
            p {
                font-size: 1.6rem;
                line-height: 1.875;
                margin-bottom: 30px;
                @include breakpoint(tablets) {
                    margin-bottom: 25px;
                }
                @include breakpoint(sp) {
                    font-size: 1.2rem;
                    line-height: 1.7;
                    margin-bottom: 20px;
                }
            }
            .c-btn1 {
                margin-top: -2px;
                @include breakpoint(tablets) {
                    margin-top: 27px;
                }
                @include breakpoint(sp) {
                    margin-top: 15px;
                    margin-bottom: 25px;
                }
            }
        }
        &__animation {
            @-webkit-keyframes mover {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-10px);
                }
            }
            @keyframes mover {
                0% {
                    transform: translateY(0);
                }
                100% {
                    transform: translateY(-10px);
                }
            }
            &1 {
                background-image: url(../img/content1_imgLeft_bg.png);
                background-repeat: no-repeat;
                position: absolute;
                z-index: 1;
                left: 10px;
                img {
                    float: left;
                    &:nth-child(1) {
                        margin-left: 15px;
                        -webkit-animation: mover 1s infinite alternate;
                        animation: mover 1s infinite alternate;
                    }
                    &:nth-child(2) {
                        margin-top: 265px;
                        margin-left: -55px;
                        -webkit-animation: mover 1.2s infinite alternate;
                        animation: mover 1.2s infinite alternate;
                    }
                    &:nth-child(3) {
                        position: absolute;
                        bottom: -80px;
                        left: 0;
                        -webkit-animation: mover 1.5s infinite alternate;
                        animation: mover 1.5s infinite alternate;
                    }
                }
            }
            &2 {
                background-image: url(../img/content1_imgRight_bg.png);
                background-repeat: no-repeat;
                background-position: center;
                position: absolute;
                right: 0;
                z-index: 1;
                @include breakpoint(tablets) {
                    background-image: none;
                }
                img {
                    float: right;
                    &:nth-child(1) {
                        -webkit-animation: mover 1s infinite alternate;
                        animation: mover 1s infinite alternate;
                    }
                    &:nth-child(2) {
                        margin-top: 360px;
                        margin-right: -34px;
                        -webkit-animation: mover 1.2s infinite alternate;
                        animation: mover 1.2s infinite alternate;
                    }
                    &:last-child {
                        @include breakpoint(tablets) {
                            margin-top: 200px;
                            margin-right: -44px;
                        }
                    }
                }
            }
        }
    }
    //-------------------------------------------------------
    &2 {
        clear: both;
        background: $col_blue;
        display: flex;
        @include breakpoint(tablets) {
            display: block;
        }
        &__title {
            color: $col_white;
            width: 240px;
            position: relative;
            @include breakpoint(tablets) {
                width: 100%;
                padding: 41px 45px;
            }
            @include breakpoint(sp) {
                padding: 13px 20px 10px 20px;
            }
        }
        &__posts {
            flex: 1;
            @include breakpoint(tablets) {
                flex: 0;
            }
            &__item {
                display: flex;
                @include breakpoint(tablets) {
                    flex-direction: column;
                }
                &1,
                &2 {
                    flex: 1;
                    display: flex;
                    @include breakpoint(sp) {
                        flex-direction: column;
                    }
                }
                &1 {
                    @include breakpoint(tablets) {
                        border-bottom: 1px solid $col_greyCC;
                    }
                    @include breakpoint(sp) {
                        border-bottom: 0;
                    }
                }
            }
            &__btn {
                display: flex;
                @include breakpoint(tablets) {
                    flex-direction: column;
                }
                div {
                    display: flex;
                    width: 100%;
                }
            }
        }
    }
    //-------------------------------------------------------
    &3 {
        padding: 65px 0 70px 0;
        background: #f8fff9;
        @include breakpoint(tablets) {
            padding: 65px 20px 70px 20px;
        }
        @include breakpoint(sp) {
            padding: 45px 20px 50px 20px;
        }
    }
    //-------------------------------------------------------
    &4 {
        padding: 65px 0 70px 0;
        border-bottom: solid 1px $col_greyCC;
        @include breakpoint(tablets) {
            padding: 65px 20px 70px 20px;
        }
        @include breakpoint(sp) {
            padding: 40px 20px 50px 20px;
        }
        h2 {
            font-size: 2.5rem;
            text-align: center;
        }
    }
    &5 {
        padding: 65px 0 70px 0;
        @include breakpoint(tablets) {
            padding: 65px 20px 70px 20px;
        }
        @include breakpoint(sp) {
            padding: 45px 20px 50px 20px;
        }
    }
    &6 {
        position: relative;
        iframe {
            width: 100%;
            height: 400px;
            @include breakpoint(sp) {
                height: 225px;
            }
        }
        &__img {
            position: absolute;
            top: -50px;
            left: 50px;
            @include breakpoint(sp) {
                display: none;
            }
        }
    }
    &7 {
        margin-top: -5px;
        display: flex;
        color: $col_white;
        @include breakpoint(sp) {
            flex-direction: column;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.785;
            @include breakpoint(sp) {
                font-size: 1.2rem;
                line-height: 1.66;
                font-weight: 500;
            }
        }
        .block {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__left {
            width: 50%;
            background: #68a3b3;
            @include breakpoint(sp) {
                width: 100%;
                letter-spacing: 1px;
            }
            &Txt {
                width: 490px;
                float: right;
                padding-top: 25px;
                @include breakpoint(tablets) {
                    padding: 25px 0 0 20px;
                }
                @include breakpoint(sp) {
                    width: 100%;
                    padding: 35px 20px 45px 20px;
                }
                .tel {
                    font-weight: bold;
                    margin-top: -10px;
                    margin-bottom: -5px;
                    font-size: 2.6rem !important;
                    letter-spacing: 0.2rem;
                    @include breakpoint(sp) {
                        font-size: 2rem !important;
                        margin-bottom: 0px;
                    }
                }
                .block:last-child {
                    p {
                        font-size: 1.5rem;
                        @include breakpoint(sp) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
        &__right {
            width: 50%;
            background: $col_blue;
            @include breakpoint(sp) {
                width: 100%;
            }
            &Txt {
                width: 490px;
                float: left;
                padding: 30px 0 20px 45px;
                @include breakpoint(tablets) {
                    width: auto;
                    padding-right: 20px;
                }
                @include breakpoint(sp) {
                    width: 100%;
                    padding: 40px 20px 45px 20px;
                }
                h3 {
                    font-size: 1.5rem;
                    @include breakpoint(sp) {
                        font-size: 1.4rem;
                        line-height: 1.7;
                    }
                }
            }
        }
    }
    &8 {
        .l-container {
            display: flex;
            padding: 65px 0;
            @include breakpoint(tablets) {
                display: block;
                width: 100%;
                margin: 0 auto;
            }
            @include breakpoint(sp) {
                padding: 35px 0;
            }
        }
        iframe {
            width: 490px;
            @include breakpoint(sp) {
                width: 100%;
                text-align: center;
                body {
                    margin: auto;
                }
            }
        }
        &__content {
            width: 50%;
            flex: 1;
            @include breakpoint(tablets) {
                width: 100%;
                margin-bottom: 55px;
            }
            @include breakpoint(sp) {
                padding: 0 20px;
                margin-bottom: 45px;
            }
            .c-btn4 {
                margin-top: -27px;
                margin-right: 70px;
                float: right;
                @include breakpoint(tablets) {
                    margin-right: 0;
                }
                @include breakpoint(sp) {
                    margin-top: -21px;
                }
            }
        }
    }
    &10 {
        padding: 55px 0;
        background: #65bdcc;
        color: $col_white;
        @include breakpoint(sp) {
            padding: 25px 0 30px 0;
        }
        .l-container {
            display: flex;
            text-align: center;
            @include breakpoint(sp) {
                display: block;
            }
        }
        p {
            font-size: 1.6rem;
            font-weight: 400;
            @include breakpoint(sp) {
                font-size: 1.4rem;
                margin-bottom: 23px;
            }
        }
        &__item {
            width: 50%;
            @include breakpoint(sp) {
                width: 100%;
            }
            p {
                letter-spacing: 1px;
                &:nth-child(2) {
                    font-weight: bold;
                    font-size: 4.3rem;
                    margin: -12px 0;
                    letter-spacing: 3.5px;
                    @include breakpoint(sp) {
                        font-size: 2rem;
                        margin-bottom: 8px;
                    }
                }
                &.txt_requi {
                    font-weight: bold;
                    margin-bottom: 15px;
                    @include breakpoint(sp) {
                        font-size: 1.5rem;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}