///*------------------------------------------------------------
//Anchor position
//------------------------------------------------------------*/

//------------------------------------------------------------
// color
//------------------------------------------------------------
.u-blue {
    color: #1f53fa;
    text-decoration: underline;
    text-decoration-color: #1f53fa;
}

.u-white {
    color: $col_white;
}

.u-red {
    color: #ff0000;
    text-decoration: underline;
    text-decoration-color: #ff0000;
}

.u-red2 {
    color: #c40000;
    font-weight: bold;
}

.u-orange {
    color: #ff9c00;
    text-decoration: underline;
    text-decoration-color: #ff9c00;
}