//baseWidth
$baseWidth:1000px;
$mainFonts: "游ゴシック",
YuGothic,
"ヒラギノ角ゴ Pro",
"Hiragino Kaku Gothic Pro",
"メイリオ",
"Meiryo",
sans-serif;
//color common
$col_white:#fff;
$col_pink:#ffdfdf;
$col_pink_bold:#f5989d;
$col_green:#a3d39c;
$col_yellow:#fff799;
$col_grey:#afafaf;
$col_yellow_bold:#ffd800;
$col_yellow_light:#fff9da;
$col_orange:#f68e56;
$col_blue:#6dcff6;
$col_blue_bold:#00aeef;
$col_blue_bold2:#11638a;
$col_grey_light:#cccccc;
//border
$bor_grey:1px solid #cccccc;
$bor_grey2:2px solid #cccccc;