/*------------------------------------------------------------
Css of home page
------------------------------------------------------------*/

.p-interview {
    //-------------------------------------------------------
    &1 {
        position: relative;
        @include breakpoint(sp) {
            background: $col_orange_bg;
            padding: 0 20px 250px 20px;
        }
        &__bg {
            margin-top: 70px;
            float: right;
            height: 795px;
            background: $col_orange_bg;
            width: 58.5%;
        }
        .l-container {
            clear: both;
            position: absolute;
            top: 450px;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
            @include breakpoint(sp) {
                position: relative;
                top: 200px;
                left: 0;
                margin-right: 0;
                transform: translate(0);
            }
        }
        &__item1 {
            float: left;
            margin-top: -30px;
            @include breakpoint(sp) {
                float: none;
            }
        }
        &__item2 {
            float: right;
            @include breakpoint(sp) {
                float: none;
                margin-top: 40px;
            }
        }
    }
    //-------------------------------------------------------
    &2 {
        clear: both;
        .l-btn {
            margin: 90px 0 160px 0;
            @include breakpoint(sp) {
                margin: 25px 0 100px 0;
            }
        }
        .l-container {
            @include breakpoint(sp) {
                padding: 25px 12%;
            }
        }
    }
}