@media only screen and (max-width: 767px) {
    body {
        width: 100%;
    }
    .container {
        width: 90%
    }
    .pc-only {
        display: none;
    }
    .sp-only {
        display: block;
    }
}


/*------------------------------------------------------------
      Header
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .header {
        padding: 0;
        height: 620px;
    }
    .header::after {
        top: 618px;
        transform: translate(-50%, 0%);
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #0068b7;
    }
    .header-top {
        border-bottom: #fff 1px solid;
        height: 71px;
    }
    .header-logo {
        display: block;
        float: none;
    }
    .header-logo .logo {
        float: left
    }
    .header .logo img {
        width: 100px;
        height: auto;
        margin-left: 15px;
        margin-top: 8px;
    }
    .header-logo p.logo-txt {
        font-size: 1.2rem;
        margin-top: 45px;
        margin-right: 15px;
        float: right;
    }
    .header-tel {
        display: none;
    }
    .keycatch img {
        width: 300px;
        margin: 20px auto 15px auto !important;
    }
    .header-content p.subcatch {
        font-size: 1.4rem;
        text-align: center;
        line-height: 2;
    }
    .header-content img {
        width: 250px;
        margin: 15px auto 30px auto;
    }
}


/*------------------------------------------------------------
      Point
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .point h2 {
        font-size: 1.8rem;
        color: #000;
        text-align: center;
        margin-top: 38px;
        font-weight: 700;
    }
    .grid-point {
        display: flex;
        flex-direction: column-reverse;
    }
    .point .img-point-SP {
        width: 100%;
        text-align: center;
    }
    .point p.pi {
        position: absolute;
        font-size: 2rem;
        width: 87px;
        height: 87px;
        line-height: 87px;
        left: 50%;
        margin-left: -43px;
    }
    .item-point {
        width: 100%;
    }
    .item-po {
        width: 100%;
    }
    .list-item {
        display: flex;
        flex-direction: column;
        margin: 15px 0;
    }
    .item-po1 {
        margin-right: 0
    }
    .item-po2 {
        text-align: center;
        margin-top: 107px;
    }
    .text-point {
        text-align: left;
    }
    .item1 img {
        width: 210px;
    }
    .item-po2 img {
        width: 85px;
    }
    .point .border {
        border-bottom: #fff000 solid 1rem;
        margin-bottom: 25px;
        margin-top: 30px;
        color: #0068b7;
        font-weight: 700;
        font-size: 1.8rem;
        text-align: center;
    }
    .point .center-img {
        display: none;
    }
    .img-point3 {
        display: block;
        text-align: center;
        margin-bottom: 30px;
    }
}


/*------------------------------------------------------------
      Contact
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .contact {
        display: none;
    }
}


/*------------------------------------------------------------
      Flow
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .flow {
        height: auto;
    }
    .flow .title-case img {
        display: none;
    }
    .flow .case1 span.h2,
    .flow .case2 span.h2 {
        color: #0068b7;
        font-size: 2.4rem;
        text-align: center;
        margin-left: 0;
    }
    .flow h3 {
        line-height: 1.6;
        font-size: 1.6rem;
        color: #000;
        text-align: center;
        margin: 25px 0
    }
    /*------------------------------------------------------------
      Case1
  ------------------------------------------------------------*/
    .columns {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .col {
        width: 100%;
        height: auto;
        margin-bottom: 20px !important;
    }
    table.col-price {
        padding: 0px 20px 20px 20px;
        width: 100%;
    }
    table.col-price td,
    table.col-price th {
        line-height: 2;
        font-size: 1.4rem;
    }
    .bg-lable img.ex {
        width: 95px;
    }
    .img-case1 {
        width: 132px;
        margin-top: -15px !important;
        margin-right: -25px !important;
    }
    /*------------------------------------------------------------
      Case2
  ------------------------------------------------------------*/
    .container-case2 {
        width: 100%
    }
    .block {
        height: auto;
        background: none;
        margin-right: 15px;
        padding-bottom: 50px;
        margin-left: 15px;
    }
    .block ul {
        display: flex;
        flex-direction: column;
    }
    .block ul li.col-block {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .block .yel {
        margin: 0px;
    }
    .block ul li.col-block {
        width: 100%;
    }
    .block .yel {
        background-color: #fff000;
        border: #000 solid 1px;
        width: 100%;
        height: 64px;
    }
    .block p.text,
    .block p.text5 {
        margin-top: 10px
    }
    .kt {
        text-align: center;
    }
    .kt img {
        width: 15px;
        transform: rotate(90deg);
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .number img {
        width: 32px;
        height: 32px;
    }
}


/*------------------------------------------------------------
      Q&A
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .question .img-question-SP {
        text-align: center;
    }
    .question .img-question-SP img {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .question h2 {
        font-size: 2rem;
        font-weight: 600;
        margin-top: 0;
    }
    .question h3 {
        font-size: 1.6rem;
        margin: 20px auto;
    }
    .content-question {
        display: grid;
        grid-template-columns: 100%;
    }
    .content-question .qs1 img.q-float,
    .content-question .qs2 img.q-float {
        float: none;
        display: none;
    }
    .qs1,
    .qs2 {
        padding: 0;
    }
    .qs1 ul li,
    .qs2 ul li {
        margin-bottom: 25px;
    }
    .question .a2,
    .question .q2 {
        font-size: 1.4rem;
        line-height: 2;
    }
    .question .q2 {
        font-weight: 500;
    }
    .img6 {
        text-align: center;
    }
    .img6 img {
        width: 100%;
    }
    .question .h1 {
        font-size: 1.8rem;
        margin: 0px auto 20px auto;
        line-height: 1.7;
    }
    .question h4 {
        font-size: 1.8rem;
        margin: 20px auto 40px auto;
        line-height: 1.7;
    }
    .question .title-question {
        border-bottom: #fff000 solid 10px;
        width: 90%;
        margin: auto;
    }
    .question .q1 img,
    .question .a1 img {
        height: 20px;
        float: none;
        margin: 10px auto;
    }
}


/*------------------------------------------------------------
      Footer
  ------------------------------------------------------------*/

@media only screen and (max-width: 767px) {
    .content-footer {
        width: 100%;
    }
    footer .f-img {
        display: flex;
        flex-direction: column;
    }
    .f-logo {
        width: 90px;
        margin-top: 30px;
    }
    .line-header,
    .line-footer {
        width: 100%;
    }
    footer hr {
        margin-top: 87px;
    }
    .f-item2,
    .f-item3,
    .f-item4 {
        display: none;
    }
    .f-item1 {
        text-align: center;
        margin-right: 0;
    }
    .f-fixed {
        width: 100%;
        display: flex;
        position: fixed;
        bottom: 0;
        z-index: 999;
        height: 45px;
    }
    .f-fixed .fixed-bottom {
        width: 50%;
        text-align: center;
        background-color: #fff000;
        grid-row-start: 0;
    }
    .f-fixed .fixed-bottom a {
        color: #0068b7 !important;
        font-size: 1.4rem;
        text-decoration: none;
        width: 50%;
        line-height: 45px;
    }
    .fixed-bottom1 {
        border-right: 1px solid #0068b7;
    }
    .f-text {
        display: flex;
        flex-direction: column;
    }
    .f-t-item {
        width: 100% !important;
    }
    footer .f-t-item1 p {
        line-height: 2;
        font-size: 1.2rem;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
    }
    footer .f-t-item2 p {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 90px;
    }
}